<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" (click)="goBack()"></ion-icon>
    <ion-title>Crew Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding">
    <ion-text >Job Set-up</ion-text>
  </div>
<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-card class="card" [routerLink]="['job-setup']" >
        <ion-card-content>
           <ion-text>Customer Job Set-up</ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12">
      <ion-card class="card" [routerLink]="['assign-roles']">
        <ion-card-content>
           <ion-text >Assign Roles</ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12">
      <ion-card class="card" [routerLink]="['change-farm-crop']">
        <ion-card-content>
           <ion-text>Change Farm/Crop</ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<div class="padding">
  <ion-text >Combining Tasks</ion-text>
</div>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['start-daily-combining']">
          <ion-card-content>
             <ion-text>Start Daily Combining Job/ Data Collection</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['change-field']">
          <ion-card-content>
             <ion-text>Change Field</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['close-daily-combining']">
          <ion-card-content>
             <ion-text>Close-out Daily Combining Job/ Data Collection</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
