<app-header [title]="'Trucking (Commercial)'" [color]="'trucking'"></app-header>

<!-- Role: Crew Chief-->
<ion-content *ngIf="role ==='crew-chief'">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="card bg-greenBtn" [routerLink]="['create-ticket']">
          <ion-card-content>
            <div class="flex justify-center items-center">
              <ion-icon class="mr-2 text-white w-6 h-6" slot="start" name="add-outline"></ion-icon>
              <p class="font-bold font-Lato font-15px text-white">Create Delivery Ticket</p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['verify-ticket']">
          <ion-card-content>
            <div class="flex justify-center items-center">
              <p class="font-15px font-bold font-Lato">Verify Delivery Tickets</p>
              <span
                class="text-white font-semibold ml-2 bg-project-green w-8 h-6 rounded-full flex justify-center items-center">
                8</span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- Role: Truck Driver-->
<ion-content *ngIf="role ==='truck-driver'">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['job-setup']">
          <ion-card-content>
            <p class="font-15px font-bold font-Lato">Complete Pre-Check Form</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['job-setup']">
          <ion-card-content>
            <p class="font-15px font-bold font-Lato">Create New Delivery Ticket</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['job-setup']">
          <ion-card-content>
            <p class="font-15px font-bold font-Lato">Complete Existing Delivery Ticket</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>