<app-header [title]="'Training Records'" [color]="'training'"></app-header>
<ion-content>
  <app-timer [value]="'11:22:00'"></app-timer>
  <div class="mx-6 mt-6">
    <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato text-9B9BA4"> Trainee</ion-text>
      <ion-text class="font-Lato font-semibold"> Wolf Hehr</ion-text>
    </div>
    <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato text-9B9BA4"> Evaluation Form</ion-text>
      <ion-text class="font-Lato font-semibold"> {{formType}}</ion-text>
    </div>
    <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato text-9B9BA4"> Form Type</ion-text>
      <ion-text class="font-Lato font-semibold"> {{evaluationType === 'paper-form'?'Paper Form' : 'Digital Form'}}</ion-text>
    </div>
    <div class="my-9">
      <div class="ion-text-start mb-3">
        <ion-icon name="checkmark-outline"></ion-icon>
        <ion-text class="font-Lato ml-2 font-semibold"
          >Trainee completed CDL Classroom</ion-text
        >
      </div>
      <div class="ion-text-start">
        <ion-icon name="checkmark-outline"></ion-icon>
        <ion-text class="font-Lato ml-2 font-semibold"
          >Trainee completed Group Practical</ion-text
        >
      </div>
    </div>
    <ion-text class="font-Lato text-xl font-bold px-4"
      >Pre-Trip Check History</ion-text
    >
    <div *ngIf="evaluationType === 'paper-form'">
      <ion-card class="p-3">
      <ion-card-header class="border-b-2 m-0 p-2">
        <ion-text class="font-Lato text-base font-semibold text-black">October 21st, 2021</ion-text>
      </ion-card-header>
      <ion-card-content class="m-0 p-0">
        <div class="mt-4">
          <img src="../../../../../../.././assets/images/record.png" alt="" >
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="p-3">
      <ion-card-header class="border-b-2 m-0 p-2">
        <ion-text class="font-Lato text-base font-semibold text-black">October 21st, 2021</ion-text>
      </ion-card-header>
      <ion-card-content class="m-0 p-0">
        <div class="mt-4">
          <img src="../../../../../../.././assets/images/record.png" alt="" >
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="p-3">
      <ion-card-header class="border-b-2 m-0 p-2">
        <ion-text class="font-Lato text-base font-semibold text-black">October 21st, 2021</ion-text>
      </ion-card-header>
      <ion-card-content class="m-0 p-0">
        <div class="mt-4">
          <img src="../../../../../../.././assets/images/record.png" alt="" >
        </div>
      </ion-card-content>
    </ion-card>
    <ion-button expand="block" class="close-out-button font-Lato mb-4 mt-0 mx-8 bg-opacity-10 text-white">Exit</ion-button>
  </div>

    <div *ngIf="evaluationType === 'digital-form'">
    <ion-card (click)="navigate(formType)">
      <ion-card-content>
        <div class="flex justify-between items-center mb-2">
          <ion-text class="font-Lato text-black font-semibold text-lg">October 21st, 2020</ion-text>
          <ion-text class="font-Lato text-sm text-e64646 bg-E64646 bg-opacity-20 rounded-full px-2 py-1">Overdue</ion-text>
        </div>
        <ion-text>Score: <span class="font-Lato text-black font-semibold">82%</span></ion-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <div class="flex justify-between items-center mb-2">
          <ion-text class="font-Lato text-black font-semibold text-lg">October 21st, 2020</ion-text>
          <ion-text class="font-Lato text-sm text-e64646 bg-E64646 bg-opacity-20 rounded-full px-2 py-1">Overdue</ion-text>
        </div>
        <ion-text>Score: <span class="font-Lato text-black font-semibold">82%</span></ion-text>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="evaluationType === undefined">

      <div class="mx-4">
        <div class="border-b-2 py-2 mt-2">
          <ion-text class="font-Lato font-semibold">Summary CDL Training Records</ion-text>
        </div>
        <div class="flex justify-between items-center my-5">
          <ion-text class="font-Lato text-sm font-semibold text-9B9BA4">Trainee</ion-text>
          <ion-text class="font-Lato text-sm text-black font-semibold">Trevor Black</ion-text>
        </div>
        <div class="flex justify-between items-center my-5">
          <ion-text class="font-Lato text-sm font-semibold text-9B9BA4">Evaluation Form</ion-text>
          <ion-text class="font-Lato text-sm text-black font-semibold">Summary</ion-text>
        </div>
        <div class="my-3"><ion-text class="font-Lato font-semibold">Training Type</ion-text></div>

        <ion-grid>
          <ion-row class="bg-d9d9d95c py-2 px-2">
            <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">Skill</ion-text></ion-col>
            <ion-col size="4" class="ion-text-center"><ion-text class="font-Lato text-black font-semibold">S/U</ion-text></ion-col>
            <ion-col size="3" class="ion-text-end"><ion-text class="font-Lato text-black font-semibold">Time</ion-text></ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row class="my-4">
            <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">CDL Classroom</ion-text></ion-col>
            <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text></ion-col>
            <ion-col size="2" class="ion-text-center"><ion-text class="font-Lato font-semibold">4.35</ion-text></ion-col>
          </ion-row>
          <ion-row class="my-4">
            <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">CDL Group Practicum</ion-text></ion-col>
            <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-e64646 bg-E64646 bg-opacity-10 rounded-full px-3 py-1">Unsatisfactory</ion-text></ion-col>
            <ion-col size="2" class="ion-text-center"><ion-text class="font-Lato font-semibold">4:22</ion-text></ion-col>
          </ion-row>
          <ion-row class="my-4">
            <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">CDL Pre-Trip Chack</ion-text></ion-col>
            <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text></ion-col>
            <ion-col size="2" class="ion-text-center"><ion-text class="font-Lato font-semibold">6</ion-text></ion-col>
          </ion-row>
          <ion-row class="my-4">
            <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">CDL Basic Skills</ion-text></ion-col>
            <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text></ion-col>
            <ion-col size="2" class="ion-text-center"><ion-text class="font-Lato font-semibold">3:24</ion-text></ion-col>
          </ion-row>
          <ion-row class="my-4">
            <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">CDL Road Trip Skills</ion-text></ion-col>
            <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text></ion-col>
            <ion-col size="2" class="ion-text-center"><ion-text class="font-Lato font-semibold">4:35</ion-text></ion-col>
          </ion-row>
        </ion-grid>
        <ion-card>
          <ion-card-content>
            <div class="flex justify-between items-center mb-2">
              <ion-text class="font-Lato font-semibold">Total Training Time:</ion-text>
              <ion-text class="font-Lato text-sm font-semibold text-black px-3 py-1">12hrs 45mins</ion-text>
            </div>
          </ion-card-content>
        </ion-card>
         <ion-button expand="block" class="close-out-button font-Lato mb-8 mt-4 mx-8 bg-opacity-10 text-white">Close</ion-button>
        </div>
  </div>

  </div>
</ion-content>
