<app-header [title]="'Verify Delivery Ticket'" [color]="'harvesting'"></app-header>
<!-- Cart Operator -->
<ion-content *ngIf="role.includes('Cart Operator')">
  <!-- <app-timer [value]="'09:12:14'"></app-timer> -->
  <div class="p-2">
    <div class="segment-style">
      <ion-segment [(ngModel)]="segment" scrollable (ionChange)="segmentChange($event)">
        <ion-segment-button value="sent"> Sent </ion-segment-button>
        <ion-segment-button value="pending"> Pending </ion-segment-button>
        <ion-segment-button value="verified"> Verified </ion-segment-button>
      </ion-segment>

      <div [ngSwitch]="segment">
        <div *ngSwitchCase="'sent'">
          <div *ngIf="(sentTicketLoading$ | async ) === false">
            <ion-card class="sentTicket p-2" *ngFor="let sentTicket of sentTicketData$ | async">
              <div class="flex flex-col">
                <div class="flex flex-row py-2">
                  <div class="flex w-8/12 flex-col">
                    <span class="font-Lato text-lg text-black">{{sentTicket?.customerName}}</span>
                    <span>{{sentTicket?.crop_name}}, {{sentTicket?.state}}</span>
                  </div>
                  <div class="flex w-4/12 flex-col">
                    <div class="flex">
                      <span class="font-Lato text-sm">Ticket#: </span>
                      <span class="font-Lato bg-0165c31a ml-1 h-5 rounded-xl px-2 text-sm text-black"> {{sentTicket.id | slice:0-5 }}</span>
                    </div>
                    <div class="flex justify-end mt-1" (click)="openModal(sentTicket.id)">
                      <span class="bg-blue-500 px-2 py-1 rounded-lg text-white font-Lato">Reassign</span>
                    </div>
                  </div>
                </div>
                <div class="flex justify-between p-0">
                  <div>
                    <span class="font-Lato text-sm">Truck Driver: </span>
                    <span class="font-Lato text-sm text-black">{{sentTicket.truck_driver_name}}</span>
                  </div>
                  <div>
                    <span class="font-Lato text-sm">Destination: </span>
                    <span class="font-Lato text-sm text-black">{{sentTicket.destination}}</span>
                  </div>
                </div>
              </div>
            </ion-card>
          </div>

          <!-- MODAL -->
          <ion-modal class="supervisorModal" #modelToReassign [isOpen]="isReassignModalOpen" (ionModalDidDismiss)="ionModalDidDismiss()">
            <ng-template>
              <ion-header>
                <div class="bg-3D8AA4">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="3" class=" flex justify-center">
                        <div></div>
                      </ion-col>
                      <ion-col size="6" class="flex justify-center"><span
                          class="text-white font-semibold">Change Driver</span></ion-col>
                      <ion-col size="3" class="flex justify-end">
                        <ion-icon name="close-outline" (click)="modelToReassign.dismiss();">
                        </ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </ion-header>
              <div class="overflow-y-auto px-1">
                <form [formGroup]="driverSetupForm">
                  <div class="px-2">
                    <div [ngClass]="add_location_overlay ? 'opacity-100 visible ease-in duration-200' : 'opacity-0 invisible ease-out duration-300'"  role="dialog" aria-modal="true">
                      <div [ngClass]="add_location_overlay ? 'opacity-100 visible scale-100 ease-in duration-200' : 'opacity-0 invisible scale-95 ease-out duration-300'" class="relative z-20 mb-4">
                        <div class="mx-auto max-w-full transform rounded-xl px-0 transition-all">
                          <label class="mb-1 block text-sm font-medium text-gray-700">Truck Driver <span *ngIf="isTruckDriverSelected" class="text-red-400">*</span></label>
                          <div class="flex items-center justify-between gap-x-2 rounded-md">
                            <input (keyup)="truck_driver_search$.next($event.target?.value)"
                             (click)="clickedTruckDriverInput()"
                              [value]="driver_name" #driverInput class="w-full rounded-md border border-gray-300 px-4 py-2 text-gray-900 placeholder:text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500" placeholder="Select Driver" role="" aria-expanded="false" aria-controls="options" />
                          </div>

                          <div *ngIf="(allTruckDrivers | withLoading | async) as allTruckDrivers">
                            <div class="flex items-center justify-center">
                              <ion-spinner *ngIf="allTruckDrivers?.loading" name="crescent" mode="indeterminate" color="primary"></ion-spinner>
                            </div>
                            <ul *ngIf="allTruckDrivers?.value && driverUL" class="absolute -mb-2 max-h-48 w-full scroll-py-2 overflow-y-auto bg-white py-2 text-sm text-gray-800" id="options" role="listbox">
                              <li *ngFor="let driver of (allTruckDrivers?.value)" (click)="selectedDriver(driver)"
                                class="cursor-pointer select-none rounded-md px-4 py-2 hover:bg-gray-200">
                                <div class="flex items-center p-2"> {{driver.name}} </div>
                              </li>
                            </ul>
                            <div *ngIf="allTruckDrivers?.value?.length === 0">
                              <p disabled class="cursor-pointer select-none rounded-md px-4 py-2 text-gray-500 hover:bg-gray-200 hover:font-semibold hover:text-gray-700">No Drivers found!</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <ion-button expand="block" class="font-Lato font-white mt-20 mb-8 text-white" (click)="reassignDriver()">Reassign Driver</ion-button> -->
                  <ion-button expand="block" class="font-Lato text-white w-full mt-20 mb-5" (click)="reassignDriver()"
                    [disabled]="isTruckDriverSelected ||  (loadingSpinner | async)">
                    <div *ngIf="(loadingSpinner | async) === false">Reassign Driver</div>
                    <ion-spinner name="crescent" *ngIf="(loadingSpinner | async)"></ion-spinner>
                  </ion-button>
                </form>
              </div>
            </ng-template>
          </ion-modal>
          <!-- MODAL -->

          <div *ngIf="(sentTicketLoading$ | async ) === true">
            <ion-card class="sentTicket p-2">
              <div class="flex flex-col">
                <div class="flex flex-row py-2">
                  <div class="flex w-8/12 flex-col">
                    <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                    <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                  </div>
                  <div class="flex w-4/12 justify-end">
                    <span class="font-Lato text-sm">Ticket#: </span>
                    <ion-skeleton-text [animated]="true" style="width: 30%; height: 30%; margin-left: 5px"></ion-skeleton-text>
                  </div>
                </div>
                <div class="flex justify-between p-0">
                  <div>
                    <span class="font-Lato text-sm">Truck Driver: </span>
                    <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                  </div>
                  <div>
                    <span class="font-Lato text-sm">Destination: </span>
                    <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                  </div>
                </div>
              </div>
            </ion-card>
          </div>
        </div>

        <div *ngSwitchCase="'pending'">
          <div *ngIf="(pendingTicketLoading$ | async) === false">
            <ion-card class="pendingTicket p-2"  *ngFor="let pendingTicket of pendingTicketData$ | async">
              <div class="flex flex-col">
                <div class="flex flex-row py-2">
                  <div class="flex w-7/12 flex-col">
                    <span class="font-Lato text-lg text-black">{{pendingTicket?.customerName}}</span>
                    <span class="font-Lato">{{pendingTicket?.crop_name}}, {{pendingTicket?.state}}</span>
                  </div>
                  <div class="flex w-5/12 flex-col items-end">
                    <div>
                      <span class="font-Lato text-sm">Ticket#: </span>
                      <span class="font-Lato bg-0165c31a ml-1 h-5 rounded-xl px-2 text-sm text-black"> {{pendingTicket.id | slice:0-5}}</span>
                    </div>
                    <div class="flex justify-between">
                      <button class="bg-FFCD29 font-Lato ml-2 mt-1 rounded-md px-2 py-0 text-sm text-white" (click)="navigate(pendingTicket)">Verify</button>
                      <!-- <button class="bg-project-green font-Lato ml-2 mt-1 rounded-md px-2 py-0 text-sm text-white" (click)="reassignTicket(pendingTicket.delivery_ticket_number)">Reassign</button> -->
                    </div>
                  </div>
                </div>
                <div class="flex justify-between p-0">
                  <div>
                    <span class="font-Lato text-sm">Truck Driver: </span>
                    <span class="font-Lato text-sm text-black">{{pendingTicket.truck_driver_name}}</span>
                  </div>
                  <div>
                    <span class="font-Lato text-sm">Destination: </span>
                    <span class="font-Lato text-sm text-black">{{pendingTicket.destination}}</span>
                  </div>
                </div>
              </div>
            </ion-card>
          </div>

          <div *ngIf="(pendingTicketLoading$ | async) === true">
            <ion-card class="pendingTicket p-2">
              <div class="flex flex-col">
                <div class="flex flex-row py-2">
                  <div class="flex w-8/12 flex-col">
                    <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                    <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                  </div>
                  <div class="flex w-4/12 justify-end">
                    <span class="font-Lato text-sm">Ticket#: </span>
                    <ion-skeleton-text [animated]="true" style="width: 30%; height: 30%; margin-left: 5px"></ion-skeleton-text>
                  </div>
                </div>
                <div class="flex justify-between p-0">
                  <div>
                    <span class="font-Lato text-sm">Truck Driver: </span>
                    <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                  </div>
                  <div>
                    <span class="font-Lato text-sm">Destination: </span>
                    <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                  </div>
                </div>
              </div>
            </ion-card>
          </div>
        </div>

        <div *ngSwitchCase="'verified'">
          <div *ngIf="(verifiedTicketLoading$ | async) === false">
            <ion-card class="verifiedTicket p-2"  *ngFor="let verifiedTicketData of verifiedTicketData$ | async">
              <div class="flex flex-col">
                <div class="flex flex-row py-2">
                  <div class="flex w-7/12 flex-col">
                    <span class="font-Lato text-lg text-black">{{verifiedTicketData?.customerName}}</span>
                    <span class="font-Lato">{{verifiedTicketData?.crop_name}}, {{verifiedTicketData?.state}}</span>
                  </div>
                  <div class="flex w-5/12 flex-col items-end">
                    <div>
                      <span class="font-Lato text-sm">Ticket#: </span>
                      <span class="font-Lato bg-0165c31a ml-1 h-5 rounded-xl px-2 text-sm text-black"> {{verifiedTicketData.id | slice:0-5}}</span>
                    </div>
                    <div>
                      <!-- <button class="bg-project-green text-white rounded-md font-Lato text-sm px-2 py-0 ml-2 mt-1" (click)="reassignTicket(verifiedTicketData.delivery_ticket_number)">Reassign</button> -->
                    </div>
                  </div>
                </div>
                <div class="flex justify-between p-0">
                  <div>
                    <span class="font-Lato text-sm">Truck Driver: </span>
                    <span class="font-Lato text-sm text-black">{{verifiedTicketData.truck_driver_name}}</span>
                  </div>
                  <div>
                    <span class="font-Lato text-sm">Destination: </span>
                    <span class="font-Lato text-sm text-black">{{verifiedTicketData.destination}}</span>
                  </div>
                </div>
              </div>
            </ion-card>
          </div>
          <div *ngIf="(verifiedTicketLoading$ | async) === true">
            <ion-card class="verifiedTicket p-2">
              <div class="flex flex-col">
                <div class="flex flex-row py-2">
                  <div class="flex w-8/12 flex-col">
                    <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                    <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                  </div>
                  <div class="flex w-4/12 justify-end">
                    <span class="font-Lato text-sm">Ticket#: </span>
                    <ion-skeleton-text [animated]="true" style="width: 30%; height: 30%; margin-left: 5px"></ion-skeleton-text>
                  </div>
                </div>
                <div class="flex justify-between p-0">
                  <div>
                    <span class="font-Lato text-sm">Truck Driver: </span>
                    <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                  </div>
                  <div>
                    <span class="font-Lato text-sm">Destination: </span>
                    <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                  </div>
                </div>
              </div>
            </ion-card>
          </div>
        </div>

      </div>
    </div>
  </div>
</ion-content>

<!-- Truck Driver -->
<ion-content *ngIf="role.includes('Truck Driver')">
  <div class="py-2">
    <div class="segment-style">
      <ion-segment [(ngModel)]="segment" scrollable (ionChange)="segmentChangeTruck($event)">
        <ion-segment-button value="received"> Received </ion-segment-button>
        <ion-segment-button value="completed"> Completed </ion-segment-button>
      </ion-segment>
      <div [ngSwitch]="segment">

        <div *ngSwitchCase="'received'">
          <div *ngIf="(sentTicketLoading$ | async) === false">
            <ion-card *ngFor="let sentTicket of sentTicketData$ | async" class="sentTicket px-4 py-2" (click)="navigate(sentTicket)">
              <div class="flex flex-col">
                <div class="flex flex-row py-2">
                  <div class="flex w-8/12 flex-col">
                    <span class="font-Lato text-base">Ticket# <span class="font-Lato bg-0165c31a ml-1 h-5 rounded-xl px-2 text-base text-black">{{sentTicket.id | slice:0-8 }}</span></span>
                    <span class="font-Lato text-base text-gray-900 font-semibold">Farm: <span class="font-Lato font-medium text-gray-700 text-sm">{{sentTicket?.farm_name}}</span> </span>
                    <span class="font-Lato text-base text-gray-900 font-semibold">Crop: <span class="font-Lato font-medium text-gray-700 text-sm">{{sentTicket?.crop_name}}</span></span>
                  </div>
                  <div class="flex-col w-4/12">
                    <div>
                      <span class="font-Lato rounded-full border bg-orange-100 px-3 py-1 text-base text-orange-400">Pending</span>
                    </div>
                    <div class="mt-3">
                      <ion-text class="font-Lato text-base text-gray-900 font-semibold">Field: <span class="font-Lato font-medium text-gray-700 text-sm">{{sentTicket?.field_name}}</span> </ion-text>
                    </div>
                  </div>
                </div>
                <div class="flex justify-between">
                  <div>
                    <span class="font-Lato text-base text-gray-900 font-semibold">Truck Driver: </span>
                    <span class="font-Lato font-medium text-gray-700 text-sm">{{sentTicket.truck_driver_name}}</span>
                  </div>
                  <div>
                    <span class="font-Lato text-base text-gray-900 font-semibold">State: </span>
                    <span class="font-Lato font-medium text-gray-700 text-sm">{{sentTicket.state}}</span>
                  </div>
                </div>
              </div>
            </ion-card>
          </div>
          <div *ngIf="(sentTicketLoading$ | async) === true">
            <ion-card class="sentTicket px-4 py-2">
              <div class="flex flex-col">
                <div class="flex flex-row py-2">
                  <div class="flex w-8/12 flex-col">
                    <span class="font-Lato flex items-center justify-start text-base">Ticket# <ion-skeleton-text [animated]="true" style="width: 30%; margin-left: 5px;"></ion-skeleton-text></span>
                    <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                  </div>
                  <div class="flex w-4/12 justify-end">
                    <div>
                      <span class="font-Lato rounded-full border bg-orange-100 px-3 py-1 text-sm text-orange-400">Pending</span>
                    </div>
                  </div>
                </div>
                <div class="flex justify-between">
                  <div>
                    <span class="font-Lato text-sm">Truck Driver: </span>
                    <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                  </div>
                  <div>
                    <span class="font-Lato text-sm">Destination: </span>
                    <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                  </div>
                </div>
              </div>
            </ion-card>
          </div>
        </div>

        <div *ngSwitchCase="'completed'">
          <div *ngIf="(pendingTicketLoading$ | async) === false">
            <ion-card class="verifiedTicket px-4 py-2" *ngFor="let pendingTicket of pendingTicketData$ |async">
              <div class="flex flex-col">
                <div class="flex flex-row py-2">
                  <div class="flex w-8/12 flex-col">
                    <span class="font-Lato text-base">Ticket# <span class="font-Lato bg-0165c31a ml-1 h-5 rounded-xl px-2 text-base text-black">{{pendingTicket?.id}}</span></span>
                    <span class="text-lg font-bold">{{pendingTicket?.crop_name}}, {{pendingTicket?.state}}</span>
                  </div>
                  <div class="flex w-4/12 justify-end">
                    <div>
                      <span class="font-Lato rounded-full border bg-green-500 px-3 py-1 text-sm text-white">Completed </span>
                    </div>
                  </div>
                </div>
                <div class="flex justify-between">
                  <div>
                    <span class="font-Lato text-sm">Truck Driver: </span>
                    <span class="font-Lato text-sm text-black">{{pendingTicket.truck_driver_name}}</span>
                  </div>
                  <div>
                    <span class="font-Lato text-sm">Destination: </span>
                    <span class="font-Lato text-sm text-black">{{pendingTicket.destination}}</span>
                  </div>
                </div>
              </div>
            </ion-card>
          </div>
          <div *ngIf="(pendingTicketLoading$ | async) === true">
            <ion-card class="verifiedTicket px-4 py-2">
              <div class="flex flex-col">
                <div class="flex flex-row py-2">
                  <div class="flex w-8/12 flex-col">
                    <span class="font-Lato flex items-center justify-start text-base">Ticket# <ion-skeleton-text [animated]="true" style="width: 30%; margin-left: 5px;"></ion-skeleton-text></span>
                    <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                  </div>
                  <div class="flex w-4/12 justify-end">
                    <div>
                      <span class="font-Lato rounded-full border bg-green-500 px-3 py-1 text-sm text-white"> Completed </span>
                    </div>
                  </div>
                </div>
                <div class="flex justify-between">
                  <div>
                    <span class="font-Lato text-sm">Truck Driver: </span>
                    <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                  </div>
                  <div>
                    <span class="font-Lato text-sm">Destination: </span>
                    <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                  </div>
                </div>
              </div>
            </ion-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
