.segment-style {
  // padding-left: 5px;
  ion-segment {
    --background: #3D8AA4;
    ion-segment-button {
      min-width: unset;
      color: #ffffff;
      --border-color: none;
      --indicator-color: none;
      --indicator-box-shadow: 0px 0px 0px 2px #ffffff !important;
      --border-radius: 5px !important;
      font-family: "Lato";
      ion-label {
        font-size: 12px;
      }
    }
  }

  .segment-button-checked {
    color: #ffffff !important;
  }
}

.pendingTicket {
  border-left: 10px solid red;
}

.sentTicket {
  border-left: 10px solid yellow;
}
.progressTicket{
  border-left: 10px solid green;
  // box-shadow: 0px 4px 14px rgba(112, 138, 126, 0.125);

}
.verifiedTicket {
  border-left: 10px solid green;
}
ion-modal.supervisorModal{
  --height: 32%;
  --width: 80%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
ion-icon {
  color: rgb(255, 255, 255);
  font-size: 24px;
}
