.upload-button{
  --background:none;
    --color: #3D8AA4;
    --border-radius: 10px;
    --border-color: #3D8AA4;
    --border-style: solid;
    --border-width: 1px;
    margin-top: 20px;
    // margin-left: 9px;
    ion-icon{
      color: #3D8AA4;
    }
}
ion-progress-bar {
  --background: #F2F3F5;
  --progress-background: #3D8AA4;
  height: 7px;
  border-radius: 10px;
}
ion-spinner {
  --color: #ffffff;
}
