
<app-header [title]="'Assign Roles'" [color]="'harvesting'"></app-header>

<ion-content>
  <app-timer [value]="'13:03:344'"></app-timer>

<div class="p-2 px-4">
  <form [formGroup]="assignForm">
<div class="col-span-12 mb-4">
  <label class="block text-sm font-medium text-gray-700">Combine Operator <span *ngIf="this.assignForm.get('combineOperator').hasError('required')" class="text-red-400" >*</span></label>
  <input
    class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
    formControlName="combineOperator" placeholder="Combine Operator">
</div>
<div class="col-span-12 mb-4">
  <label class="block text-sm font-medium text-gray-700">Kart Operator <span *ngIf="this.assignForm.get('kartOperator').hasError('required')" class="text-red-400">*</span></label>
  <input
    class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
    formControlName="kartOperator" placeholder="Kart Operator">
</div>
<ion-button expand="block" class="font-Lato font-white text-white mt-4" (click)="add()" [disabled]="assignForm.invalid">Add</ion-button>
</form>
<ion-card class="card">
  <ion-grid >
    <ion-row class="">
      <ion-col size="6"  class="">
        <div class=" pl-2 pt-1 border rounded-md border-project-green bg-gray-200">
          <h1 class="font-Lato text-xs font-semibold">Combine Operator</h1>
          <span class="font-Lato text-xs font-semibold">10</span>
        </div>
      </ion-col>
      <ion-col size="6"  class="">
        <div class=" pl-2 pt-1 border rounded-md border-project-green bg-gray-200">
          <h1 class="font-Lato text-xs font-semibold">Kart Operator</h1>
          <span class="font-Lato text-xs font-semibold">30</span>
        </div>
      </ion-col>
    </ion-row>

  <ion-row class="m-1">
    <ion-col size="6" class="p-5 border-b-2">
      <div class="font-Lato font-semibold">Mike </div>
    </ion-col>
    <ion-col size="6" class="p-5 border-b-2">
      <div class="font-Lato 	">William</div>
    </ion-col>
    <ion-col size="6" class="p-5 border-b-2">
      <div class="font-Lato font-semibold	">Mike </div>
    </ion-col>
    <ion-col size="6" class="p-5 border-b-2">
      <div class="font-Lato">William</div>
    </ion-col>
    <ion-col size="6" class="p-5 border-b-2">
      <div class="font-Lato font-semibold	">Mike </div>
    </ion-col>
    <ion-col size="6" class="p-5 border-b-2">
      <div class="font-Lato">William</div>
    </ion-col>
    <ion-col size="6" class="p-5 border-b-2">
      <div class="font-Lato font-semibold	">Mike </div>
    </ion-col>
    <ion-col size="6" class="p-5 border-b-2">
      <div class="font-Lato">William</div>
    </ion-col>
    <ion-col size="6" class="p-5">
      <div class="font-Lato font-semibold	">Mike </div>
    </ion-col>
    <ion-col size="6" class="p-5">
      <div class="font-Lato">William</div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-card>
</div>
</ion-content>
