<app-header [title]="'Assign Roles'" [color]="'harvesting'"></app-header>

<ion-content>
  <!-- <app-timer [value]="'13:03:344'"></app-timer> -->

  <div class="p-2 px-4">
    <div class="flex justify-end">
      <ion-button class="font-Lato text-white h-9 w-24" (click)="viewDetails()">
        View Details
      </ion-button>
    </div>
    <form [formGroup]="assignFormCombine">
      <!-- Combine Operator -->
      <div class="px-2">
        <div [ngClass]="'opacity-100 visible ease-in duration-200'" role="dialog" aria-modal="true">

          <div [ngClass]="'opacity-100 visible scale-100 ease-in duration-200'" class="mb-4 relative z-30">
            <div class="mx-auto max-w-full transform rounded-xl px-0 transition-all">
              <label class="block text-sm font-medium text-gray-700 mb-1">Combine Operator <span
                  *ngIf="isCombineSelected" class="text-red-400">*</span></label>
              <div class="flex items-center justify-between gap-x-2 rounded-md">
                <input (keyup)="combine_search$.next($event.target.value)" (click)="inputClickedCombine()"
                  [value]="combine_name" #combineInput
                  class="{{isFieldDisabled? 'pointer-events-none bg-gray-200 w-full px-4 py-2.5 text-gray-900  placeholder-gray-500 rounded-md border border-gray-300 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500': 'w-full px-4 py-2.5 text-gray-900  placeholder-gray-500 rounded-md border border-gray-300 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500'}}"
                  placeholder="Select Combine" role="" aria-expanded="false" aria-controls="options">
              </div>

              <div *ngIf="allCombineOperators | withLoading | async as allCombineOperators">
                <div class="flex justify-center items-center">
                  <ion-spinner *ngIf="allCombineOperators?.loading" name="crescent" mode="indeterminate"
                    color="primary"></ion-spinner>
                </div>
                <ul *ngIf="allCombineOperators?.value && combineUL"
                  class="-mb-2 max-h-44 scroll-py-2 overflow-y-auto py-2 text-sm text-gray-800 bg-white absolute w-full"
                  id="options" role="listbox">
                  <li *ngFor="let combineOperators of (allCombineOperators?.value.employees)"
                    (click)="listClickedCombine(combineOperators)"
                    [ngClass]="combineOperators.supervisor_id !== '' && combineOperators.supervisor_id !== null? 'disabledLi':'cursor-pointer select-none rounded-md px-4 py-2 hover:bg-gray-200'"
                    role="option" tabindex="-1">
                    <div class="flex items-center p-2 font-Lato">
                      {{combineOperators.first_name}} {{combineOperators.last_name}}
                    </div>
                    <span *ngIf="combineOperators.supervisor_id !== '' && combineOperators.supervisor_id !== null" class="px-2 font-Lato font-semibold">Occupied by supervisor: {{combineOperators.supervisor_name}}</span>

                  </li>
                </ul>
                <div *ngIf="combineUL?.value?.employees?.length === 0">
                  <p disabled
                    class="cursor-pointer select-none rounded-md px-4 py-2 hover:bg-gray-200 text-gray-500 hover:text-gray-700 hover:font-semibold">
                    No combine operator(s) found </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ion-button expand="block" [disabled]="(loadingSpinner | async) || isCombineSelected"
        class="font-Lato font-white text-white mt-4 mb-4" (click)="addCombine()">
        <div *ngIf="(loadingSpinner | async) === false"> Add Combine Operator</div>
        <ion-spinner name="crescent" *ngIf="(loadingSpinner | async)"></ion-spinner>

      </ion-button>
    </form>
    <!-- Cart Operator -->
    <form [formGroup]="assignFormKart">
      <div class="px-2">
        <div [ngClass]="'opacity-100 visible ease-in duration-200'" role="dialog" aria-modal="true">

          <div [ngClass]="'opacity-100 visible scale-100 ease-in duration-200'" class="mb-4 relative z-20">
            <div class="mx-auto max-w-full transform rounded-xl px-0 transition-all">
              <label class="block text-sm font-medium text-gray-700 mb-1">Cart Operator <span *ngIf="isCartSelected"
                  class="text-red-400">*</span></label>
              <div class="flex items-center justify-between gap-x-2 rounded-md">
                <input (keyup)="cart_search$.next($event.target.value)" (click)="inputClickedCart()" [value]="cart_name"
                  #cartInput
                  class="{{isFieldDisabled? 'pointer-events-none bg-gray-200 w-full px-4 py-2.5 text-gray-900  placeholder-gray-500 rounded-md border border-gray-300 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500': 'w-full px-4 py-2.5 text-gray-900  placeholder-gray-500 rounded-md border border-gray-300 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500'}}"
                  placeholder="Select Cart" role="" aria-expanded="false" aria-controls="options">
              </div>

              <div *ngIf="allCartOperators | withLoading | async as allCartOperators">
                <div class="flex justify-center items-center">
                  <ion-spinner *ngIf="allCartOperators?.loading" name="crescent" mode="indeterminate"
                    color="primary"></ion-spinner>
                </div>
                <ul *ngIf="allCartOperators?.value && cartUL"
                  class="-mb-2 max-h-44 scroll-py-2 overflow-y-auto py-2 text-sm text-gray-800 bg-white absolute w-full"
                  id="options" role="listbox">
                  <li *ngFor="let cartOperators of (allCartOperators?.value.employees)"
                    (click)="listClickedCart(cartOperators)"
                    [ngClass]="cartOperators.supervisor_id !== '' && cartOperators.supervisor_id !== null ? 'disabledLi':'cursor-pointer select-none rounded-md px-4 py-2 hover:bg-gray-200'"
                    role="option" tabindex="-1">
                    <div class="flex items-center p-2">
                      {{cartOperators.first_name}} {{cartOperators.last_name}}
                    </div>
                    <span *ngIf="cartOperators.supervisor_id !== '' && cartOperators.supervisor_id !== null" class="px-2 font-Lato font-semibold">Occupied by supervisor: {{cartOperators.supervisor_name}}</span>

                  </li>
                </ul>
                <div *ngIf="combineUL?.value?.employees?.length === 0">
                  <p disabled
                    class="cursor-pointer select-none rounded-md px-4 py-2 hover:bg-gray-200 text-gray-500 hover:text-gray-700 hover:font-semibold">
                    No Cart operator(s) found </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <ion-button expand="block" [disabled]="(loadingSpinner2 | async) || isCartSelected"
        class="font-Lato font-white text-white mt-4" (click)="addKart()">
        <div *ngIf="(loadingSpinner2 | async) === false">Add Cart Operator</div>
        <ion-spinner name="crescent" *ngIf="(loadingSpinner2 | async)"></ion-spinner>
      </ion-button>
    </form>
    <ion-card class="card">
      <ion-grid>
        <ion-row>
          <ion-col size="6" (click)="onClick('Combine Operator')">
            <div
              class=" pl-2 pt-1 border rounded-md {{value === 'Combine Operator'? 'border-3D8AA4 border-2':''}} bg-gray-200">
              <h1 class="font-Lato text-xs font-semibold">Combine Operator</h1>
              <span class="font-Lato text-xs font-semibold">{{combineOperatorData?.count[0]?.count}}</span>
            </div>
          </ion-col>
          <ion-col size="6" (click)="onClick('cart-operator')">
            <div
              class=" pl-2 pt-1 border rounded-md {{value === 'cart-operator'? 'border-3D8AA4 border-2':''}} bg-gray-200">
              <h1 class="font-Lato text-xs font-semibold">Cart Operator</h1>
              <span class="font-Lato text-xs font-semibold">{{cartOperatorData?.count[0]?.count}}</span>
            </div>
          </ion-col>
        </ion-row>
        <div *ngIf="value === 'Combine Operator'">
          <ion-row *ngFor="let combineOperatorData of combineOperatorData?.assigned_roles" class="m-1 flex content-center items-center">
            <ion-col size="9">
              <div class="font-Lato font-semibold">{{combineOperatorData.employee_name}} </div>
            </ion-col>

            <ion-col size="3">
              <ion-button (click)="removeCrewMember(combineOperatorData.employee_id,'Combine Operator')"
                [disabled]="(deleteSpinner | async) && combineOperatorData.employee_id === deleteId">
                <ion-icon class="text-white" name="trash-outline"> </ion-icon>
                <ion-spinner name="crescent" *ngIf="(deleteSpinner | async) && combineOperatorData.employee_id === deleteId"></ion-spinner>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>

        <div *ngIf="value === 'cart-operator'">
          <ion-row *ngFor="let cartOperatorData of cartOperatorData?.assigned_roles" class="m-1 flex content-center items-center">
            <ion-col  size="9">
              <div class="font-Lato font-semibold">{{cartOperatorData.employee_name}}</div>
            </ion-col>

            <ion-col size="3" >
              <ion-button (click)="removeCrewMember(cartOperatorData.employee_id,'Cart Operator')"
                [disabled]="(deleteSpinner | async) && cartOperatorData.employee_id === deleteId">
                <ion-icon class="text-white" name="trash-outline"> </ion-icon>
                <ion-spinner name="crescent" *ngIf="(deleteSpinner | async) && cartOperatorData.employee_id === deleteId"></ion-spinner>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>

      </ion-grid>
    </ion-card>
  </div>
</ion-content>
