
<app-header [title]="'Assign Roles'" [color]="'harvesting'"></app-header>

<ion-content>
  <app-timer [value]="'13:03:344'"></app-timer>

<div class="p-2 px-4">
  <form [formGroup]="assignForm">
<ion-item >
  <ion-label position="floating" class="font-Lato">Combine Operator</ion-label>
  <ion-input placeholder="Enter combine operator name" class="font-Lato" formControlName="combineOperator"></ion-input>
</ion-item>
<ion-text *ngIf="this.assignForm.get('combineOperator').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-0 mt-1">Combine Operator is required</ion-text>
<ion-item >
  <ion-label position="floating" class="font-Lato">Kart Operator</ion-label>
  <ion-input placeholder="Enter kart operator name" class="font-Lato" formControlName="kartOperator"></ion-input>
</ion-item>
<ion-text *ngIf="this.assignForm.get('kartOperator').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-0 mt-1">Kart Operator is required</ion-text>
<ion-button expand="block" class="font-Lato font-white text-white mt-4" (click)="add()" [disabled]="assignForm.invalid">Add</ion-button>
</form>
<ion-card class="card">
  <ion-grid >
    <ion-row class="">
      <ion-col size="6"  class="">
        <div class=" pl-2 pt-1 border rounded-md border-project-green bg-gray-200">
          <h1 class="font-Lato text-xs font-semibold">Combine Operator</h1>
          <span class="font-Lato text-xs font-semibold">10</span>
        </div>
      </ion-col>
      <ion-col size="6"  class="">
        <div class=" pl-2 pt-1 border rounded-md border-project-green bg-gray-200">
          <h1 class="font-Lato text-xs font-semibold">Kart Operator</h1>
          <span class="font-Lato text-xs font-semibold">30</span>
        </div>
      </ion-col>
    </ion-row>

  <ion-row class="m-1">
    <ion-col size="6" class="p-5 border-b-2">
      <div class="font-Lato font-semibold">Mike </div>
    </ion-col>
    <ion-col size="6" class="p-5 border-b-2">
      <div class="font-Lato 	">William</div>
    </ion-col>
    <ion-col size="6" class="p-5 border-b-2">
      <div class="font-Lato font-semibold	">Mike </div>
    </ion-col>
    <ion-col size="6" class="p-5 border-b-2">
      <div class="font-Lato">William</div>
    </ion-col>
    <ion-col size="6" class="p-5 border-b-2">
      <div class="font-Lato font-semibold	">Mike </div>
    </ion-col>
    <ion-col size="6" class="p-5 border-b-2">
      <div class="font-Lato">William</div>
    </ion-col>
    <ion-col size="6" class="p-5 border-b-2">
      <div class="font-Lato font-semibold	">Mike </div>
    </ion-col>
    <ion-col size="6" class="p-5 border-b-2">
      <div class="font-Lato">William</div>
    </ion-col>
    <ion-col size="6" class="p-5">
      <div class="font-Lato font-semibold	">Mike </div>
    </ion-col>
    <ion-col size="6" class="p-5">
      <div class="font-Lato">William</div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-card>
</div>
</ion-content>
