
ion-checkbox {
  --size: 24px;
  --background-checked: #3D8AA4;
  --checkmark-color: rgb(255, 255, 255);
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 1px solid #3D8AA4;
}

.font{
  font-family: 'Lato';
}
ion-item::part(native) {
  background: #F2F3F5;
  border-radius: 10px;
}
.thin-line{
background-color: #939393;
width: 100%;
height: 0.9px;
}
ion-spinner {
  --color: rgb(14 116 144);
}
