<app-header [title]="'Training Records'" [color]="'training'"></app-header>

<!-- CHECKBOXES BLOCK -->
<ion-content *ngIf="formType === 'pre-trip'">
  <app-timer [value]="'33:222:11'"></app-timer>
  <div class="mx-4">
    <div class="border-b-2 py-2 mt-2">
      <ion-text class="font-Lato font-semibold">October 21st, 2020</ion-text>
    </div>
    <div class="flex justify-between items-center my-5">
      <ion-text class="font-Lato text-sm text-9B9BA4">Trainer</ion-text>
      <ion-text class="font-Lato text-sm text-black font-semibold">Mike Allen</ion-text>
    </div>
    <div class="flex justify-between items-center my-5">
      <ion-text class="font-Lato text-sm text-9B9BA4">Total Time</ion-text>
      <ion-text class="font-Lato text-sm text-black font-semibold">2.45 hrs</ion-text>
    </div>
    <div class="my-3"><ion-text class="font-Lato font-semibold">Evaluation Results</ion-text></div>
  <form [formGroup]="preCheckForm">


    <div class="flex justify-between items-center my-3">
     <ion-text class="font-Lato font-medium">Oil Level</ion-text>
      <ion-checkbox disabled [checked]="records?.oilLevel"  slot="start"></ion-checkbox>
    </div>
    <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium" >Coolant Level</ion-text>
       <ion-checkbox disabled  [checked]="records?.coolantLevelEngine" slot="start"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Power Steeling Level</ion-text>
       <ion-checkbox disabled [checked]="records?.powerSteelingLevel" slot="start"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">H20 Pump engine</ion-text>
       <ion-checkbox disabled [checked]="records?.h20" slot="start"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Alternator Belt</ion-text>
       <ion-checkbox disabled [checked]="records?.alternatorBelt" slot="start"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Air Compressor Engine</ion-text>
       <ion-checkbox disabled [checked]="records?.airCompresseorEngine" slot="start"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Leaks & Hoses</ion-text>
       <ion-checkbox disabled [checked]="records?.leaksHoses" slot="start"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Fan & Shroud</ion-text>
       <ion-checkbox disabled [checked]="records?.fanShroud" slot="start"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Radiator</ion-text>
       <ion-checkbox disabled [checked]="records?.radiator" slot="start" ></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Wiring</ion-text>
       <ion-checkbox disabled [checked]="records?.wiring" slot="start"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Steering Box</ion-text>
       <ion-checkbox disabled [checked]="records?.steeringBox" slot="start"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Steering Linkage</ion-text>
       <ion-checkbox disabled [checked]="records?.steeringLinkage" slot="start"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Hoses(Steering)</ion-text>
       <ion-checkbox disabled [checked]="records?.hosesSteering" slot="start"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Turbo</ion-text>
       <ion-checkbox disabled [checked]="records?.turbo" slot="start"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Window Fluid</ion-text>
       <ion-checkbox disabled [checked]="records?.windowFluid" slot="start"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Mirror</ion-text>
       <ion-checkbox disabled [checked]="records?.mirror" slot="start"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Clutch Condition</ion-text>
       <ion-checkbox disabled [checked]="records?.clutchCondition" slot="start"></ion-checkbox>
     </div>

     <div class="flex justify-between items-center my-3">
       <ion-text class="font-Lato font-bold text-lg">Score</ion-text>
       <ion-text class="font-Lato font-bold text-lg">85%</ion-text>
      </div>
    <ion-text class="text-sm font-semibold font-Lato text-black mt-2">Engine Notes</ion-text>
    <ion-item lines="none" class="textarea">
      <ion-textarea [autoGrow]="true"
      disabled=""
      [value]="records?.commentsEngine"
        >
      </ion-textarea>
    </ion-item>
  </form>
     <ion-button expand="block" class="close-out-button font-Lato mb-8 mt-4 mx-8 bg-opacity-10 text-white" (click)="exit()">Exit</ion-button>
 </div>
</ion-content>

<!-- SATISFACTORY & UNSATISFACTORY BLOCK FOR BASIC SKILLS -->
<ion-content *ngIf="formType === 'basic-skills'">
  <app-timer [value]="'33:222:11'"></app-timer>
  <div class="mx-4">
    <div class="border-b-2 py-2 mt-2">
      <ion-text class="font-Lato font-semibold">October 21st, 2020</ion-text>
    </div>
    <div class="flex justify-between items-center my-5">
      <ion-text class="font-Lato text-sm text-9B9BA4">Trainer</ion-text>
      <ion-text class="font-Lato text-sm text-black font-semibold">Mike Allen</ion-text>
    </div>
    <div class="flex justify-between items-center my-5">
      <ion-text class="font-Lato text-sm text-9B9BA4">Total Time</ion-text>
      <ion-text class="font-Lato text-sm text-black font-semibold">2.45 hrs</ion-text>
    </div>
    <div class="my-3"><ion-text class="font-Lato font-semibold">Evaluation Results</ion-text></div>

    <ion-grid>
      <ion-row class="bg-d9d9d95c py-2 px-2">
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">Skill</ion-text></ion-col>
        <ion-col size="4" class="ion-text-center"><ion-text class="font-Lato text-black font-semibold">S/U</ion-text></ion-col>
        <ion-col size="3" class="ion-text-end"><ion-text class="font-Lato text-black font-semibold">Attempts</ion-text></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row class="my-4">
        <ion-col size="6" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">Alley Docking (45/90)</ion-text></ion-col>
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text></ion-col>
        <ion-col size="1" class="ion-text-center"><ion-text class="font-Lato font-semibold">5</ion-text></ion-col>
      </ion-row>
      <ion-row class="my-4">
        <ion-col size="6" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">Off Set Backing</ion-text></ion-col>
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-e64646 bg-E64646 bg-opacity-10 rounded-full px-3 py-1">Unsatisfactory</ion-text></ion-col>
        <ion-col size="1" class="ion-text-center"><ion-text class="font-Lato font-semibold">2</ion-text></ion-col>
      </ion-row>
      <ion-row class="my-4">
        <ion-col size="6" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">Parallel Parking Blind</ion-text></ion-col>
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text></ion-col>
        <ion-col size="1" class="ion-text-center"><ion-text class="font-Lato font-semibold">6</ion-text></ion-col>
      </ion-row>
      <ion-row class="my-4">
        <ion-col size="6" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">Parallel Parking Sight</ion-text></ion-col>
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text></ion-col>
        <ion-col size="1" class="ion-text-center"><ion-text class="font-Lato font-semibold">5</ion-text></ion-col>
      </ion-row>
      <ion-row class="my-4">
        <ion-col size="6" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">Coupling $ Uncoupling</ion-text></ion-col>
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text></ion-col>
        <ion-col size="1" class="ion-text-center"><ion-text class="font-Lato font-semibold">5</ion-text></ion-col>
      </ion-row>
    </ion-grid>
    <ion-card>
      <ion-card-content>
        <div class="flex justify-between items-center mb-2">
          <ion-text class="font-Lato text-black font-semibold">Total Attempts / Results</ion-text>
          <ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text>
        </div>
        <ion-text class="font-Lato text-9B9BA4">Total Attempts: <span class="font-Lato text-black">15</span></ion-text>
      </ion-card-content>
    </ion-card>
     <ion-button expand="block" class="close-out-button font-Lato mb-8 mt-4 mx-8 bg-opacity-10 text-white">Close</ion-button>
    </div>
</ion-content>

<!-- SATISFACTORY & UNSATISFACTORY BLOCK FOR ROAD SKILLS-->
<ion-content *ngIf="formType === 'road-skills'">
  <app-timer [value]="'33:222:11'"></app-timer>
  <div class="mx-4">
    <div class="border-b-2 py-2 my-2">
      <ion-text class="font-Lato font-semibold">October 21st, 2020</ion-text>
    </div>
    <form [formGroup]="roadskillsForm">


      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Trainer <span class="text-red-400">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="trainerName" placeholder="Enter Trainer Name">
      </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Total Time <span class="text-red-400">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="totalTime" placeholder="Enter Total Time">
      </div>
    </form>
    <div class="my-3"><ion-text class="font-Lato font-semibold">Road Test Evaluation Results</ion-text></div>
    <ion-grid>
      <ion-row class="bg-d9d9d95c py-2 px-2">
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">Skill</ion-text></ion-col>
        <ion-col size="4" class="ion-text-center"><ion-text class="font-Lato text-black font-semibold">S/U</ion-text></ion-col>
        <ion-col size="3" class="ion-text-end"><ion-text class="font-Lato text-black font-semibold">Attempts</ion-text></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row class="my-4">
        <ion-col size="6" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">Left Turns</ion-text></ion-col>
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text></ion-col>
        <ion-col size="1" class="ion-text-center"><ion-text class="font-Lato font-semibold">5</ion-text></ion-col>
      </ion-row>
      <ion-row class="my-4">
        <ion-col size="6" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">Right Turns</ion-text></ion-col>
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-e64646 bg-E64646 bg-opacity-10 rounded-full px-3 py-1">Unsatisfactory</ion-text></ion-col>
        <ion-col size="1" class="ion-text-center"><ion-text class="font-Lato font-semibold">2</ion-text></ion-col>
      </ion-row>
      <ion-row class="my-4">
        <ion-col size="6" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">Intersection Stop</ion-text></ion-col>
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text></ion-col>
        <ion-col size="1" class="ion-text-center"><ion-text class="font-Lato font-semibold">6</ion-text></ion-col>
      </ion-row>
      <ion-row class="my-4">
        <ion-col size="6" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">Intersection Thru</ion-text></ion-col>
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text></ion-col>
        <ion-col size="1" class="ion-text-center"><ion-text class="font-Lato font-semibold">5</ion-text></ion-col>
      </ion-row>
      <ion-row class="my-4">
        <ion-col size="6" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">Interstate</ion-text></ion-col>
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text></ion-col>
        <ion-col size="1" class="ion-text-center"><ion-text class="font-Lato font-semibold">5</ion-text></ion-col>
      </ion-row>
      <ion-row class="my-4">
        <ion-col size="6" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">Urban Business</ion-text></ion-col>
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text></ion-col>
        <ion-col size="1" class="ion-text-center"><ion-text class="font-Lato font-semibold">5</ion-text></ion-col>
      </ion-row>
      <ion-row class="my-4">
        <ion-col size="6" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">Lance Changes</ion-text></ion-col>
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text></ion-col>
        <ion-col size="1" class="ion-text-center"><ion-text class="font-Lato font-semibold">5</ion-text></ion-col>
      </ion-row>
      <ion-row class="my-4">
        <ion-col size="6" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">Curve</ion-text></ion-col>
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text></ion-col>
        <ion-col size="1" class="ion-text-center"><ion-text class="font-Lato font-semibold">5</ion-text></ion-col>
      </ion-row>
      <ion-row class="my-4">
        <ion-col size="6" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">Roadside Start/Stop</ion-text></ion-col>
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text></ion-col>
        <ion-col size="1" class="ion-text-center"><ion-text class="font-Lato font-semibold">5</ion-text></ion-col>
      </ion-row>
      <ion-row class="my-4">
        <ion-col size="6" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">RR Crodsing</ion-text></ion-col>
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text></ion-col>
        <ion-col size="1" class="ion-text-center"><ion-text class="font-Lato font-semibold">5</ion-text></ion-col>
      </ion-row>
      <ion-row class="my-4">
        <ion-col size="6" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">Signs</ion-text></ion-col>
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text></ion-col>
        <ion-col size="1" class="ion-text-center"><ion-text class="font-Lato font-semibold">5</ion-text></ion-col>
      </ion-row>
      <ion-row class="my-4">
        <ion-col size="6" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">General Driving</ion-text></ion-col>
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text></ion-col>
        <ion-col size="1" class="ion-text-center"><ion-text class="font-Lato font-semibold">5</ion-text></ion-col>
      </ion-row>
      <ion-row class="my-4">
        <ion-col size="6" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">eLog Practical</ion-text></ion-col>
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text></ion-col>
        <ion-col size="1" class="ion-text-center"><ion-text class="font-Lato font-semibold">5</ion-text></ion-col>
      </ion-row>
    </ion-grid>
    <ion-card>
      <ion-card-content>
        <div class="flex justify-between items-center mb-2">
          <ion-text class="font-Lato text-black font-semibold">Total Attempts / Results</ion-text>
          <ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text>
        </div>
        <ion-text class="font-Lato text-9B9BA4">Total Attempts: <span class="font-Lato text-black">15</span></ion-text>
      </ion-card-content>
    </ion-card>
     <ion-button expand="block" class="close-out-button font-Lato mb-8 mt-4 mx-8 bg-opacity-10 text-white" (click)="exit()">Exit</ion-button>
    </div>
</ion-content>

<!-- SATISFACTORY & UNSATISFACTORY BLOCK FOR SUMMARY -->
<ion-content *ngIf="formType === 'summary'">
  <app-timer [value]="'33:222:11'"></app-timer>
  <div class="mx-4">
    <div class="border-b-2 py-2 mt-2">
      <ion-text class="font-Lato font-semibold">Summary CDL Training Records</ion-text>
    </div>
    <div class="flex justify-between items-center my-5">
      <ion-text class="font-Lato text-sm font-semibold text-9B9BA4">Trainee</ion-text>
      <ion-text class="font-Lato text-sm text-black font-semibold">Trevor Black</ion-text>
    </div>
    <div class="flex justify-between items-center my-5">
      <ion-text class="font-Lato text-sm font-semibold text-9B9BA4">Evaluation Form</ion-text>
      <ion-text class="font-Lato text-sm text-black font-semibold">Summary</ion-text>
    </div>
    <div class="my-3"><ion-text class="font-Lato font-semibold">Training Type</ion-text></div>

    <ion-grid>
      <ion-row class="bg-d9d9d95c py-2 px-2">
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">Skill</ion-text></ion-col>
        <ion-col size="4" class="ion-text-center"><ion-text class="font-Lato text-black font-semibold">S/U</ion-text></ion-col>
        <ion-col size="3" class="ion-text-end"><ion-text class="font-Lato text-black font-semibold">Time</ion-text></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row class="my-4">
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">CDL Classroom</ion-text></ion-col>
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text></ion-col>
        <ion-col size="2" class="ion-text-center"><ion-text class="font-Lato font-semibold">4.35</ion-text></ion-col>
      </ion-row>
      <ion-row class="my-4">
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">CDL Group Practicum</ion-text></ion-col>
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-e64646 bg-E64646 bg-opacity-10 rounded-full px-3 py-1">Unsatisfactory</ion-text></ion-col>
        <ion-col size="2" class="ion-text-center"><ion-text class="font-Lato font-semibold">4:22</ion-text></ion-col>
      </ion-row>
      <ion-row class="my-4">
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">CDL Pre-Trip Chack</ion-text></ion-col>
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text></ion-col>
        <ion-col size="2" class="ion-text-center"><ion-text class="font-Lato font-semibold">6</ion-text></ion-col>
      </ion-row>
      <ion-row class="my-4">
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">CDL Basic Skills</ion-text></ion-col>
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text></ion-col>
        <ion-col size="2" class="ion-text-center"><ion-text class="font-Lato font-semibold">3:24</ion-text></ion-col>
      </ion-row>
      <ion-row class="my-4">
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-black font-semibold">CDL Road Trip Skills</ion-text></ion-col>
        <ion-col size="5" class="ion-text-start"><ion-text class="font-Lato text-sm text-project-green bg-project-green bg-opacity-10 rounded-full px-3 py-1">Satisfactory</ion-text></ion-col>
        <ion-col size="2" class="ion-text-center"><ion-text class="font-Lato font-semibold">4:35</ion-text></ion-col>
      </ion-row>
    </ion-grid>
    <ion-card>
      <ion-card-content>
        <div class="flex justify-between items-center mb-2">
          <ion-text class="font-Lato font-semibold">Total Training Time:</ion-text>
          <ion-text class="font-Lato text-sm font-semibold text-black px-3 py-1">12hrs 45mins</ion-text>
        </div>
      </ion-card-content>
    </ion-card>
     <ion-button expand="block" class="close-out-button font-Lato mb-8 mt-4 mx-8 bg-opacity-10 text-white">Close</ion-button>
    </div>
</ion-content>

