ion-radio {
  --border-radius: 4px;
  --inner-border-radius: 4px;

  --color: #ddd;
  --color-checked: #5BBE62;
}

ion-radio.ios {
  width: 25px;
  height: 25px;

  border: 2px solid #ddd;
  border-radius: 13px;
}

.radio-checked.ios {
  border-color: #5BBE62;
}
