<app-header [title]="'Training'"></app-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-card class="h-32 bg-project-green m-0">
        <ion-card-content class="flex flex-col justify-center items-center">
          <ion-icon name="image-outline" class="w-8 h-8"></ion-icon>
          <ion-text class="font-Lato font-medium text-xl mt-5 text-white">Trainee</ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card class="h-32 bg-project-green m-0">
        <ion-card-content class="flex flex-col justify-center items-center">
          <ion-icon name="image-outline" class="w-8 h-8"></ion-icon>
          <ion-text class="font-Lato font-medium text-xl mt-5">Trainer</ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
