<app-header [title]="'View/Complete Pre-Trip Check Form'" [color]="'trucking'"></app-header>

<ion-content>
  <app-timer [value]="'11-12-2022'"></app-timer>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="card bg-greenBtn" [routerLink]="['pre-trip-form']">
          <ion-card-content>
            <div class="flex justify-center items-center">
              <ion-icon class="mr-2 text-white w-6 h-6" slot="start" name="add-outline"></ion-icon>
              <p class="font-bold font-Lato font-15px text-white">New Pre-Trip Check Form</p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
  <div class="mx-6">
    <div class="flex justify-between items-center">
      <ion-text class="font-Lato font-semibold">Prior Pre-Trip Check Forms</ion-text>
      <ion-select placeholder="This Month">
        <ion-select-option value="month" class="font-Lato">Month</ion-select-option>
        <ion-select-option value="year" class="font-Lato">Year</ion-select-option>
        <ion-select-option value="week" class="font-Lato">Week</ion-select-option>
      </ion-select>
    </div>
    <ion-card class="m-1 mb-2" [routerLink]="['pre-check-form-detail']">
      <ion-card-content class="flex flex-col py-2">
        <ion-text class="font-Lato font-semibold text-lg text-black ion-text-start"> October 21st,2022</ion-text>
        <div class="flex justify-between mt-3 mb-2">
          <ion-text class=" font-Lato text-9B9BA4 ion-text-start text-base">Inspected by (Truck Driver)</ion-text>
          <ion-text class="ion-text-end font-Lato font-semibold text-black text-sm">Bob Higgins</ion-text>
        </div>
        <div class="flex justify-between ">
          <ion-text class=" font-Lato text-9B9BA4 ion-text-start">Unsatisfactory Items</ion-text>
          <ion-text class="  font-Lato text-red-600">02</ion-text>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="m-1 mb-2" [routerLink]="['pre-check-form-detail']">
      <ion-card-content class="flex flex-col py-2">
        <ion-text class="font-Lato font-semibold text-lg text-black ion-text-start"> October 21st,2022</ion-text>
        <div class="flex justify-between mt-3 mb-2">
          <ion-text class=" font-Lato text-9B9BA4 ion-text-start text-base">Inspected by (Truck Driver)</ion-text>
          <ion-text class="ion-text-end font-Lato font-semibold text-black text-sm">Bob Higgins</ion-text>
        </div>
        <div class="flex justify-between ">
          <ion-text class=" font-Lato text-9B9BA4 ion-text-start">Unsatisfactory Items</ion-text>
          <ion-text class="  font-Lato text-red-600">02</ion-text>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="m-1 mb-2" [routerLink]="['pre-check-form-detail']">
      <ion-card-content class="flex flex-col py-2">
        <ion-text class="font-Lato font-semibold text-lg text-black ion-text-start"> October 21st,2022</ion-text>
        <div class="flex justify-between mt-3 mb-2">
          <ion-text class=" font-Lato text-9B9BA4 ion-text-start text-base">Inspected by (Truck Driver)</ion-text>
          <ion-text class="ion-text-end font-Lato font-semibold text-black text-sm">Bob Higgins</ion-text>
        </div>
        <div class="flex justify-between ">
          <ion-text class=" font-Lato text-9B9BA4 ion-text-start">Unsatisfactory Items</ion-text>
          <ion-text class="  font-Lato text-red-600">02</ion-text>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-button class="upload-button">
      View All
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>