<app-header [title]="['Pre-Trip Check Form Truck']" [color]="'preTripForm'"></app-header>

<ion-content>
  <app-timer [value]="'12-12-2020'"></app-timer>
  <div class="p-4 pb-0">

    <div class="mx-4 my-2">
      <ion-progress-bar class="mb-2" [buffer]="buffer" [value]="progress"></ion-progress-bar>
      <ion-text class="text-lg justify-start flex font-Lato text-black ml-2">{{progress * 5}} of 5
        Completed</ion-text>
    </div>

  </div>

  <div class="p-4 pt-0">
    <ion-text>
      <h2 class="font-semibold ml-4">Vehicle / External</h2>
      <p class="ml-4">Please select items that needs M&R attention:</p>
    </ion-text>

    <form [formGroup]="vehicleCheckForm">
      <ion-item>
        <div class="mt-4 mb-6">
          <label class="font-bold">Lights and Reflectors</label>
          <ion-radio-group formControlName="lightsReflectors" value="true" class="radio">
            <div class="flex">
              <ion-item class="h-10" lines="none">
                <ion-radio mode="md" value="true"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">Satisfactory</ion-label>
              </ion-item>
              <ion-item class="h-10 " lines="none">
                <ion-radio mode="md" class="unsatisfactory" value="false"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">UnSatisfactory</ion-label>
              </ion-item>
            </div>
          </ion-radio-group>
          <div
            [ngClass]="this.vehicleCheckForm.get('lightsReflectors').value ==='true' ? 'hidden':'flex bg-slate-200 px-4 mt-4'">
            <ion-textarea formControlName="lightsReflectorsNotes" placeholder=" Add Comments" [autocapitalize]="true">
            </ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="mt-4 mb-6">
          <label class="font-bold">Feul Tank</label>
          <ion-radio-group formControlName="feulTank" value="true" class="radio">
            <div class="flex">
              <ion-item class="h-10" lines="none">
                <ion-radio mode="md" value="true"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">Satisfactory</ion-label>
              </ion-item>
              <ion-item class="h-10 " lines="none">
                <ion-radio mode="md" class="unsatisfactory" value="false"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">UnSatisfactory</ion-label>
              </ion-item>
            </div>
          </ion-radio-group>
          <div
            [ngClass]="this.vehicleCheckForm.get('feulTank').value ==='true' ? 'hidden':'flex bg-slate-200 px-4 mt-4'">
            <ion-textarea formControlName="feulTankNotes" placeholder=" Add Comments" [autocapitalize]="true">
            </ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="mt-4 mb-6">
          <label class="font-bold">Frame and Assembly</label>
          <ion-radio-group formControlName="frameAssembly" value="true" class="radio">
            <div class="flex">
              <ion-item class="h-10" lines="none">
                <ion-radio mode="md" value="true"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">Satisfactory</ion-label>
              </ion-item>
              <ion-item class="h-10 " lines="none">
                <ion-radio mode="md" class="unsatisfactory" value="false"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">UnSatisfactory</ion-label>
              </ion-item>
            </div>
          </ion-radio-group>
          <div
            [ngClass]="this.vehicleCheckForm.get('frameAssembly').value ==='true' ? 'hidden':'flex bg-slate-200 px-4 mt-4'">
            <ion-textarea formControlName="frameAssemblyNotes" placeholder=" Add Comments" [autocapitalize]="true">
            </ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="mt-4 mb-6">
          <label class="font-bold">Drive Line</label>
          <ion-radio-group formControlName="driveLine" value="true" class="radio">
            <div class="flex">
              <ion-item class="h-10" lines="none">
                <ion-radio mode="md" value="true"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">Satisfactory</ion-label>
              </ion-item>
              <ion-item class="h-10 " lines="none">
                <ion-radio mode="md" class="unsatisfactory" value="false"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">UnSatisfactory</ion-label>
              </ion-item>
            </div>
          </ion-radio-group>
          <div
            [ngClass]="this.vehicleCheckForm.get('driveLine').value ==='true' ? 'hidden':'flex bg-slate-200 px-4 mt-4'">
            <ion-textarea formControlName="driveLineNotes" placeholder=" Add Comments" [autocapitalize]="true">
            </ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="mt-4 mb-6">
          <label class="font-bold">Lug Nuts (3)</label>
          <ion-radio-group formControlName="lugNuts" value="true" class="radio">
            <div class="flex">
              <ion-item class="h-10" lines="none">
                <ion-radio mode="md" value="true"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">Satisfactory</ion-label>
              </ion-item>
              <ion-item class="h-10 " lines="none">
                <ion-radio mode="md" class="unsatisfactory" value="false"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">UnSatisfactory</ion-label>
              </ion-item>
            </div>
          </ion-radio-group>
          <div
            [ngClass]="this.vehicleCheckForm.get('lugNuts').value ==='true' ? 'hidden':'flex bg-slate-200 px-4 mt-4'">
            <ion-textarea formControlName="lugNutsNotes" placeholder=" Add Comments" [autocapitalize]="true">
            </ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="mt-4 mb-6">
          <label class="font-bold">Wheels/Rims (5)</label>
          <ion-radio-group formControlName="wheelsRims" value="true" class="radio">
            <div class="flex">
              <ion-item class="h-10" lines="none">
                <ion-radio mode="md" value="true"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">Satisfactory</ion-label>
              </ion-item>
              <ion-item class="h-10 " lines="none">
                <ion-radio mode="md" class="unsatisfactory" value="false"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">UnSatisfactory</ion-label>
              </ion-item>
            </div>
          </ion-radio-group>
          <div
            [ngClass]="this.vehicleCheckForm.get('wheelsRims').value ==='true' ? 'hidden':'flex bg-slate-200 px-4 mt-4'">
            <ion-textarea formControlName="wheelsRimsNotes" placeholder=" Add Comments" [autocapitalize]="true">
            </ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="mt-4 mb-6">
          <label class="font-bold">Tires/Chains (5)</label>
          <ion-radio-group formControlName="tiresChains" value="true" class="radio">
            <div class="flex">
              <ion-item class="h-10" lines="none">
                <ion-radio mode="md" value="true"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">Satisfactory</ion-label>
              </ion-item>
              <ion-item class="h-10 " lines="none">
                <ion-radio mode="md" class="unsatisfactory" value="false"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">UnSatisfactory</ion-label>
              </ion-item>
            </div>
          </ion-radio-group>
          <div
            [ngClass]="this.vehicleCheckForm.get('tiresChains').value ==='true' ? 'hidden':'flex bg-slate-200 px-4 mt-4'">
            <ion-textarea formControlName="tiresChainsNotes" placeholder=" Add Comments" [autocapitalize]="true">
            </ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="mt-4 mb-6">
          <label class="font-bold">Exhaust</label>
          <ion-radio-group formControlName="exhaust" value="true" class="radio">
            <div class="flex">
              <ion-item class="h-10" lines="none">
                <ion-radio mode="md" value="true"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">Satisfactory</ion-label>
              </ion-item>
              <ion-item class="h-10 " lines="none">
                <ion-radio mode="md" class="unsatisfactory" value="false"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">UnSatisfactory</ion-label>
              </ion-item>
            </div>
          </ion-radio-group>
          <div
            [ngClass]="this.vehicleCheckForm.get('exhaust').value ==='true' ? 'hidden':'flex bg-slate-200 px-4 mt-4'">
            <ion-textarea formControlName="exhaustNotes" placeholder=" Add Comments" [autocapitalize]="true">
            </ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="mt-4 mb-6">
          <label class="font-bold">Battery Box</label>
          <ion-radio-group formControlName="batteryBox" value="true" class="radio">
            <div class="flex">
              <ion-item class="h-10" lines="none">
                <ion-radio mode="md" value="true"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">Satisfactory</ion-label>
              </ion-item>
              <ion-item class="h-10 " lines="none">
                <ion-radio mode="md" class="unsatisfactory" value="false"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">UnSatisfactory</ion-label>
              </ion-item>
            </div>
          </ion-radio-group>
          <div
            [ngClass]="this.vehicleCheckForm.get('batteryBox').value ==='true' ? 'hidden':'flex bg-slate-200 px-4 mt-4'">
            <ion-textarea formControlName="batteryBoxNotes" placeholder=" Add Comments" [autocapitalize]="true">
            </ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="mt-4 mb-6">
          <label class="font-bold">Mirrors</label>
          <ion-radio-group formControlName="mirrors" value="true" class="radio">
            <div class="flex">
              <ion-item class="h-10" lines="none">
                <ion-radio mode="md" value="true"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">Satisfactory</ion-label>
              </ion-item>
              <ion-item class="h-10 " lines="none">
                <ion-radio mode="md" class="unsatisfactory" value="false"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">UnSatisfactory</ion-label>
              </ion-item>
            </div>
          </ion-radio-group>
          <div
            [ngClass]="this.vehicleCheckForm.get('mirrors').value ==='true' ? 'hidden':'flex bg-slate-200 px-4 mt-4'">
            <ion-textarea formControlName="mirrorsNotes" placeholder=" Add Comments" [autocapitalize]="true">
            </ion-textarea>
          </div>
        </div>
      </ion-item>
    </form>

    <ion-button expand="block" class="mt-5 font-Lato  text-white" (click)="submitForm()">Next
    </ion-button>
  </div>
</ion-content>
