
<app-header [title]="'Pre-Trip Check Digital Evaluation Form'" [color]="'training'" [routeValue]="'vehicle-external'" [training_record_id]="training_record_id" [supervisor_id]="supervisor_id"></app-header>

<ion-content>
  <!-- <app-timer [value]="'01:23:45'"></app-timer> -->
  <div class="mx-4 my-2">
    <ion-progress-bar class="mb-2" [buffer]="buffer" [value]="progress" ></ion-progress-bar>
    <ion-text class="text-lg font-semibold justify-start flex font-Lato text-black ">2 of 4 Categories Completed</ion-text>
  </div>

  <form [formGroup]="preTripForm">
    <div class="mx-4">
      <div class="flex justify-between items-center my-3">
       <ion-text class="font-Lato font-medium">Fuel tank securement</ion-text>
        <ion-checkbox slot="start" formControlName="fuel_tank_sec"></ion-checkbox>
      </div>
      <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium" >Fuel tank leaks</ion-text>
         <ion-checkbox slot="start" formControlName="fuel_tank_leaks"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Head rack</ion-text>
         <ion-checkbox slot="start" formControlName="head_rack"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Cab air bags</ion-text>
         <ion-checkbox slot="start" formControlName="cab_air_bags"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Cat walk</ion-text>
         <ion-checkbox slot="start" formControlName="cat_walk"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Cat walk steps</ion-text>
         <ion-checkbox slot="start" formControlName="cat_walk_steps"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Air & electrical lines (truck)</ion-text>
         <ion-checkbox slot="start" formControlName="air_electrical_lines_truck"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Chassis frame</ion-text>
         <ion-checkbox slot="start" formControlName="chassis_frame"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Drive wheel front fender</ion-text>
         <ion-checkbox slot="start" formControlName="wheel_front_fender"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Drive tire hub oil seal (outer)</ion-text>
         <ion-checkbox slot="start" formControlName="tire_hub_oil_outer"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Drive tire hub oil seal (inner)</ion-text>
         <ion-checkbox slot="start" formControlName="tire_hub_oil_inner"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Drive tire rim</ion-text>
         <ion-checkbox slot="start" formControlName="tire_rim"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Drive tire lug nuts</ion-text>
         <ion-checkbox slot="start" formControlName="tire_lug_nuts"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Drive tire valve stem</ion-text>
         <ion-checkbox slot="start" formControlName="tire_valve_stem"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Drive tire sidewalls</ion-text>
         <ion-checkbox slot="start" formControlName="tire_sidewalls"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Drive tires tread</ion-text>
         <ion-checkbox slot="start" formControlName="tires_tread"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Duals - evenly matched</ion-text>
         <ion-checkbox slot="start" formControlName="duals_evenly_matched"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Duals - no rim gaps</ion-text>
         <ion-checkbox slot="start" formControlName="duals_no_rim_gaps"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Duals - tires not touching</ion-text>
         <ion-checkbox slot="start" formControlName="duals_not_touching"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Duals - clear of rocks btw tires</ion-text>
         <ion-checkbox slot="start" formControlName="duals_clear_rocks"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Duals - no mis-match tires</ion-text>
         <ion-checkbox slot="start" formControlName="duals_no_mis_match"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Drive wheel brake drum</ion-text>
         <ion-checkbox slot="start" formControlName="drive_wheel_brake_drum"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Drive wheel brake pads</ion-text>
         <ion-checkbox slot="start" formControlName="drive_wheel_brake_pads"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Drive wheel slack adjuster</ion-text>
         <ion-checkbox slot="start" formControlName="drive_wheel_slack_adjuster"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Drive wheel push rod</ion-text>
         <ion-checkbox slot="start" formControlName="drive_wheel_push_rod"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Drive wheel brake chamber</ion-text>
         <ion-checkbox slot="start" formControlName="drive_wheel_brake_chamber"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Drive wheel brake hoses</ion-text>
         <ion-checkbox slot="start" formControlName="drive_wheel_brake_hoses"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">DW - suspension mounts</ion-text>
         <ion-checkbox slot="start" formControlName="dw_suspension_wheels"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">DW - bushings</ion-text>
         <ion-checkbox slot="start" formControlName="dw_bushings"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">DW - leaf springs</ion-text>
         <ion-checkbox slot="start" formControlName="dw_leaf_springs"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">DW - u bolts</ion-text>
         <ion-checkbox slot="start" formControlName="dw_u_bolts"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">DW - shock absorbers</ion-text>
         <ion-checkbox slot="start" formControlName="dw_shock_absorbers"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">DW - airbags</ion-text>
         <ion-checkbox slot="start" formControlName="dw_airbags"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Top plate/apron</ion-text>
         <ion-checkbox slot="start" formControlName="top_plate_apron"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Sliding plate</ion-text>
         <ion-checkbox slot="start" formControlName="sliding_plate"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">5th wheel</ion-text>
         <ion-checkbox slot="start" formControlName="wheel_5"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Mounting block</ion-text>
         <ion-checkbox slot="start" formControlName="mounting_block"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Sliding frame</ion-text>
         <ion-checkbox slot="start" formControlName="sliding_frame"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Air ram/air line</ion-text>
         <ion-checkbox slot="start" formControlName="air_ram_line"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Release lever</ion-text>
         <ion-checkbox slot="start" formControlName="release_liver"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Locking jaws</ion-text>
         <ion-checkbox slot="start" formControlName="locking_jaws"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Locking pins</ion-text>
         <ion-checkbox slot="start" formControlName="locking_pins"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">King pin</ion-text>
         <ion-checkbox slot="start" formControlName="king_pin"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">5th wheel positioning</ion-text>
         <ion-checkbox slot="start" formControlName="wheel_positioning_5"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Drive shaft</ion-text>
         <ion-checkbox slot="start" formControlName="drive_shaft"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Torison bars</ion-text>
         <ion-checkbox slot="start" formControlName="torison_bars"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Mud flaps</ion-text>
         <ion-checkbox slot="start" formControlName="mud_flaps"></ion-checkbox>
       </div>
       <div class="flex justify-between items-center my-3">
        <ion-text class="font-Lato font-medium">Rear lights</ion-text>
         <ion-checkbox slot="start" formControlName="rear_lights"></ion-checkbox>
       </div>
       <ion-text class="text-sm font-semibold font-Lato text-black mt-2">Add Comments</ion-text>
         <ion-textarea [autoGrow]="true"
         formControlName="commentsVehicle"
         class="border-2 rounded-lg my-2 px-1"
         placeholder="Add your comments here">
         </ion-textarea>
      </div>
      <div class="ion-text-center my-5">
        <ion-text class="bg-3D8AA4 bg-opacity-10 text-3D8AA4 font-medium font-Lato border-2 border-opacity-60 rounded-lg border-3D8AA4 px-5 py-2">Score = {{result}}%</ion-text>
       </div>
          <ion-button [disabled]="loadingSpinner |async" class="close-out-button font-Lato mb-4 mt-0 mx-8 bg-opacity-10 text-white" expand="block" (click)="submit()">
            <div *ngIf="(loadingSpinner | async) === false">Next</div>
            <ion-spinner name="crescent" *ngIf="(loadingSpinner | async)"></ion-spinner>
          </ion-button>

  </form>
</ion-content>
