ion-checkbox {
    --size: 24px;
    --background-checked: #3D8AA4;
    --checkmark-color: rgb(255, 255, 255);
  }

  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 1px solid #3D8AA4;
  }

ion-progress-bar {
    --background: #F2F3F5;
    --progress-background: #3D8AA4;
    height: 7px;
    border-radius: 10px;
  }
  ion-spinner {
    --color: #ffffff;
  }
  ion-modal {
    --height: 25%;
    --width:70%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }

  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }

  ion-modal ion-toolbar {
    --background: rgb(14 116 144);
    --color: white;
  }
