<ion-content>
  <div class="px-5">
    <div class="flex justify-center items-center h-56">
      <img src="../../../assets/images/logo.svg" alt="" class="w-56 h-56">
    </div>
    <div class="text-center font-semibold font-Lato text-2xl">Welcome</div>
    <div class="text-center text-6D7885 font-Lato text-base">Login to your account</div>
    <div class="col-span-12 mb-4">
      <label class="block text-sm font-medium text-gray-700">Email <span class="text-red-400">*</span></label>
      <input
        class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
        placeholder="Enter email">
    </div>
    <div class="col-span-12 mb-4">
      <label class="block text-sm font-medium text-gray-700">Password <span class="text-red-400">*</span></label>
      <div class="flex">
        <input [type]="!showPassword? 'password': 'text'"
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          placeholder="Enter Password">
        <div class="absolute right-8 mt-4">
          <a class="type-toggle" (click)="toggleShow()">
            <ion-icon class="show-option" size="small" [hidden]="showPassword" name="eye-off-outline"></ion-icon>
            <ion-icon class="hide-option" size="small" [hidden]="!showPassword" name="eye-outline"></ion-icon>
          </a>
        </div>
      </div>
    </div>

    <div class="text-end text-3D8AA4 font-Lato font-semibold">
      <a href="">Forgot Password?</a>
    </div>
    <ion-button expand="block" class="mt-5 font-Lato text-white text-lg" (click)="navigate()">Login</ion-button>
    <ion-grid>
      <ion-row>
        <ion-col size="3" class="flex justify-center items-center">
          <div class="thinline"></div>
        </ion-col>
        <ion-col size="6" class="flex justify-center items-center">
          <div class="font-Lato">Or continue with</div>
        </ion-col>
        <ion-col size="3" class="flex justify-center items-center">
          <div class="thinline"></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <div class="flex justify-center py-4 rounded-2xl border-2 border-0000001f bg-f2f3f5">
            <div class="h-5">
              <img src="../../../assets/icon/Facebook.png" alt="">
            </div>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="flex justify-center py-4 rounded-2xl border-2 border-0000001f bg-f2f3f5">
            <div class="h-5">
              <img src="../../../assets/icon/LinkedIn.png" alt="">
            </div>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="flex justify-center py-4 rounded-2xl border-2 border-0000001f bg-f2f3f5">
            <div class="h-5">
              <img src="../../../assets/icon/Twitter.png" alt="">
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
