.upload-button{
  --background:none;
    --color: #3D8AA4;
    --border-radius: 10px;
    --border-color: #3D8AA4;
    --border-style: solid;
    --border-width: 1px;
    margin-top: 20px;
    // margin-left: 9px;
    ion-icon{
      color: #3D8AA4;
    }
}
ion-progress-bar {
  --background: #F2F3F5;
  --progress-background: #3D8AA4;
  height: 7px;
  border-radius: 10px;
}
ion-spinner {
  --color: #ffffff;
}
ion-modal {
  --height: 29%;
  --width:70%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}
ion-spinner.main {
  --color: rgb(14 116 144);
}

