<app-header [title]="role ==='dispatcher'? 'Dispatcher Tasks' : ''
|| role === 'tractor-driver'? 'Tractor Driver Tasks': ''" [color]="'farming'"></app-header>

<!-- Role: Dispatcher-->
<ion-content *ngIf="role === 'dispatcher'">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="card bg-greenBtn" [routerLink]="['create-order']">
          <ion-card-content>
            <div class="flex justify-center items-center">
              <ion-icon class="mr-2 text-white w-6 h-6" slot="start" name="add-outline"></ion-icon>
              <p class="font-bold font-Lato font-15px text-white">Create New Work Order</p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['verify-orders']">
          <ion-card-content>
            <div class="flex justify-center items-center">
              <p class="font-15px font-bold font-Lato">Verify New Work Orders</p>
              <span
                class="text-white font-semibold ml-2 bg-project-green w-8 h-6 rounded-full flex justify-center items-center">
                8</span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<!-- Role: Tractor Driver-->
<ion-content *ngIf="role === 'tractor-driver'">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="card bg-greenBtn" [routerLink]="['create-order']">
          <ion-card-content>
            <div class="flex justify-center items-center">
              <ion-icon class="mr-2 text-white w-6 h-6" slot="start" name="add-outline"></ion-icon>
              <p class="font-bold font-Lato font-15px text-white">Create New Work Order</p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['existing-order']">
          <ion-card-content>
            <div class="flex justify-center items-center">
              <p class="font-15px font-bold font-Lato">Complete Existing Work Orders</p>
              <span
                class="text-white font-semibold ml-2 bg-project-green w-8 h-6 rounded-full flex justify-center items-center">
                8</span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['change-field']">
          <ion-card-content>
            <p class="font-bold font-Lato font-15px">Change Field</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['close-out-order']">
          <ion-card-content>
            <p class="font-bold font-Lato font-15px">Close-Out Work Order</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>