<app-header [title]="role ==='dispatcher'? 'Dispatcher Tasks' : ''
|| role === 'tractor-driver'? 'Tractor Driver Tasks': ''" [color]="'farming'"></app-header>

<!-- Role: Dispatcher-->
<ion-content class="homeScreen" *ngIf="role === 'dispatcher' && !isModalOpen">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="card bg-greenBtn" [routerLink]="['create-order']">
          <ion-card-content>
            <div class="flex justify-center items-center">
              <ion-icon class="mr-2 text-white w-6 h-6" slot="start" name="add-outline"></ion-icon>
              <p class="font-bold font-Lato font-15px text-white">Create New Work Order</p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['verify-orders']">
          <ion-card-content>
            <div class="flex justify-center items-center">
              <p class="font-15px font-bold font-Lato">Verify Work Orders</p>
              <ion-spinner class="ml-4 justify-center items-center flex" *ngIf="pendingOrdersCount < 0" name="crescent"
                mode="indeterminate" color="primary"></ion-spinner>

              <span *ngIf="pendingOrdersCount > -1"
                class="text-white font-semibold ml-2 bg-project-green w-8 h-6 rounded-full flex justify-center items-center">
                {{pendingOrdersCount}}</span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<!-- Role: Tractor Driver-->
<ion-content class="homeScreen" *ngIf="role === 'tractor-driver' && !isModalOpen">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="card bg-greenBtn" [routerLink]="['create-order']">
          <ion-card-content>
            <div class="flex justify-center items-center">
              <ion-icon class="mr-2 text-white w-6 h-6" slot="start" name="add-outline"></ion-icon>
              <p class="font-bold font-Lato font-15px text-white">Create New Work Order</p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['existing-order']">
          <ion-card-content>
            <div class="flex justify-center items-center">
              <p class="font-15px font-bold font-Lato">Complete Existing Work Order (Dispatched)</p>
              <ion-spinner class="ml-4 justify-center items-center flex" *ngIf="sentOrdersCount < 0" name="crescent"
                mode="indeterminate" color="primary"></ion-spinner>

              <span *ngIf="sentOrdersCount > -1"
                class="text-white font-semibold ml-2 bg-project-green w-8 h-6 rounded-full flex justify-center items-center">
                {{sentOrdersCount}}</span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card class="card" [disabled]="workOrderCount > 0" [routerLink]="['submit-beginning-day']">
          <ion-card-content>
            <p class="font-bold font-Lato font-15px">Submit Beginning of Day Work Data</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card class="card" [disabled]="workOrderCount <= 0" [routerLink]="['submit-end-day']">
          <ion-card-content>
            <p class="font-bold font-Lato font-15px">Submit End of Day Work Data</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card class="card" [disabled]="workOrderCount <= 0" [routerLink]="['close-out-order']">
          <ion-card-content>
            <p class="font-bold font-Lato font-15px">Close-Out Work Order</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content class="homeScreen" *ngIf="isModalOpen">
  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>Check-In/Check-Out</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <ion-content class="ion-padding"> -->
    <!-- <ion-button expand="block" (click)="setOpen(true)">Open</ion-button> -->
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Check-In/Check-Out</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
            reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui. Eaque,
            dicta.
          </p>
        </ion-content>
      </ng-template>
    </ion-modal>
  <!-- </ion-content> -->
</ion-content>
