ion-header {
  .toolbar {
    color: #fff;
    padding: 6px 0px;
    text-overflow: unset;
    white-space: unset;

    //  text-overflow: ellipsis !important;
    //  white-space: normal;
    //  position: static;
    ion-title {
      // text-overflow: ellipsis !important;
      // white-space: normal;
      // position: static;
      text-overflow: unset;
      white-space: unset;
    }


    &.harvesting {
      --background: #129476;
    }

    &.training {
      --background: #0CA3C7;
    }

    &.dwr {
      --background: #59C64F;
    }

    &.maintenance-repair {
      --background: #FF7272;
    }

    &.farming {
      --background: #961818;
    }

    &.trucking {
      --background: #4256F9;
    }

    &.others {
      --background: #455769;
    }

    &.preTripForm {
      --background: #3D8AA4;
    }

    ion-icon {
      zoom: 1.8;
    }
  }
}
