<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" (click)="goBack()"></ion-icon>
    <ion-title class="font-Lato">Close-out Kart Operator Job</ion-title>
  </ion-toolbar>
</ion-header>
 <ion-content>
  <div class="p-4">
<ion-grid class="mt-2">
  <ion-row>
    <ion-col size="6" class="">
    <div class="flex justify-start items-center ">
      <ion-icon name="time-outline" class="w-6 h-6" [ngStyle]="{'color':'#888B8D'}"></ion-icon>
      <span class="ml-2 text-md font-Lato"  [ngStyle]="{'color':'#888B8D'}">09:00 AM</span>
    </div>
    </ion-col>
    <ion-col size="6" class="">
      <div class="flex justify-center items-center">
        <ion-icon name="calendar-outline" class="w-6 h-6" [ngStyle]="{'color':'#888B8D'}"></ion-icon>
        <span class="ml-2 text-md font-Lato"  [ngStyle]="{'color':'#888B8D'}">Oct 08, 2022</span>
      </div>
      </ion-col>
  </ion-row>
</ion-grid>

<div class="">
  <ion-item>
    <ion-label position="floating">Enter Ending Enginr Hours</ion-label>
    <ion-input placeholder="Enter Ending Enginr Hours"></ion-input>
  </ion-item>


</div>
<ion-button expand="block" class="mt-5 font-Lato text-white">Save and Close-out Job</ion-button>
</div>
</ion-content>
