ion-header{
  ion-toolbar{
    --background: #264f3a;
    color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 6px 0px;
    ion-icon{
      zoom: 1.8;
    }
  }
}
ion-label{
  font-family: 'Lato';
  }
  .padding{
    padding-left: 20px;
    padding-top: 20px;
   padding-bottom: 10px;
    // background-color: red;
  }
