<app-header [title]="route" [color]="'training'"></app-header>
<ion-content>
  <!-- Timer -->
  <app-timer [value]="'04:22:12'"></app-timer>
  <form class="mx-4" [formGroup]="trainingTasksForm">
      <div>

         <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Trainer <span *ngIf="this.trainingTasksForm.get('trainerName').hasError('required')" class="text-red-400">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="trainerName" placeholder="Enter Trainer Name">
        </div>
        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Supervisor <span *ngIf="this.trainingTasksForm.get('supervisorName').hasError('required')" class="text-red-400">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="supervisorName" placeholder="Enter Supervisor Name">
        </div>

         <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">City <span *ngIf="this.trainingTasksForm.get('city').hasError('required')" class="text-red-400">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="city" placeholder="Enter City Name">
        </div>

        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">State</label>
          <ion-select
            class="mt-1 w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="state" placeholder="Select State">
            <ion-select-option *ngFor="let state of states" [value]="state">{{state}}</ion-select-option>
          </ion-select>
        </div>


          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Type of Training</label>
            <ion-select
              class="mt-1 w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="training" placeholder="Type of Training">
              <ion-select-option value="company-training">Company Training</ion-select-option>
              <ion-select-option value="safety-training" >Safety Training</ion-select-option>
              <ion-select-option value="cdl-training" >CDL Training</ion-select-option>
            </ion-select>
          </div>


          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Topic <span *ngIf="this.trainingTasksForm.get('topic').hasError('required')" class="text-red-400">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="topic" placeholder="Enter Topic">
          </div>

          <div class="ml-3 mt-4">
            <ion-label class="font font-medium text-aaaaaa">Training/Attendence Docs (Upload Pic)</ion-label>
          </div>
        <div class="flex px-4 py-2">
          <div class="w-16 h-16 mr-2">
          <ion-card
            [ngClass]="!upload_1 ? ' shadow-none m-0 border-2 border-aaaaaa bg-e9e6e6' : 'shadow-none m-0 border-2 border-project-green bg-white'"
            (click)="upload__1.click()"
          >
            <ion-card-content class="p-0 w-16 h-16 flex justify-center items-center">
                <ion-segment scrollable value="done" class="bg-none">
                  <ion-segment-button value="upload" *ngIf="!upload_1">
                    <ion-icon
                      [ngStyle]="{'color' : !upload_1 ? '#aaaaaa' : ''}"
                      name="cloud-upload-outline"
                    >
                    </ion-icon>
                  </ion-segment-button>

                  <ion-segment-button value="done" *ngIf="upload_1">
                    <ion-icon
                      [ngStyle]="{'color' : upload_1 ? '#59C64F' : ''}"
                      name="cloud-done-outline"
                    >
                    </ion-icon>
                  </ion-segment-button>
                  <input
                    #upload__1
                    type="file"
                    class=" invisible hidden"
                    formControlName="uploadDocs1"
                    (change)="onSelectedFiles($event, 'upload_1')"
                  />
                </ion-segment>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="w-16 h-16 mr-2">
          <ion-card
            [ngClass]="!upload_2 ? ' shadow-none m-0 border-2 border-aaaaaa bg-e9e6e6' : 'shadow-none m-0 border-2 border-project-green bg-white'"
            (click)="upload__2.click()"
          >
            <ion-card-content class="p-0 w-16 h-16 flex justify-center items-center">
                <ion-segment scrollable value="done" class="bg-none">
                  <ion-segment-button value="upload" *ngIf="!upload_2">
                    <ion-icon
                      [ngStyle]="{'color' : !upload_2 ? '#aaaaaa' : ''}"
                      name="cloud-upload-outline"
                    >
                    </ion-icon>
                  </ion-segment-button>

                  <ion-segment-button value="done" *ngIf="upload_2">
                    <ion-icon
                      [ngStyle]="{'color' : upload_2 ? '#59C64F' : ''}"
                      name="cloud-done-outline"
                    >
                    </ion-icon>
                  </ion-segment-button>
                  <input
                    #upload__2
                    type="file"
                    class=" invisible hidden"
                    formControlName="uploadDocs2"
                    (change)="onSelectedFiles($event, 'upload_2')"
                  />
                </ion-segment>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="w-16 h-16 mr-2 mb-3">
          <ion-card
            [ngClass]="!upload_3 ? ' shadow-none m-0 border-2 border-aaaaaa bg-e9e6e6' : 'shadow-none m-0 border-2 border-project-green bg-white'"
            (click)="upload__3.click()"
          >
            <ion-card-content class="p-0 w-16 h-16 flex justify-center items-center">
                <ion-segment scrollable value="done" class="bg-none">
                  <ion-segment-button value="upload" *ngIf="!upload_3">
                    <ion-icon
                      [ngStyle]="{'color' : !upload_3 ? '#aaaaaa' : ''}"
                      name="cloud-upload-outline"
                    >
                    </ion-icon>
                  </ion-segment-button>

                  <ion-segment-button value="done" *ngIf="upload_3">
                    <ion-icon
                      [ngStyle]="{'color' : upload_3 ? '#59C64F' : ''}"
                      name="cloud-done-outline"
                    >
                    </ion-icon>
                  </ion-segment-button>
                  <input
                    #upload__3
                    type="file"
                    class=" invisible hidden"
                    formControlName="uploadDocs2"
                    (change)="onSelectedFiles($event, 'upload_3')"

                  />
                </ion-segment>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
      <!-- <ion-text class="text-sm font-semibold font-Lato text-black ml-5">Add Comments</ion-text>
        <ion-item>
          <ion-textarea [autoGrow]="true"
          formControlName="comments"
          placeholder="Add your comments here :)">
          </ion-textarea>
        </ion-item> -->
        <ion-text class="text-sm font-semibold font-Lato text-black mt-2">Notes</ion-text>
              <ion-item lines="none" class="textarea">
                <ion-textarea [autoGrow]="true"
                  value="Why did you have 2 more hours than your peers on this day?">
                </ion-textarea>
              </ion-item>

           <ion-button expand="block" class="mt-5 font-Lato   text-white" (click)="submit()">Save</ion-button>
       </div>
   </form>
</ion-content>
