<app-header [title]="route" [color]="'training'"></app-header>

<!-- COMPANY TRAINING -->
<ion-content *ngIf="route === 'Company Training'">
  <!-- Timer -->
  <!-- <app-timer [value]="'04:22:12'"></app-timer> -->
  <form class="mx-4 mt-4" [formGroup]="trainingTasksForm">
    <div>

      <div class="col-span-12 mb-4" *ngIf="(loading | async)=== false">
        <label class="block text-sm font-medium text-gray-700">Trainer </label>
        <input readonly [value]="profileData.trainer_name" disabled class="mt-1 block w-full  rounded-md border border-gray-300  text-gray-400 focus:text-gray-700
            bg-gray-200 py-2 px-3 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          placeholder="Enter Trainer Name">
      </div>
      <div class="col-span-12 mb-4" *ngIf="(loading | async)=== true">
        <label class="block text-sm font-medium text-gray-700">Trainer
        </label>
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 39px; border-radius: 5px;"></ion-skeleton-text>
      </div>

      <!-- SUPERVISOR DROPDOWN -->
      <div [ngClass]="'opacity-100 visible ease-in duration-200'" role="dialog" aria-modal="true">
        <div [ngClass]="'opacity-100 visible scale-100 ease-in duration-200'" class="mb-4 relative z-20">
          <div class="mx-auto max-w-full transform rounded-xl px-0 transition-all">
            <label class="block text-sm font-medium text-gray-700 mb-1">Directors/CC/Dispatcher/Trainers <span
                *ngIf="isEmployeeSelected" class="text-red-400">*</span></label>
            <div class="flex items-center justify-between gap-x-2 rounded-md">
              <input (keyup)="employeesearch$.next($event.target.value)" (click)="inputClickedEmployee()"
                [value]="employee_name" #employeeInput
                class="{{isFieldDisabled? 'pointer-events-none bg-gray-200 w-full px-4 py-2 text-gray-900  placeholder-gray-500 rounded-md border border-gray-300 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500': 'w-full px-4 py-2 text-gray-900 placeholder:text-sm rounded-md border border-gray-300 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500'}}"
                placeholder="Select Supervisor" role="" aria-expanded="false" aria-controls="options">
            </div>

            <div *ngIf="allEmployees | withLoading | async as allEmployees">
              <div class="flex justify-center items-center">
                <ion-spinner *ngIf="allEmployees?.loading" name="crescent" mode="indeterminate"
                  color="primary"></ion-spinner>
              </div>
              <ul *ngIf="allEmployees?.value && employeeUL"
                class="-mb-2 max-h-44 scroll-py-2 shadow-sm shadow-slate-500 overflow-y-auto py-2 text-sm text-gray-800 bg-white absolute w-full"
                id="options" role="listbox">
                <li *ngFor="let employee of (allEmployees?.value.employees)" (click)="listClickedEmployee(employee)"
                  class="cursor-pointer select-none rounded-md px-4 py-2 hover:bg-gray-200" role="option" tabindex="-1">
                  <div class="flex items-center p-2">
                    {{employee.first_name}} {{employee.last_name}}
                  </div>
                </li>
              </ul>
              <div *ngIf="allEmployees?.value?.employees?.length === 0">
                <p disabled
                  class="cursor-pointer select-none rounded-md px-4 py-2 hover:bg-gray-200 text-gray-500 hover:text-gray-700 hover:font-semibold">
                  No Supervisor (s) found </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SUPERVISOR DROPDOWN -->

      <div class="col-span-12 mb-4" *ngIf="(loading | async)=== false">
        <label class="block text-sm font-medium text-gray-700">City</label>
        <input [value]="this.trainingTasksForm.city" formControlName="city" class="mt-1 block w-full rounded-md border border-gray-300 focus:text-gray-700
          py-2 px-3 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          placeholder="Enter City Name">
      </div>
      <div class="col-span-12 mb-4" *ngIf="(loading | async)=== true">
        <label class="block text-sm font-medium text-gray-700">City
        </label>
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 39px; border-radius: 5px;"></ion-skeleton-text>
      </div>

      <div class="col-span-12 mb-4" *ngIf="(loading | async)=== false">
        <label class="block text-sm font-medium text-gray-500">State</label>

        <ion-select [value]="this.trainingTasksForm.state" formControlName="state"
          class="mt-1 w-full rounded-md border border-gray-300 py-2 px-3 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          placeholder="Select State">
          <ion-select-option *ngFor="let state of states" [value]="state">{{state}}</ion-select-option>
        </ion-select>
      </div>
      <div class="col-span-12 mb-4" *ngIf="(loading | async)=== true">
        <label class="block text-sm font-medium text-gray-700">State
        </label>
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 39px; border-radius: 5px;"></ion-skeleton-text>
      </div>


      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Type of Training</label>
        <ion-select
          class="mt-1 w-full rounded-md text-gray-600 bg-gray-200 border border-gray-300 py-2 px-3 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm pointer-events-none"
          formControlName="training_type" placeholder="Type of Training">
          <ion-select-option value="company-training">Company Training</ion-select-option>
          <ion-select-option value="safety-training">Safety Training</ion-select-option>
          <ion-select-option value="cdl-training">CDL Training</ion-select-option>
        </ion-select>
      </div>


      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Topic <span
            *ngIf="this.trainingTasksForm.get('topic').hasError('required')" class="text-red-400">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="topic" placeholder="Enter Topic">
      </div>

      <div class="ml-3 mt-4">
        <ion-label class="font font-medium text-aaaaaa">Training/Attendence Docs (Upload Pic)</ion-label>
      </div>
      <div class="flex px-4 py-2">
        <div class="w-16 h-16 mr-2">
          <ion-card
            [ngClass]="!upload_1 ? 'shadow-none m-0 border-2 border-aaaaaa bg-e9e6e6' : 'shadow-none m-0 border-2 border-3D8AA4 bg-white'"
            (click)="upload__1.click()">
            <ion-card-content class="p-0 w-16 h-16 flex justify-center items-center">
              <ion-segment scrollable value="done" class="bg-none">
                <ion-segment-button value="upload" *ngIf="!upload_1">
                  <ion-icon [ngStyle]="{'color' : upload_1 ? '#3D8AA4' : ''}" name="cloud-upload-outline">
                  </ion-icon>
                </ion-segment-button>

                <ion-segment-button value="done" *ngIf="upload_1">
                  <ion-icon [ngStyle]="{'color' : upload_1 ? '#3D8AA4' : ''}" name="cloud-done-outline">
                  </ion-icon>
                </ion-segment-button>
                <input #upload__1 type="file" class=" invisible hidden"
                  (change)="onSelectedFiles($event, 'upload_1')" />
              </ion-segment>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="w-16 h-16 mr-2">
          <ion-card
            [ngClass]="!upload_2 ? ' shadow-none m-0 border-2 border-aaaaaa bg-e9e6e6' : 'shadow-none m-0 border-2 border-3D8AA4 bg-white'"
            (click)="upload__2.click()">
            <ion-card-content class="p-0 w-16 h-16 flex justify-center items-center">
              <ion-segment scrollable value="done" class="bg-none">
                <ion-segment-button value="upload" *ngIf="!upload_2">
                  <ion-icon [ngStyle]="{'color' : !upload_2 ? '#aaaaaa' : ''}" name="cloud-upload-outline">
                  </ion-icon>
                </ion-segment-button>

                <ion-segment-button value="done" *ngIf="upload_2">
                  <ion-icon [ngStyle]="{'color' : upload_2 ? '#3D8AA4' : ''}" name="cloud-done-outline">
                  </ion-icon>
                </ion-segment-button>
                <input #upload__2 type="file" class=" invisible hidden"
                  (change)="onSelectedFiles($event, 'upload_2')" />
              </ion-segment>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="w-16 h-16 mr-2 mb-3">
          <ion-card
            [ngClass]="!upload_3 ? ' shadow-none m-0 border-2 border-aaaaaa bg-e9e6e6' : 'shadow-none m-0 border-2 border-3D8AA4 bg-white'"
            (click)="upload__3.click()">
            <ion-card-content class="p-0 w-16 h-16 flex justify-center items-center">
              <ion-segment scrollable value="done" class="bg-none">
                <ion-segment-button value="upload" *ngIf="!upload_3">
                  <ion-icon [ngStyle]="{'color' : !upload_3 ? '#aaaaaa' : ''}" name="cloud-upload-outline">
                  </ion-icon>
                </ion-segment-button>

                <ion-segment-button value="done" *ngIf="upload_3">
                  <ion-icon [ngStyle]="{'color' : upload_3 ? '#3D8AA4' : ''}" name="cloud-done-outline">
                  </ion-icon>
                </ion-segment-button>
                <input #upload__3 type="file" class=" invisible hidden"
                  (change)="onSelectedFiles($event, 'upload_3')" />
              </ion-segment>
            </ion-card-content>
          </ion-card>
        </div>
      </div>

      <ion-text class="text-sm font-semibold font-Lato text-black mt-2">Notes</ion-text>
      <ion-item lines="none" class="textarea">
        <ion-textarea [autoGrow]="true" formControlName="notes">
        </ion-textarea>
      </ion-item>

      <ion-button expand="block" class="mt-5 font-Lato text-white" [disabled]="trainingTasksForm.invalid ||(loadingSpinner | async) || isEmployeeSelected"
        (click)="submit()">
        <div *ngIf="(loadingSpinner | async) === false">Save</div>
        <ion-spinner name="crescent" *ngIf="(loadingSpinner | async)"></ion-spinner>
      </ion-button>
    </div>
  </form>
</ion-content>

<!-- SAFETY TRAINING -->
<ion-content *ngIf="route === 'Safety Training'">
  <!-- Timer -->
  <!-- <app-timer [value]="'04:22:12'"></app-timer> -->
  <form class="mx-4 mt-4" [formGroup]="trainingTasksForm">
    <div>

      <div class="col-span-12 mb-4" *ngIf="(loading | async)=== false">
        <label class="block text-sm font-medium text-gray-700">Trainer </label>
        <input readonly [value]="profileData.trainer_name" disabled class="mt-1 block w-full  rounded-md border border-gray-300  text-gray-400 focus:text-gray-700
            bg-gray-200 py-2 px-3 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          placeholder="Enter Trainer Name">
      </div>
      <div class="col-span-12 mb-4" *ngIf="(loading | async)=== true">
        <label class="block text-sm font-medium text-gray-700">Trainer
        </label>
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 39px; border-radius: 5px;"></ion-skeleton-text>
      </div>

      <!-- SUPERVISOR DROPDOWN -->
      <div [ngClass]="'opacity-100 visible ease-in duration-200'" role="dialog" aria-modal="true">
        <div [ngClass]="'opacity-100 visible scale-100 ease-in duration-200'" class="mb-4 relative z-20">
          <div class="mx-auto max-w-full transform rounded-xl px-0 transition-all">
            <label class="block text-sm font-medium text-gray-700 mb-1">Directors/CC/Dispatcher/Trainers <span
                *ngIf="isEmployeeSelected" class="text-red-400">*</span></label>
            <div class="flex items-center justify-between gap-x-2 rounded-md">
              <input (keyup)="employeesearch$.next($event.target.value)" (click)="inputClickedEmployee()"
                [value]="employee_name" #employeeInput
                class="{{isFieldDisabled? 'pointer-events-none bg-gray-200 w-full px-4 py-2 text-gray-900  placeholder-gray-500 rounded-md border border-gray-300 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500': 'w-full px-4 py-2 text-gray-900 placeholder:text-sm rounded-md border border-gray-300 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500'}}"
                placeholder="Select Supervisor" role="" aria-expanded="false" aria-controls="options">
            </div>

            <div *ngIf="allEmployees | withLoading | async as allEmployees">
              <div class="flex justify-center items-center">
                <ion-spinner *ngIf="allEmployees?.loading" name="crescent" mode="indeterminate"
                  color="primary"></ion-spinner>
              </div>
              <ul *ngIf="allEmployees?.value && employeeUL"
                class="-mb-2 max-h-44 scroll-py-2 shadow-sm shadow-slate-500 overflow-y-auto py-2 text-sm text-gray-800 bg-white absolute w-full"
                id="options" role="listbox">
                <li *ngFor="let employee of (allEmployees?.value.employees)" (click)="listClickedEmployee(employee)"
                  class="cursor-pointer select-none rounded-md px-4 py-2 hover:bg-gray-200" role="option" tabindex="-1">
                  <div class="flex items-center p-2">
                    {{employee.first_name}} {{employee.last_name}}
                  </div>
                </li>
              </ul>
              <div *ngIf="allEmployees?.value?.employees?.length === 0">
                <p disabled
                  class="cursor-pointer select-none rounded-md px-4 py-2 hover:bg-gray-200 text-gray-500 hover:text-gray-700 hover:font-semibold">
                  No Supervisor (s) found </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SUPERVISOR DROPDOWN -->
      <div class="col-span-12 mb-4" *ngIf="(loading | async)=== false">
        <label class="block text-sm font-medium text-gray-700">City</label>
        <input [value]="this.trainingTasksForm.city" formControlName="city" class="mt-1 block w-full rounded-md border border-gray-300 focus:text-gray-700
          py-2 px-3 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          placeholder="Enter City Name">
      </div>
      <div class="col-span-12 mb-4" *ngIf="(loading | async)=== true">
        <label class="block text-sm font-medium text-gray-700">City
        </label>
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 39px; border-radius: 5px;"></ion-skeleton-text>
      </div>

      <div class="col-span-12 mb-4" *ngIf="(loading | async)=== false">
        <label class="block text-sm font-medium text-gray-500">State</label>
        <ion-select [value]="this.trainingTasksForm.state" formControlName="state"
          class="mt-1 w-full rounded-md border border-gray-300 py-2 px-3 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          placeholder="Select State">
          <ion-select-option *ngFor="let state of states" [value]="state">{{state}}</ion-select-option>
        </ion-select>
      </div>
      <div class="col-span-12 mb-4" *ngIf="(loading | async)=== true">
        <label class="block text-sm font-medium text-gray-700">State
        </label>
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 39px; border-radius: 5px;"></ion-skeleton-text>
      </div>


      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Type of Training</label>
        <ion-select
          class="mt-1 w-full rounded-md text-gray-600 bg-gray-200 border border-gray-300 py-2 px-3 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm pointer-events-none"
          formControlName="training_type" placeholder="Type of Training">
          <ion-select-option value="company-training">Company Training</ion-select-option>
          <ion-select-option value="safety-training">Safety Training</ion-select-option>
          <ion-select-option value="cdl-training">CDL Training</ion-select-option>
        </ion-select>
      </div>


      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Topic <span
            *ngIf="this.trainingTasksForm.get('topic').hasError('required')" class="text-red-400">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="topic" placeholder="Enter Topic">
      </div>

      <div class="ml-3 mt-4">
        <ion-label class="font font-medium text-aaaaaa">Training/Attendence Docs (Upload Pic)</ion-label>
      </div>
      <div class="flex px-4 py-2">
        <div class="w-16 h-16 mr-2">
          <ion-card
            [ngClass]="!upload_1 ? ' shadow-none m-0 border-2 border-aaaaaa bg-e9e6e6' : 'shadow-none m-0 border-2 border-3D8AA4 bg-white'"
            (click)="upload__1.click()">
            <ion-card-content class="p-0 w-16 h-16 flex justify-center items-center">
              <ion-segment scrollable value="done" class="bg-none">
                <ion-segment-button value="upload" *ngIf="!upload_1">
                  <ion-icon [ngStyle]="{'color' : !upload_1 ? '#aaaaaa' : ''}" name="cloud-upload-outline">
                  </ion-icon>
                </ion-segment-button>

                <ion-segment-button value="done" *ngIf="upload_1">
                  <ion-icon [ngStyle]="{'color' : upload_1 ? '#3D8AA4' : ''}" name="cloud-done-outline">
                  </ion-icon>
                </ion-segment-button>
                <input #upload__1 type="file" class=" invisible hidden"
                  (change)="onSelectedFiles($event, 'upload_1')" />
              </ion-segment>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="w-16 h-16 mr-2">
          <ion-card
            [ngClass]="!upload_2 ? ' shadow-none m-0 border-2 border-aaaaaa bg-e9e6e6' : 'shadow-none m-0 border-2 border-3D8AA4 bg-white'"
            (click)="upload__2.click()">
            <ion-card-content class="p-0 w-16 h-16 flex justify-center items-center">
              <ion-segment scrollable value="done" class="bg-none">
                <ion-segment-button value="upload" *ngIf="!upload_2">
                  <ion-icon [ngStyle]="{'color' : !upload_2 ? '#aaaaaa' : ''}" name="cloud-upload-outline">
                  </ion-icon>
                </ion-segment-button>

                <ion-segment-button value="done" *ngIf="upload_2">
                  <ion-icon [ngStyle]="{'color' : upload_2 ? '#3D8AA4' : ''}" name="cloud-done-outline">
                  </ion-icon>
                </ion-segment-button>
                <input #upload__2 type="file" class=" invisible hidden"
                  (change)="onSelectedFiles($event, 'upload_2')" />
              </ion-segment>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="w-16 h-16 mr-2 mb-3">
          <ion-card
            [ngClass]="!upload_3 ? ' shadow-none m-0 border-2 border-aaaaaa bg-e9e6e6' : 'shadow-none m-0 border-2 border-3D8AA4 bg-white'"
            (click)="upload__3.click()">
            <ion-card-content class="p-0 w-16 h-16 flex justify-center items-center">
              <ion-segment scrollable value="done" class="bg-none">
                <ion-segment-button value="upload" *ngIf="!upload_3">
                  <ion-icon [ngStyle]="{'color' : !upload_3 ? '#aaaaaa' : ''}" name="cloud-upload-outline">
                  </ion-icon>
                </ion-segment-button>

                <ion-segment-button value="done" *ngIf="upload_3">
                  <ion-icon [ngStyle]="{'color' : upload_3 ? '#3D8AA4' : ''}" name="cloud-done-outline">
                  </ion-icon>
                </ion-segment-button>
                <input #upload__3 type="file" class=" invisible hidden"
                  (change)="onSelectedFiles($event, 'upload_3')" />
              </ion-segment>
            </ion-card-content>
          </ion-card>
        </div>
      </div>

      <ion-text class="text-sm font-semibold font-Lato text-black mt-2">Notes</ion-text>
      <ion-item lines="none" class="textarea">
        <ion-textarea [autoGrow]="true" formControlName="notes">
        </ion-textarea>
      </ion-item>
      <ion-button expand="block" class="mt-5 font-Lato text-white" [disabled]="trainingTasksForm.invalid ||(loadingSpinner | async) || isEmployeeSelected"
        (click)="submit()">
        <div *ngIf="(loadingSpinner | async) === false">Save</div>
        <ion-spinner name="crescent" *ngIf="(loadingSpinner | async)"></ion-spinner>
      </ion-button>
    </div>
  </form>
</ion-content>

<!-- CDL TRAINING -->
<ion-content *ngIf="route === 'CDL Training'">
  <!-- Timer -->
  <!-- <app-timer [value]="'04:22:12'"></app-timer> -->
  <form class="mx-4 mt-4" [formGroup]="trainingTasksForm">
    <div>

      <div class="col-span-12 mb-4" *ngIf="(loading | async)=== false">
        <label class="block text-sm font-medium text-gray-700">Trainer </label>
        <input readonly [value]="profileData.trainer_name" disabled class="mt-1 block w-full  rounded-md border border-gray-300  text-gray-400 focus:text-gray-700
            bg-gray-200 py-2 px-3 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          placeholder="Enter Trainer Name">
      </div>
      <div class="col-span-12 mb-4" *ngIf="(loading | async)=== true">
        <label class="block text-sm font-medium text-gray-700">Trainer
        </label>
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 39px; border-radius: 5px;"></ion-skeleton-text>
      </div>

      <!-- SUPERVISOR DROPDOWN -->
      <div [ngClass]="'opacity-100 visible ease-in duration-200'" role="dialog" aria-modal="true">
        <div [ngClass]="'opacity-100 visible scale-100 ease-in duration-200'" class="mb-4 relative z-20">
          <div class="mx-auto max-w-full transform rounded-xl px-0 transition-all">
            <label class="block text-sm font-medium text-gray-700 mb-1">Directors/CC/Dispatcher/Trainers <span
                *ngIf="isEmployeeSelected" class="text-red-400">*</span></label>
            <div class="flex items-center justify-between gap-x-2 rounded-md">
              <input (keyup)="employeesearch$.next($event.target.value)" (click)="inputClickedEmployee()"
                [value]="employee_name" #employeeInput
                class="{{isFieldDisabled? 'pointer-events-none bg-gray-200 w-full px-4 py-2 text-gray-900  placeholder-gray-500 rounded-md border border-gray-300 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500': 'w-full px-4 py-2 text-gray-900 placeholder:text-sm rounded-md border border-gray-300 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500'}}"
                placeholder="Select Supervisor" role="" aria-expanded="false" aria-controls="options">
            </div>

            <div *ngIf="allEmployees | withLoading | async as allEmployees">
              <div class="flex justify-center items-center">
                <ion-spinner *ngIf="allEmployees?.loading" name="crescent" mode="indeterminate"
                  color="primary"></ion-spinner>
              </div>
              <ul *ngIf="allEmployees?.value && employeeUL"
                class="-mb-2 max-h-44 scroll-py-2 shadow-sm shadow-slate-500 overflow-y-auto py-2 text-sm text-gray-800 bg-white absolute w-full"
                id="options" role="listbox">
                <li *ngFor="let employee of (allEmployees?.value.employees)" (click)="listClickedEmployee(employee)"
                  class="cursor-pointer select-none rounded-md px-4 py-2 hover:bg-gray-200" role="option" tabindex="-1">
                  <div class="flex items-center p-2">
                    {{employee.first_name}} {{employee.last_name}}
                  </div>
                </li>
              </ul>
              <div *ngIf="allEmployees?.value?.employees?.length === 0">
                <p disabled
                  class="cursor-pointer select-none rounded-md px-4 py-2 hover:bg-gray-200 text-gray-500 hover:text-gray-700 hover:font-semibold">
                  No Supervisor (s) found </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SUPERVISOR DROPDOWN -->
      <div class="col-span-12 mb-4" *ngIf="(loading | async)=== false">
        <label class="block text-sm font-medium text-gray-700">City</label>
        <input [value]="this.trainingTasksForm.city" formControlName="city" class="mt-1 block w-full rounded-md border border-gray-300 focus:text-gray-700
          py-2 px-3 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
      </div>
      <div class="col-span-12 mb-4" *ngIf="(loading | async)=== true">
        <label class="block text-sm font-medium text-gray-700">City
        </label>
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 39px; border-radius: 5px;"></ion-skeleton-text>
      </div>

      <div class="col-span-12 mb-4" *ngIf="(loading | async)=== false">
        <label class="block text-sm font-medium text-gray-500">State</label>
        <ion-select [value]="this.trainingTasksForm.state" formControlName="state"
          class="mt-1 w-full rounded-md border border-gray-300 py-2 px-3 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          placeholder="Select State">
          <ion-select-option *ngFor="let state of states" [value]="state">{{state}}</ion-select-option>
        </ion-select>
      </div>
      <div class="col-span-12 mb-4" *ngIf="(loading | async)=== true">
        <label class="block text-sm font-medium text-gray-700">State
        </label>
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 39px; border-radius: 5px;"></ion-skeleton-text>
      </div>


      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Type of Training</label>
        <ion-select
          class="mt-1 w-full rounded-md text-gray-600 bg-gray-200 border border-gray-300 py-2 px-3 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm pointer-events-none"
          formControlName="training_type" placeholder="Type of Training">
          <ion-select-option value="company-training">Company Training</ion-select-option>
          <ion-select-option value="safety-training">Safety Training</ion-select-option>
          <ion-select-option value="cdl-training">CDL Training</ion-select-option>
        </ion-select>
      </div>


      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Topic <span
            *ngIf="this.trainingTasksForm.get('topic').hasError('required')" class="text-red-400">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="topic" placeholder="Enter Topic">
      </div>

      <div class="ml-3 mt-4">
        <ion-label class="font font-medium text-aaaaaa">Training/Attendence Docs (Upload Pic)</ion-label>
      </div>
      <div class="flex px-4 py-2">
        <div class="w-16 h-16 mr-2">
          <ion-card
            [ngClass]="!upload_1 ? ' shadow-none m-0 border-2 border-aaaaaa bg-e9e6e6' : 'shadow-none m-0 border-2 border-3D8AA4 bg-white'"
            (click)="upload__1.click()">
            <ion-card-content class="p-0 w-16 h-16 flex justify-center items-center">
              <ion-segment scrollable value="done" class="bg-none">
                <ion-segment-button value="upload" *ngIf="!upload_1">
                  <ion-icon [ngStyle]="{'color' : !upload_1 ? '#aaaaaa' : ''}" name="cloud-upload-outline">
                  </ion-icon>
                </ion-segment-button>

                <ion-segment-button value="done" *ngIf="upload_1">
                  <ion-icon [ngStyle]="{'color' : upload_1 ? '#3D8AA4' : ''}" name="cloud-done-outline">
                  </ion-icon>
                </ion-segment-button>
                <input #upload__1 type="file" class=" invisible hidden"
                  (change)="onSelectedFiles($event, 'upload_1')" />
              </ion-segment>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="w-16 h-16 mr-2">
          <ion-card
            [ngClass]="!upload_2 ? ' shadow-none m-0 border-2 border-aaaaaa bg-e9e6e6' : 'shadow-none m-0 border-2 border-3D8AA4 bg-white'"
            (click)="upload__2.click()">
            <ion-card-content class="p-0 w-16 h-16 flex justify-center items-center">
              <ion-segment scrollable value="done" class="bg-none">
                <ion-segment-button value="upload" *ngIf="!upload_2">
                  <ion-icon [ngStyle]="{'color' : !upload_2 ? '#aaaaaa' : ''}" name="cloud-upload-outline">
                  </ion-icon>
                </ion-segment-button>

                <ion-segment-button value="done" *ngIf="upload_2">
                  <ion-icon [ngStyle]="{'color' : upload_2 ? '#3D8AA4' : ''}" name="cloud-done-outline">
                  </ion-icon>
                </ion-segment-button>
                <input #upload__2 type="file" class=" invisible hidden"
                  (change)="onSelectedFiles($event, 'upload_2')" />
              </ion-segment>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="w-16 h-16 mr-2 mb-3">
          <ion-card
            [ngClass]="!upload_3 ? ' shadow-none m-0 border-2 border-aaaaaa bg-e9e6e6' : 'shadow-none m-0 border-2 border-3D8AA4 bg-white'"
            (click)="upload__3.click()">
            <ion-card-content class="p-0 w-16 h-16 flex justify-center items-center">
              <ion-segment scrollable value="done" class="bg-none">
                <ion-segment-button value="upload" *ngIf="!upload_3">
                  <ion-icon [ngStyle]="{'color' : !upload_3 ? '#aaaaaa' : ''}" name="cloud-upload-outline">
                  </ion-icon>
                </ion-segment-button>

                <ion-segment-button value="done" *ngIf="upload_3">
                  <ion-icon [ngStyle]="{'color' : upload_3 ? '#3D8AA4' : ''}" name="cloud-done-outline">
                  </ion-icon>
                </ion-segment-button>
                <input #upload__3 type="file" class=" invisible hidden"
                  (change)="onSelectedFiles($event, 'upload_3')" />
              </ion-segment>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
      <ion-text class="text-sm font-semibold font-Lato text-black mt-2">Notes</ion-text>
      <ion-item lines="none" class="textarea">
        <ion-textarea [autoGrow]="true" formControlName="notes">
        </ion-textarea>
      </ion-item>

      <ion-button expand="block" class="mt-5 font-Lato text-white" [disabled]="trainingTasksForm.invalid ||(loadingSpinner | async) || isEmployeeSelected"
        (click)="submit()">
        <div *ngIf="(loadingSpinner | async) === false">Save</div>
        <ion-spinner name="crescent" *ngIf="(loadingSpinner | async)"></ion-spinner>
      </ion-button>
    </div>
  </form>
</ion-content>
