<app-header [title]="'Pre-Trip Check Digital Evaluation Form'" [color]="'training'" [routeValue]="'in-cab'" [training_record_id]="training_record_id" [supervisor_id]="supervisor_id"></app-header>
<ion-content>
  <!-- <app-timer [value]="'01:23:45'"></app-timer> -->

<div class="mx-4 my-2">
  <ion-progress-bar class="mb-2" [buffer]="buffer" [value]="progress" ></ion-progress-bar>
  <ion-text class="text-lg font-semibold justify-start flex font-Lato text-black ">1 of 4 Categories Completed</ion-text>
</div>

<form [formGroup]="preTripForm">
  <div class="mx-4">


     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Seat belt</ion-text>
       <ion-checkbox slot="start" formControlName="seat_belt"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">No loose on floor</ion-text>
       <ion-checkbox slot="start" formControlName="loose_floor"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Positioning of mirrors</ion-text>
       <ion-checkbox slot="start" formControlName="mirror_positioning"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Condition of gear stick/pedals</ion-text>
       <ion-checkbox slot="start" formControlName="gear_stick_condition"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Emergency Items</ion-text>
       <ion-checkbox slot="start" formControlName="emergency_items"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Safe Start</ion-text>
       <ion-checkbox slot="start" formControlName="safe_start"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Check dash lights</ion-text>
       <ion-checkbox slot="start" formControlName="dash_lights"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Check warning lights</ion-text>
       <ion-checkbox slot="start" formControlName="warning_lights"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Check turn signals</ion-text>
       <ion-checkbox slot="start" formControlName="turn_signals"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">check 4-way flashers</ion-text>
       <ion-checkbox slot="start" formControlName="way_4_flashers"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Chech high beam</ion-text>
       <ion-checkbox slot="start" formControlName="high_beam"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Check abs lights</ion-text>
       <ion-checkbox slot="start" formControlName="abs_lights"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Check volt meter</ion-text>
       <ion-checkbox slot="start" formControlName="volt_meter"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Fuel level</ion-text>
       <ion-checkbox slot="start" formControlName="fuel_level"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Oil pressure</ion-text>
       <ion-checkbox slot="start" formControlName="oil_pressure"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Air pressure</ion-text>
       <ion-checkbox slot="start" formControlName="air_pressure"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Coolant temperature</ion-text>
       <ion-checkbox slot="start" formControlName="coolant_temperature"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Diff lock engages</ion-text>
       <ion-checkbox slot="start" formControlName="diff_lock_engages"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Heater/demister</ion-text>
       <ion-checkbox slot="start" formControlName="heater_demister"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Horn</ion-text>
       <ion-checkbox slot="start" formControlName="horn"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Wiper washer working</ion-text>
       <ion-checkbox slot="start" formControlName="wiper_washer_working"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Test service brake</ion-text>
       <ion-checkbox slot="start" formControlName="test_service_brake"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Test trailer park brake</ion-text>
       <ion-checkbox slot="start" formControlName="test_trailer_park_brake"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Test truck park brake</ion-text>
       <ion-checkbox slot="start" formControlName="test_truck_park_brake"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Air leak test stage 1</ion-text>
       <ion-checkbox slot="start" formControlName="leak_stage_1"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Air leak test stage 2</ion-text>
       <ion-checkbox slot="start" formControlName="leak_stage_2"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Air leak test stage 3</ion-text>
       <ion-checkbox slot="start" formControlName="leak_stage_3"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Front external lights</ion-text>
       <ion-checkbox slot="start" formControlName="front_external_lights"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Trailer lights</ion-text>
       <ion-checkbox slot="start" formControlName="trailer_lights"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Rear external lights</ion-text>
       <ion-checkbox slot="start" formControlName="rear_external_lights"></ion-checkbox>
     </div>

     <ion-text class="text-sm font-semibold font-Lato text-black mt-2">Add Comments</ion-text>
       <ion-textarea [autoGrow]="true"
       formControlName="commentsCab"
       class="border-2 rounded-lg my-2 px-1"
         placeholder="Add your comments here">
       </ion-textarea>
      </div>
      <div class="ion-text-center my-5">
        <ion-text class="bg-3D8AA4 bg-opacity-10 text-3D8AA4 font-medium font-Lato border-2 border-opacity-60 rounded-lg border-3D8AA4 px-5 py-2">Score = {{result}}%</ion-text>
       </div>
     <ion-button [disabled]="loadingSpinner |async" class="close-out-button font-Lato mb-4 mt-0 mx-8 bg-opacity-10 text-white" expand="block" (click)="submit()">
      <div *ngIf="(loadingSpinner | async) === false">Next</div>
      <ion-spinner name="crescent" *ngIf="(loadingSpinner | async)"></ion-spinner>
    </ion-button>
  </form>
</ion-content>
