<app-header [title]="'Verify Work Orders'" [color]="'farming'"></app-header>

<ion-content>
  <!-- <app-timer [value]="'12-10-2022'"> </app-timer> -->
  <div class="p-2">
    <div class="segment-style">

      <ion-skeleton-text [animated]="true" style="width: 100%; height: 25px;"
        *ngIf="!dataLoaded.sentList && !dataLoaded.pendingList && !dataLoaded.verifiedList"></ion-skeleton-text>

      <ion-segment [(ngModel)]="segment" scrollable
        *ngIf="dataLoaded.sentList && dataLoaded.pendingList && dataLoaded.verifiedList">
        <ion-segment-button value="sent">
          <div class="flex justify-center items-center">
            <p class=" font-Lato">Sent</p>
            <span class="text-white ml-4 w-8 h-4 rounded-full flex justify-center items-center">
              {{sentCount}}</span>
          </div>
        </ion-segment-button>
        <ion-segment-button value="pending">
          <div class="flex justify-center items-center">
            <p class=" font-Lato">Pending</p>
            <span class="text-white ml-4 w-8 h-4 rounded-full flex justify-center items-center">
              {{pendingCount}}</span>
          </div>
        </ion-segment-button>
        <ion-segment-button value="verified">
          <div class="flex justify-center items-center">
            <p class=" font-Lato">Verified</p>
            <span class="text-white ml-4 w-8 h-4 rounded-full flex justify-center items-center">
              {{verifiedCount}}</span>
          </div>
        </ion-segment-button>
      </ion-segment>

      <div [ngSwitch]="segment">
        <div *ngSwitchCase="'sent'">
          <div *ngIf="sentWorkOrders | async as sentWorkOrders">
            <ion-card *ngFor="let orders of (sentWorkOrders.workOrders)" class="sentTicket p-2">
              <div class="flex flex-col">
                <div class="flex flex-row">
                  <div class="w-full h-6 flex items-center justify-start">
                    <span class="text-base text-black font-Lato font-bold"> {{orders.work_order_id}}</span>
                  </div>
                </div>

                <div class="flex justify-between py-1.5">
                  <div>
                    <span class="text-sm text-black font-Lato">{{orders.farm_name}}</span>
                  </div>
                  <div>
                    <span class="text-sm text-black font-Lato">{{orders.field_name}}</span>
                  </div>
                </div>

                <div class="flex justify-between py-1.5 mt-2">
                  <div class="flex flex-col">
                    <span class="text-sm text-gray-700 font-Lato">Tractor Driver </span>
                    <span class="text-sm font-bold text-black font-Lato">{{orders.tractor_driver_name}}</span>
                  </div>
                  <div class="flex flex-col items-end">
                    <span class="text-sm text-gray-700 font-Lato">Customer </span>
                    <span class="text-sm font-bold text-black font-Lato">{{orders.customer_first_name}}</span>
                  </div>
                </div>
              </div>
            </ion-card>
          </div>
        </div>

        <div *ngSwitchCase="'pending'">
          <div *ngIf="pendingWorkOrders | async as pendingWorkOrders">
            <ion-card *ngFor="let orders of (pendingWorkOrders.workOrders)" class="pendingTicket p-2"
              [routerLink]="['order-details', orders]">
              <div class="flex flex-col">
                <div class="flex flex-row">
                  <div class="w-full h-6 flex items-center justify-start">
                    <span class="text-base text-black font-Lato font-bold"> {{orders.work_order_id}}</span>
                  </div>
                </div>

                <div class="flex justify-between py-1.5">
                  <div>
                    <span class="text-sm text-gray-700 font-Lato">{{orders.farm_name}}</span>
                  </div>
                  <div>
                    <span class="text-sm text-gray-700 font-Lato">{{orders.field_name}}</span>
                  </div>
                </div>

                <div class="flex justify-between py-1.5 mt-2">
                  <div class="flex flex-col">
                    <span class="text-sm text-gray-700 font-Lato">Tractor Driver </span>
                    <span class="text-sm font-bold text-black font-Lato">{{orders.tractor_driver_name}}</span>
                  </div>
                  <div class="flex flex-col items-end">
                    <span class="text-sm text-gray-700 font-Lato">Customer </span>
                    <span class="text-sm font-bold text-black font-Lato">{{orders.customer_name}}</span>
                  </div>
                </div>
              </div>
            </ion-card>
          </div>
        </div>

        <div *ngSwitchCase="'verified'">
          <div *ngIf="verifiedWorkOrders | async as verifiedWorkOrders">
            <ion-card *ngFor="let orders of (verifiedWorkOrders.workOrders)" class="verifiedTicket p-2">
              <div class="flex flex-col">
                <div class="flex flex-row">
                  <div class="w-full h-6 flex items-center justify-start">
                    <span class="text-base text-black font-Lato font-bold"> {{orders.work_order_id}}</span>
                  </div>
                </div>

                <div class="flex justify-between py-1.5">
                  <div>
                    <span class="text-sm text-gray-700 font-Lato">{{orders.farm_name}}</span>
                  </div>
                  <div>
                    <span class="text-sm text-gray-700 font-Lato">{{orders.field_name}}</span>
                  </div>
                </div>

                <div class="flex justify-between py-1.5 mt-2">
                  <div class="flex flex-col">
                    <span class="text-sm text-gray-700 font-Lato">Tractor Driver </span>
                    <span class="text-sm font-bold text-black font-Lato">{{orders.tractor_driver_name}}</span>
                  </div>
                  <div class="flex flex-col items-end">
                    <span class="text-sm text-gray-700 font-Lato">Customer </span>
                    <span class="text-sm font-bold text-black font-Lato">{{orders.customer_name}}</span>
                  </div>
                </div>
              </div>
            </ion-card>
          </div>
        </div>

      </div>
    </div>
  </div>
</ion-content>
<!-- Verify Delivery ticket End -->
