
<app-header [title]="'Customer Job Set-up'" [color]="'harvesting'"></app-header>

<ion-content>
  <app-timer [value]="'23:02:344'"></app-timer>
  <div class="p-4">
    <div>
      <form [formGroup]="jobSetupForm">
     <ion-list>
        <div>
          <ion-item class="mt-9">
            <ion-select placeholder="Select State" interface="alert" formControlName="state" >
              <ion-select-option *ngFor="let state of states" [value]="state">{{state}}</ion-select-option>
            </ion-select>
            <ion-text *ngIf="this.jobSetupForm.get('state').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">State is required</ion-text>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Customer Name</ion-label>
            <ion-input placeholder="Customer Name" formControlName="customerName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Farm</ion-label>
            <ion-input placeholder="Farm" formControlName="farm"></ion-input>
            <ion-text *ngIf="this.jobSetupForm.get('farm').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Farm name is required</ion-text>

          </ion-item>
          <ion-item>
            <ion-label position="floating">Crop</ion-label>
            <ion-input  placeholder="Crop" formControlName="crop"></ion-input>
            <ion-text *ngIf="this.jobSetupForm.get('crop').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Crop name is required</ion-text>

          </ion-item>
          <ion-item>
            <ion-label position="floating">Initial Field</ion-label>
            <ion-input placeholder="Initial Field" formControlName="initailField"></ion-input>
          </ion-item>
            <ion-button expand="block"
            class="mt-5 font-Lato text-white"
             (click)="submit()"
             [disabled]="jobSetupForm.invalid"
             >Save</ion-button>
        </div>
      </ion-list>
    </form>
    </div>
  </div>
</ion-content>
