<app-header [title]="'Pre-Trip Check Form'" [color]="'preTripForm'"></app-header>

<ion-content>
  <app-timer [value]="'11-12-2022'"></app-timer>
  <div class="p-4">
    <div>
      <form [formGroup]="preCheckForm">
        <ion-list>
          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Truck ID<span class="text-red-600"
                *ngIf="this.preCheckForm.get('truckID').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="truckID" placeholder="Enter Truck ID">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Trailer<span class="text-red-600"
                *ngIf="this.preCheckForm.get('trailerID').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="trailerID" placeholder="Enter Trailer">
          </div>

        </ion-list>
      </form>
    </div>

    <div class="mx-4 mt-8 mb-4">
      <ion-progress-bar class="mb-2" [buffer]="buffer" [value]="progress"></ion-progress-bar>
      <ion-text class="text-lg justify-start flex font-Lato text-black ml-2">{{progress * 5}} of 5
        Completed</ion-text>
    </div>

    <ion-text class="px-4 font-Lato text-2xl font-semibold">Vehicle Inspection</ion-text>
    <p class="px-4 py-2 font- font-Lato text-base text-46464E font-normal">To Begin Select One of the 5 Pre-Trip Check
      Categories Below</p>
    <div class="timeline">

      <div class="timeline-event" *ngFor="let item of items">
        <div class="timeline-point-track-container">
          <div class="timeline-point {{item.status}}">
            <ion-icon name="checkmark-outline" [ngStyle]="{'color':'white'}" class="font-semibold"></ion-icon>
          </div>
          <div class="timeline-track {{item.status}}"></div>
        </div>
        <div class="timeline-content {{item.status}}">
          {{item.content}}
          <ion-button [disabled]="!item.active" expand="block" class="text-white font-Lato my-2 w-20" (click)="navigateTo(item.content)">Start
          </ion-button>
        </div>
      </div>

    </div>
    <!-- <ion-button expand="block" class="text-white font-Lato my-4" [routerLink]="'engine-check'">Submit</ion-button> -->

  </div>

</ion-content>
