
<app-header [title]="'CDL Training Road Test Skills'" [color]="'training'"></app-header>
<ion-content>
<app-timer [value]="'11:22:00'"></app-timer>
<form class="mx-4" [formGroup]="roadTestForm">

  <div class="col-span-12 mb-4 mt-2">
    <label class="block text-sm font-medium text-gray-700">Select Evaluation Form</label>
    <ion-select
      class="mt-1 w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
      formControlName="formSelect" placeholder="Select Evaluation Form">
      <ion-select-option value="1">Paper Form</ion-select-option>
      <ion-select-option value="2">Digital Form</ion-select-option>
      </ion-select>
  </div>
  <div>

  <div class="col-span-12 mb-4">
    <label class="block text-sm font-medium text-gray-700">Trainer <span *ngIf="this.roadTestForm.get('trainerName').hasError('required')" class="text-red-400">*</span></label>
    <input
      class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
      formControlName="trainerName" placeholder="Enter Trainer Name">
  </div>

  <div class="col-span-12 mb-4">
    <label class="block text-sm font-medium text-gray-700">Trainee <span *ngIf="this.roadTestForm.get('traineeName').hasError('required')" class="text-red-400">*</span></label>
    <input
      class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
      formControlName="traineeName" placeholder="Enter Trainee Name">
  </div>


  <div class="col-span-12 mb-4">
    <label class="block text-sm font-medium text-gray-700">Supervisor <span *ngIf="this.roadTestForm.get('supervisorName').hasError('required')" class="text-red-400">*</span></label>
    <input
      class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
      formControlName="supervisorName" placeholder="Enter Supervisor Name">
  </div>


  <div class="col-span-12 mb-4">
    <label class="block text-sm font-medium text-gray-700">Truck ID <span *ngIf="this.roadTestForm.get('truckId').hasError('required')" class="text-red-400">*</span></label>
    <input
      class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
      formControlName="truckId" placeholder="Enter Truck ID">
  </div>


  <div class="col-span-12 mb-4">
    <label class="block text-sm font-medium text-gray-700">Odometer Starting Miles <span  *ngIf="this.roadTestForm.get('odometerStartingMiles').hasError('required')" class="text-red-400">*</span></label>
    <input
      class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
      formControlName="odometerStartingMiles" placeholder="Enter Odometer Starting Miles">
  </div>


  <div class="col-span-12 mb-4">
    <label class="block text-sm font-medium text-gray-700">Odometer Ending Miles <span *ngIf="this.roadTestForm.get('odometerEndingMiles').hasError('required')" class="text-red-400">*</span></label>
    <input
      class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
      formControlName="odometerEndingMiles" placeholder="Enter Odometer Ending Miles">
  </div>

  <div class="col-span-12 mb-4">
    <label class="block text-sm font-medium text-gray-700">Trainee Completed CDL Classroom</label>
    <ion-select
      class="mt-1 w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
      formControlName="classroomSelect" placeholder="Trainee Completed CDL Classroom">
      <ion-select-option value="yes">Yes</ion-select-option>
      <ion-select-option value="no">No</ion-select-option>
    </ion-select>
  </div>

  <div class="col-span-12 mb-4">
    <label class="block text-sm font-medium text-gray-700">Trainee Completed Group Practical</label>
    <ion-select
      class="mt-1 w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
      formControlName="groupPracticalSelect" placeholder="Trainee Completed Group Practical">
      <ion-select-option value="yes">Yes</ion-select-option>
      <ion-select-option value="no">No</ion-select-option>
    </ion-select>
  </div>

  <div class="col-span-12 mb-4">
    <label class="block text-sm font-medium text-gray-700">City <span *ngIf="this.roadTestForm.get('city').hasError('required')" class="text-red-400">*</span></label>
    <input
      class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
      formControlName="city" placeholder="Enter City">
  </div>

  <div class="col-span-12 mb-4">
    <label class="block text-sm font-medium text-gray-700">State</label>
    <ion-select
      class="mt-1 w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
      formControlName="state" placeholder="Select State">
      <ion-select-option *ngFor="let state of states" [value]="state">{{state}}</ion-select-option>
    </ion-select>
  </div>

  <ion-button class="upload-button" (click)="uploadClick()" *ngIf=" value === '1'">
    <ion-icon name="add-outline"></ion-icon>
      Upload Form
  </ion-button>
  <!-- For Paper Form -->
<div *ngIf="value === '1' && upload">
    <div class="ml-1 mt-4">
      <ion-label class="font font-medium text-aaaaaa">Training docs (upload here)</ion-label>
    </div>
    <div class="flex px-2 py-2">
      <div class="w-16 h-16 mr-2">
        <ion-card
          [ngClass]="!upload_1 ? ' shadow-none m-0 border-2 border-aaaaaa bg-e9e6e6' : 'shadow-none m-0 border-2 border-3D8AA4 bg-white'"
          (click)="upload__1.click()"
        >
          <ion-card-content class="p-0 w-16 h-16 flex justify-center items-center">
              <ion-segment scrollable value="done" class="bg-none">
                <ion-segment-button value="upload" *ngIf="!upload_1">
                  <ion-icon
                    [ngStyle]="{'color' : !upload_1 ? '#aaaaaa' : ''}"
                    name="cloud-upload-outline"
                  >
                  </ion-icon>
                </ion-segment-button>

                <ion-segment-button value="done" *ngIf="upload_1">
                  <ion-icon
                    [ngStyle]="{'color' : upload_1 ? '#59C64F' : ''}"
                    name="cloud-done-outline"
                  >
                  </ion-icon>
                </ion-segment-button>
                <input
                  #upload__1
                  type="file"
                  class=" invisible hidden"
                  formControlName="uploadDocs1"
                  (change)="onSelectedFiles($event, 'upload_1')"
                />
              </ion-segment>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="w-16 h-16 mr-2">
        <ion-card
          [ngClass]="!upload_2 ? ' shadow-none m-0 border-2 border-aaaaaa bg-e9e6e6' : 'shadow-none m-0 border-2 border-3D8AA4 bg-white'"
          (click)="upload__2.click()"
        >
          <ion-card-content class="p-0 w-16 h-16 flex justify-center items-center">
              <ion-segment scrollable value="done" class="bg-none">
                <ion-segment-button value="upload" *ngIf="!upload_2">
                  <ion-icon
                    [ngStyle]="{'color' : !upload_2 ? '#aaaaaa' : ''}"
                    name="cloud-upload-outline"
                  >
                  </ion-icon>
                </ion-segment-button>

                <ion-segment-button value="done" *ngIf="upload_2">
                  <ion-icon
                    [ngStyle]="{'color' : upload_2 ? '#59C64F' : ''}"
                    name="cloud-done-outline"
                  >
                  </ion-icon>
                </ion-segment-button>
                <input
                  #upload__2
                  type="file"
                  class=" invisible hidden"
                  formControlName="uploadDocs2"
                  (change)="onSelectedFiles($event, 'upload_2')"
                />
              </ion-segment>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="w-16 h-16 mr-2">
        <ion-card
          [ngClass]="!upload_3 ? ' shadow-none m-0 border-2 border-aaaaaa bg-e9e6e6' : 'shadow-none m-0 border-2 border-3D8AA4 bg-white'"
          (click)="upload__3.click()"
        >
          <ion-card-content class="p-0 w-16 h-16 flex justify-center items-center">
              <ion-segment scrollable value="done" class="bg-none">
                <ion-segment-button value="upload" *ngIf="!upload_3">
                  <ion-icon
                    [ngStyle]="{'color' : !upload_3 ? '#aaaaaa' : ''}"
                    name="cloud-upload-outline"
                  >
                  </ion-icon>
                </ion-segment-button>

                <ion-segment-button value="done" *ngIf="upload_3">
                  <ion-icon
                    [ngStyle]="{'color' : upload_3 ? '#59C64F' : ''}"
                    name="cloud-done-outline"
                  >
                  </ion-icon>
                </ion-segment-button>
                <input
                  #upload__3
                  type="file"
                  class=" invisible hidden"
                  formControlName="uploadDocs3"
                  (change)="onSelectedFiles($event, 'upload_3')"

                />
              </ion-segment>
          </ion-card-content>
        </ion-card>
      </div>
  </div>
  <ion-button expand="block" class="font-Lato text-white mb-4 mt-6 mx-8" (click)="continue()">Continue</ion-button>
  <ion-button expand="block" class="close-out-button font-Lato mb-4 mt-0 mx-8 bg-opacity-10">Close-out</ion-button>
</div>
<!-- For Digital Form -->
<div *ngIf="value === '2'">
<ion-button expand="block" class="font-Lato text-white mb-4 mt-6 mx-8" (click)="continue()">Continue</ion-button>
<ion-button expand="block" class="close-out-button font-Lato mb-4 mt-0 mx-8 bg-opacity-10">Close-out</ion-button>
</div>
</div>
</form>
</ion-content>
