.font{
  font-family: 'Lato';
}
.upload-button{
  --background:none;
    --color: #3D8AA4;
    --border-radius: 10px;
    --border-color: #3D8AA4;
    --border-style: solid;
    --border-width: 1px;
    margin-top: 20px;
    // margin-left: 9px;
    ion-icon{
      color: #3D8AA4;
    }
}
.close-out-button{
  --background:none;
    --color: #3D8AA4;
    --border-radius: 10px;
    --border-color: #3D8AA4;
    --border-style: solid;
    --border-width: 1px;
    // margin-top: 20px;
    // margin-left: 19px;
}
ion-segment {
  --background: none;
  ion-segment-button {
    min-width: 10px;
    color: #aaaaaa;
    --border-color: none;
    --indicator-color: none;
    --indicator-box-shadow: 0;
    ion-icon {
      zoom: 1;
    }
  }
}
ion-item::part(native){
  --padding-start: 0px;

}
