
<app-header [title]="'CDL Training Road Test Skills'" [color]="'training'"></app-header>
<ion-content>
<app-timer [value]="'11:22:00'"></app-timer>
<form class="mx-4" [formGroup]="roadTestForm">
  <ion-item class="mt-9">
    <ion-select formControlName="formSelect" placeholder="Select Evaluation Form" interface="alert" (ionChange)="onSelect($event)">
      <ion-select-option value="1">Paper Form</ion-select-option>
      <ion-select-option value="2">Digital Form</ion-select-option>
    </ion-select>
  </ion-item>
  <div>
  <ion-item>
    <ion-label position="floating" class="font">Trainer</ion-label>
    <ion-input formControlName="trainerName" placeholder="Enter Trainer Name"></ion-input>
  </ion-item>
  <ion-text *ngIf="this.roadTestForm.get('trainerName').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-0 mt-1">Trainer required</ion-text>

  <ion-item>
    <ion-label position="floating" class="font">Trainee</ion-label>
    <ion-input formControlName="traineeName" placeholder="Enter Trainee Name"></ion-input>
  </ion-item>
  <ion-text *ngIf="this.roadTestForm.get('traineeName').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-0 mt-1">Trainee required</ion-text>

  <ion-item>
    <ion-label position="floating" class="font">Supervisor</ion-label>
    <ion-input formControlName="supervisorName" placeholder="Enter Supervisor Name"></ion-input>
  </ion-item>
  <ion-text *ngIf="this.roadTestForm.get('supervisorName').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-0 mt-1">Supervisor required</ion-text>

  <ion-item>
    <ion-label position="floating" class="font">Truck ID</ion-label>
    <ion-input formControlName="truckId" placeholder="Enter Truck ID"></ion-input>
  </ion-item>
  <ion-text *ngIf="this.roadTestForm.get('truckId').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-0 mt-1">Truck Id required</ion-text>

  <ion-item>
    <ion-label position="floating" class="font">Odometer Starting Miles</ion-label>
    <ion-input formControlName="odometerStartingMiles" placeholder="Enter Odometer Starting Miles"></ion-input>
  </ion-item>
  <ion-text *ngIf="this.roadTestForm.get('odometerStartingMiles').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-0 mt-1">Starting Miles required</ion-text>


  <ion-item>
    <ion-label position="floating" class="font">Odometer Ending Miles</ion-label>
    <ion-input formControlName="odometerEndingMiles" placeholder="Enter Odometer Ending Miles"></ion-input>
  </ion-item>
  <ion-text *ngIf="this.roadTestForm.get('odometerEndingMiles').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-0 mt-1">Ending Miles required</ion-text>

  <ion-item>
    <ion-select placeholder="Trainee Completed CDL Classroom" interface="alert" formControlName="classroomSelect">
      <ion-select-option value="yes">Yes</ion-select-option>
      <ion-select-option value="no">No</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-select placeholder="Trainee Completed Group Practical" interface="alert" formControlName="groupPracticalSelect">
      <ion-select-option value="yes">Yes</ion-select-option>
      <ion-select-option value="no">No</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="font">City</ion-label>
    <ion-input formControlName="city" placeholder="Enter City"></ion-input>
  </ion-item>
  <ion-text *ngIf="this.roadTestForm.get('city').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-0 mt-1">City required</ion-text>

  <ion-item>
    <ion-label position="floating" class="font">State</ion-label>
    <ion-input formControlName="state" placeholder="Enter State"></ion-input>
  </ion-item>
  <div>
    <ion-text *ngIf="this.roadTestForm.get('state').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-0 mt-1">State required</ion-text>
  </div>

  <ion-button class="upload-button" (click)="uploadClick()" *ngIf=" value === '1'">
    <ion-icon name="add-outline"></ion-icon>
      Upload Form
  </ion-button>
  <!-- For Paper Form -->
<div *ngIf="value === '1' && upload">
    <div class="ml-1 mt-4">
      <ion-label class="font font-medium text-aaaaaa">Training docs (upload here)</ion-label>
    </div>
    <div class="flex px-2 py-2">
      <div class="w-16 h-16 mr-2">
        <ion-card
          [ngClass]="!upload_1 ? ' shadow-none m-0 border-2 border-aaaaaa bg-e9e6e6' : 'shadow-none m-0 border-2 border-project-green bg-white'"
          (click)="upload__1.click()"
        >
          <ion-card-content class="p-0 w-16 h-16 flex justify-center items-center">
              <ion-segment scrollable value="done" class="bg-none">
                <ion-segment-button value="upload" *ngIf="!upload_1">
                  <ion-icon
                    [ngStyle]="{'color' : !upload_1 ? '#aaaaaa' : ''}"
                    name="cloud-upload-outline"
                  >
                  </ion-icon>
                </ion-segment-button>

                <ion-segment-button value="done" *ngIf="upload_1">
                  <ion-icon
                    [ngStyle]="{'color' : upload_1 ? '#59C64F' : ''}"
                    name="cloud-done-outline"
                  >
                  </ion-icon>
                </ion-segment-button>
                <input
                  #upload__1
                  type="file"
                  class=" invisible hidden"
                  formControlName="uploadDocs1"
                  (change)="onSelectedFiles($event, 'upload_1')"
                />
              </ion-segment>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="w-16 h-16 mr-2">
        <ion-card
          [ngClass]="!upload_2 ? ' shadow-none m-0 border-2 border-aaaaaa bg-e9e6e6' : 'shadow-none m-0 border-2 border-project-green bg-white'"
          (click)="upload__2.click()"
        >
          <ion-card-content class="p-0 w-16 h-16 flex justify-center items-center">
              <ion-segment scrollable value="done" class="bg-none">
                <ion-segment-button value="upload" *ngIf="!upload_2">
                  <ion-icon
                    [ngStyle]="{'color' : !upload_2 ? '#aaaaaa' : ''}"
                    name="cloud-upload-outline"
                  >
                  </ion-icon>
                </ion-segment-button>

                <ion-segment-button value="done" *ngIf="upload_2">
                  <ion-icon
                    [ngStyle]="{'color' : upload_2 ? '#59C64F' : ''}"
                    name="cloud-done-outline"
                  >
                  </ion-icon>
                </ion-segment-button>
                <input
                  #upload__2
                  type="file"
                  class=" invisible hidden"
                  formControlName="uploadDocs2"
                  (change)="onSelectedFiles($event, 'upload_2')"
                />
              </ion-segment>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="w-16 h-16 mr-2">
        <ion-card
          [ngClass]="!upload_3 ? ' shadow-none m-0 border-2 border-aaaaaa bg-e9e6e6' : 'shadow-none m-0 border-2 border-project-green bg-white'"
          (click)="upload__3.click()"
        >
          <ion-card-content class="p-0 w-16 h-16 flex justify-center items-center">
              <ion-segment scrollable value="done" class="bg-none">
                <ion-segment-button value="upload" *ngIf="!upload_3">
                  <ion-icon
                    [ngStyle]="{'color' : !upload_3 ? '#aaaaaa' : ''}"
                    name="cloud-upload-outline"
                  >
                  </ion-icon>
                </ion-segment-button>

                <ion-segment-button value="done" *ngIf="upload_3">
                  <ion-icon
                    [ngStyle]="{'color' : upload_3 ? '#59C64F' : ''}"
                    name="cloud-done-outline"
                  >
                  </ion-icon>
                </ion-segment-button>
                <input
                  #upload__3
                  type="file"
                  class=" invisible hidden"
                  formControlName="uploadDocs3"
                  (change)="onSelectedFiles($event, 'upload_3')"

                />
              </ion-segment>
          </ion-card-content>
        </ion-card>
      </div>
  </div>
  <ion-button expand="block" class="font-Lato text-white mb-4 mt-6 mx-8" (click)="continue()">Continue</ion-button>
  <ion-button expand="block" class="close-out-button font-Lato mb-4 mt-0 mx-8 bg-opacity-10">Close-out</ion-button>
</div>
<!-- For Digital Form -->
<div *ngIf="value === '2'">
<ion-button expand="block" class="font-Lato text-white mb-4 mt-6 mx-8" (click)="continue()">Continue</ion-button>
<ion-button expand="block" class="close-out-button font-Lato mb-4 mt-0 mx-8 bg-opacity-10">Close-out</ion-button>
</div>
</div>
</form>
</ion-content>
