<app-header [title]="role ==='crew-chief'? 'Crew Tasks' : ''
|| role === 'combine-operator'? 'Combine Operator Tasks': ''
|| role ==='kart-operator'? 'Kart Operator Tasks' : ''
|| role ==='truck-driver'? 'Truck Driver Tasks' : ''" [color]="'harvesting'" [routeValue]="'harvesting'"></app-header>

<!-- Crew-Tasks -->
<ion-content *ngIf="role === 'crew-chief'">
  <p class="text-xl font-bold font-Lato mt-8 ml-7">Job Set-up</p>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['job-setup']">
          <ion-card-content>
            <p class="font-15px font-bold font-Lato">Customer Job Set-up and Completion</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['assign-roles']">
          <ion-card-content>
            <p class="font-15px font-bold font-Lato">Assign Roles</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['change-farm']">
          <ion-card-content>
            <p class="font-15px font-bold font-Lato">Change Farm/Crop</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['close-out']">
          <ion-card-content>
            <p class="font-15px font-bold font-Lato">Close-out Customer Job</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p class="text-xl font-bold font-Lato mt-8 ml-7">Combining Tasks</p>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['start-job']">
          <ion-card-content>
            <p class="font-15px font-bold font-Lato">Enter Begining of Day Work Data</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['change-field']">
          <ion-card-content>
            <p class="font-15px font-bold font-Lato">Change Field</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['close-job']">
          <ion-card-content>
            <p class="font-15px font-bold font-Lato">Submit End of Day Work Data</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- MODEL -->
  <app-check-in-out [module]="'harvesting'">
  </app-check-in-out>
</ion-content>

<!-- Combine Operator Tasks -->
<ion-content *ngIf="role === 'combine-operator'">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['start-job']">
          <ion-card-content>
            <p class="font-15px font-bold font-Lato">Enter Field Data</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card class="card" [routerLink]="['close-job']">
          <ion-card-content>
            <p class="font-15px font-bold font-Lato">Submit End of Day Work Data</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- <ion-col size="12">
        <ion-card class="card" [routerLink]="['close-out']">
          <ion-card-content>
             <p class="font-15px font-bold font-Lato">Close-out Customer Job</p>
          </ion-card-content>
        </ion-card>
      </ion-col> -->
    </ion-row>

    <!-- MODEL -->
    <app-check-in-out [module]="'harvesting'">
    </app-check-in-out>
  </ion-grid>
</ion-content>

<!-- Kart Operator Tasks -->
<ion-content *ngIf="role === 'kart-operator'">
  <p class="text-xl font-bold font-Lato mt-8 ml-7">Kart Operator Tasks</p>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['driver-setup']">
          <ion-card-content>
            <p class="font-15px font-bold font-Lato">Truck Driver Set-up</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['start-job']">
          <ion-card-content>
            <p class="font-15px font-bold font-Lato">Enter Begining of Day work Data</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- <ion-col size="12">
        <ion-card class="card" [routerLink]="['change-field']">
          <ion-card-content>
             <p class="font-15px font-bold font-Lato">Change Field</p>
          </ion-card-content>
        </ion-card>
      </ion-col> -->
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['close-job']">
          <ion-card-content>
            <p class="font-15px font-bold font-Lato">Submit End of Day Work Data</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- <ion-col size="12">
        <ion-card class="card" [routerLink]="['close-out']">
          <ion-card-content>
             <p class="font-15px font-bold font-Lato">Close-out Customer Job</p>
          </ion-card-content>
        </ion-card>
      </ion-col> -->
    </ion-row>
  </ion-grid>
  <p class="text-xl font-bold font-Lato mt-8 ml-7">Ticket Management</p>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="card" (click)="navigate('ticket')">
          <ion-card-content>
            <p class="font-15px font-bold font-Lato">Create Delivery Tickets</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['verify-ticket']">
          <ion-card-content>
            <!-- <p class="font-15px font-bold font-Lato">Verify Delivery Tickets <span class="bg-project-green text-white rounded-full p-1">3</span></p> -->
            <div class="flex justify-center items-center">
              <p class="font-15px font-bold font-Lato">Verify Delivery Tickets</p>
              <span
                class="text-white font-semibold ml-2 bg-3D8AA4 w-7 h-7 rounded-full flex justify-center items-center">6</span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="card" (click)="navigate('reassign-ticket')">
          <ion-card-content>
            <p class="font-15px font-bold font-Lato">Reassign Delivery Tickets</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- MODEL -->
    <app-check-in-out [module]="'harvesting'">
    </app-check-in-out>
  </ion-grid>
</ion-content>

<!-- Truck Driver Tasks -->
<ion-content *ngIf="role === 'truck-driver'">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="card bg-project-green text-white" [routerLink]="['complete-pre-check-form', activeTicket]">
          <ion-card-content>
            <p class="font-15px font-bold font-Lato">View/Complete Pre-Trip Check Form</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['start-job']">
          <ion-card-content>
            <p class="font-15px font-bold font-Lato">Enter Begining of Day Work Data</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['verify-ticket']">
          <ion-card-content>
            <div class="flex justify-center items-center">
              <p class="font-15px font-bold font-Lato">Complete Delivery Tickets</p>
              <span
                class="text-white font-semibold ml-2 bg-project-green w-7 h-7 rounded-full flex justify-center items-center">6</span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['close-job',preCheck]">
          <ion-card-content>
            <p class="font-15px font-bold font-Lato">Submit End of Day Work Data</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- MODEL -->
    <app-check-in-out [module]="'harvesting'">
    </app-check-in-out>
  </ion-grid>

</ion-content>
