.padding {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.font-15px {
    font-size: 15px !important;
}

.font-bold {
    font-weight: 600;
    letter-spacing: 0.4px;
}

.card {
    box-shadow: none;
    background: #F2F1F1;
    text-align: center;
    height: 135px;
    margin: 0px;

    ion-card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        ion-icon {
            width: 30px;
            height: 30px;
        }
    }

    ion-text {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin-top: 20px;
    }
}