
<app-header [title]="'Change Field'" [color]="'harvesting'"></app-header>

<!-- Crew-Chief -->
 <ion-content *ngIf="role === 'crew-chief'">
  <app-timer [value]="'23:00:12'"></app-timer>
  <div class="p-4">
<ion-card class="m-0 mb-2">
  <ion-card-header>
    <ion-card-title class="font-Lato">Customer Profile</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Customer Name</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Mike Allen</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">State</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Arizona</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Farm</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Dakota </ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crop</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Corn</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<form [formGroup]="changeFieldFormChief">
  <div class="">
    <ion-item>
      <ion-label position="floating" class="font">Field Name</ion-label>
      <ion-input placeholder="Field Name" formControlName="fieldName"></ion-input>

    </ion-item>
    <ion-text *ngIf="this.changeFieldFormChief.get('fieldName').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Field Name required</ion-text>
    <ion-item>
      <ion-label position="floating" class="font">GPS Acres Completed (for prior field)</ion-label>
      <ion-input placeholder="GPS Acres Completed (for prior field)" formControlName="acresPriorField"></ion-input>
    </ion-item>
    <ion-text *ngIf="this.changeFieldFormChief.get('acresPriorField').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">GPS Acres (for prior field) required</ion-text>
  </div>
  <ion-button expand="block" class="mt-5 font-Lato text-white" [disabled]="changeFieldFormChief.invalid" (click)="submit()">Save</ion-button>
</form>
</div>
</ion-content>

<!-- Combine Operator -->
<ion-content *ngIf="role === 'combine-operator'">
  <div class="p-4">
<ion-card class="m-0 mb-2">
  <ion-card-header>
    <ion-card-title class="font-Lato">Customer Profile</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Customer Name</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Mike Allen</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">State</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Arizona</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Farm</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Dakota </ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crop</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Corn</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<p class="text-xl font-bold font-Lato mt-8">Job Set-up</p>
<form [formGroup]="changeFieldFormCombine">

  <div class="">
  <ion-item>
    <ion-label position="floating" class="font">Enter Field Name</ion-label>
    <ion-input placeholder="Field Name" formControlName="fieldName"></ion-input>
  </ion-item>
  <ion-text *ngIf="this.changeFieldFormCombine.get('fieldName').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Field Name required</ion-text>
  <ion-item>
    <ion-label position="floating" class="font">GPS Acres Completed (for prior field)</ion-label>
    <ion-input placeholder="GPS Acres Completed (for prior field)" formControlName="acresPriorField"></ion-input>
  </ion-item>
  <ion-text *ngIf="this.changeFieldFormCombine.get('acresPriorField').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">GPS Acres (for prior field) required</ion-text>
</div>
<ion-button expand="block" class="mt-5 font-Lato text-white" (click)="submit()" [disabled]="changeFieldFormCombine.invalid">Save</ion-button>
</form>
</div>
</ion-content>

<!-- Kart-Operator -->
<ion-content *ngIf="role === 'kart-operator'">
  <app-timer [value]="'23:00:12'"></app-timer>
  <div class="p-4">
<ion-card class="m-0 mb-2">
  <ion-card-header>
    <ion-card-title class="font-Lato">Customer Profile</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Customer Name</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Mike Allen</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">State</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Arizona</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Farm</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Dakota </ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crop</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Corn</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<form [formGroup]="changeFieldFormKart">
  <div class="">
    <ion-item>
      <ion-label position="floating" class="font">Enter Field Name</ion-label>
      <ion-input placeholder="Field Name" formControlName="fieldName"></ion-input>
    </ion-item>
    <ion-text *ngIf="this.changeFieldFormKart.get('fieldName').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Field Name required</ion-text>

    <ion-item>
      <ion-label position="floating" class="font">GPS Acres Completed (for prior field)</ion-label>
      <ion-input placeholder="GPS Acres Completed (for prior field)" formControlName="acresPriorField"></ion-input>
    </ion-item>
    <ion-text *ngIf="this.changeFieldFormKart.get('acresPriorField').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">GPS Acres (for prior field) required</ion-text>
  </div>
  <ion-button expand="block" class="mt-5 font-Lato text-white" (click)="submit()" [disabled]="changeFieldFormKart.invalid">Save</ion-button>
</form>
</div>
</ion-content>
