
<app-header [title]="'Change Field'" [color]="'harvesting'"></app-header>

<!-- Crew-Chief -->
 <ion-content *ngIf="role === 'crew-chief'">
  <app-timer [value]="'23:00:12'"></app-timer>
  <div class="p-4">
<ion-card class="m-0 mb-2">
  <ion-card-header>
    <ion-card-title class="font-Lato">Customer Profile</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Customer Name</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Mike Allen</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">State</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Arizona</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Farm</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Dakota </ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crop</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Corn</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<form [formGroup]="changeFieldFormChief">
  <div class="px-2">
    <div class="col-span-12 mb-4">
      <label class="block text-sm font-medium text-gray-700">Field Name <span *ngIf="this.changeFieldFormChief.get('fieldName').hasError('required')" class="text-red-400">*</span></label>
      <input
        class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
        formControlName="fieldName" placeholder="Field Name">
    </div>
    <div class="col-span-12 mb-4">
      <label class="block text-sm font-medium text-gray-700">GPS Acres Completed (for prior field) <span *ngIf="this.changeFieldFormChief.get('acresPriorField').hasError('required')" class="text-red-400">*</span></label>
      <input
        class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
        formControlName="acresPriorField" placeholder="GPS Acres Completed (for prior field)">
    </div>
        <ion-button expand="block" class="mt-5 font-Lato text-white" [disabled]="changeFieldFormChief.invalid" (click)="submit()">Save</ion-button>
  </div>
</form>
</div>
</ion-content>

<!-- Combine Operator -->
<ion-content *ngIf="role === 'combine-operator'">
  <div class="p-4">
<ion-card class="m-0 mb-2">
  <ion-card-header>
    <ion-card-title class="font-Lato">Customer Profile</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Customer Name</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Mike Allen</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">State</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Arizona</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Farm</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Dakota </ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crop</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Corn</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<p class="text-xl font-bold font-Lato mt-8">Job Set-up</p>
<form [formGroup]="changeFieldFormCombine">

  <div class="px-2">
  <div class="col-span-12 mb-4">
    <label class="block text-sm font-medium text-gray-700">Enter Field Name <span *ngIf="this.changeFieldFormCombine.get('fieldName').hasError('required')" class="text-red-400">*</span></label>
    <input
      class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
      formControlName="fieldName" placeholder="Enter Field Name">
  </div>
  <div class="col-span-12 mb-4">
    <label class="block text-sm font-medium text-gray-700">GPS Acres Completed (for prior field) <span *ngIf="this.changeFieldFormCombine.get('acresPriorField').hasError('required')" class="text-red-400">*</span></label>
    <input
      class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
      formControlName="acresPriorField" placeholder="GPS Acres Completed (for prior field)">
  </div>
    <ion-button expand="block" class="mt-5 font-Lato text-white" (click)="submit()" [disabled]="changeFieldFormCombine.invalid">Save</ion-button>
</div>
</form>
</div>
</ion-content>

<!-- Kart-Operator -->
<ion-content *ngIf="role === 'kart-operator'">
  <app-timer [value]="'23:00:12'"></app-timer>
  <div class="p-4">
<ion-card class="m-0 mb-2">
  <ion-card-header>
    <ion-card-title class="font-Lato">Customer Profile</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Customer Name</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Mike Allen</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">State</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Arizona</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Farm</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Dakota </ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crop</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Corn</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<form [formGroup]="changeFieldFormKart">
  <div class="px-2">
    <div class="col-span-12 mb-4">
      <label class="block text-sm font-medium text-gray-700">Enter Field Name <span *ngIf="this.changeFieldFormKart.get('fieldName').hasError('required')" class="text-red-400">*</span></label>
      <input
        class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
        formControlName="fieldName" placeholder="Enter Field Name">
    </div>
    <div class="col-span-12 mb-4">
      <label class="block text-sm font-medium text-gray-700">GPS Acres Completed (for prior field) <span *ngIf="this.changeFieldFormKart.get('acresPriorField').hasError('required')" class="text-red-400">*</span></label>
      <input
        class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
        formControlName="acresPriorField" placeholder="GPS Acres Completed (for prior field)">
    </div>
    <ion-button expand="block" class="mt-5 font-Lato text-white" (click)="submit()" [disabled]="changeFieldFormKart.invalid">Save</ion-button>
  </div>
</form>
</div>
</ion-content>
