
<app-header [title]="'View Work History'" [color]="'dwr'"></app-header>
<ion-content>
  <app-timer [value]="'11:22:33'"></app-timer>
  <div class="p-2">
  <div class="segment-style">
    <ion-segment [(ngModel)]="segment" scrollable>
      <ion-segment-button value="day">By Day </ion-segment-button>
      <ion-segment-button value="month">By Month </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="segment">
      <div *ngSwitchCase="'day'">
        <div class="px-4">
          <div class="col-span-12 mb-4 mt-2" id="click-trigger">
            <label class="block text-sm font-medium text-gray-700">Select Date:</label>
            <input
            id="click-trigger"
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              placeholder="Enter date" readonly [value]="date" >
          </div>
          <ion-popover trigger="click-trigger" triggerAction="click" class="" [isOpen]="isOpen">
            <ng-template>
              <ion-datetime
              (ionChange)="getDate($event)"
                presentation="date"
                size="cover"
              ></ion-datetime>
            </ng-template>
          </ion-popover>
        </div>
        <ion-button expand="block" class="text-white rounded-md font-Lato text-sm px-2 py-0 ml-2 mt-1" (click)="getDWRByDate()">Get DWR</ion-button>

        <ion-card class="p-2 flex flex-col justify-between items-center" (click)="navigate('work-history')">
          <ion-text class="font-Lato font-semibold text-lg text-3D8AA4">August 23, 2021</ion-text>
          <ion-text class="font-Lato text-base mt-1">Total Hours: 8</ion-text>
        </ion-card>
        <ion-card class="p-2 flex flex-col justify-between items-center" >
          <ion-text class="font-Lato font-semibold text-lg text-3D8AA4">August 23, 2021</ion-text>
          <ion-text class="font-Lato text-base mt-1">Total Hours: 8</ion-text>
        </ion-card>
        <ion-card class="p-2 flex flex-col justify-between items-center" >
          <ion-text class="font-Lato font-semibold text-lg text-3D8AA4">August 23, 2021</ion-text>
          <ion-text class="font-Lato text-base mt-1">Total Hours: 8</ion-text>
        </ion-card>
        <ion-card class="p-2 flex flex-col justify-between items-center" >
          <ion-text class="font-Lato font-semibold text-lg text-3D8AA4">August 23, 2021</ion-text>
          <ion-text class="font-Lato text-base mt-1">Total Hours: 8</ion-text>
        </ion-card>
      </div>
      <div *ngSwitchCase="'month'">
        <div class="px-4">
          <div class="col-span-12 mb-4 mt-2" id="click-trigger">
            <label class="block text-sm font-medium text-gray-700">Select Month:</label>
            <input
            id="click-trigger"
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              placeholder="Enter date" readonly [value]="month" >
          </div>
          <ion-popover trigger="click-trigger" triggerAction="click" class="" [isOpen]="isOpen">
            <ng-template>
              <ion-datetime
              (ionChange)="getMonth($event)"
                presentation="month-year"
                size="cover"
              ></ion-datetime>
            </ng-template>
          </ion-popover>
        </div>
        <ion-button expand="block" class="text-white rounded-md font-Lato text-sm px-2 py-0 ml-2 mt-1">Get DWR</ion-button>

        <ion-card class="p-2 flex flex-col justify-between items-center" >
          <ion-text class="font-Lato font-semibold text-lg text-3D8AA4">August 23, 2021</ion-text>
          <ion-text class="font-Lato text-base mt-1">Total Hours: 8</ion-text>
        </ion-card>
        <ion-card class="p-2 flex flex-col justify-between items-center" >
          <ion-text class="font-Lato font-semibold text-lg text-3D8AA4">August 23, 2021</ion-text>
          <ion-text class="font-Lato text-base mt-1">Total Hours: 8</ion-text>
        </ion-card>
        <ion-card class="p-2 flex flex-col justify-between items-center" >
          <ion-text class="font-Lato font-semibold text-lg text-3D8AA4">August 23, 2021</ion-text>
          <ion-text class="font-Lato text-base mt-1">Total Hours: 8</ion-text>
        </ion-card>
        <ion-card class="p-2 flex flex-col justify-between items-center" >
          <ion-text class="font-Lato font-semibold text-lg text-3D8AA4">August 23, 2021</ion-text>
          <ion-text class="font-Lato text-base mt-1">Total Hours: 8</ion-text>
        </ion-card>
      </div>

    </div>
  </div>
</div>
</ion-content>
