<app-header [title]="'Create New Work Order'" [color]="'farming'"></app-header>
<app-timer [value]="'12-10-2022'"> </app-timer>
<ion-content>
  
  <div class="p-4">
    <div>
      <ion-item>
        <ion-label position="floating">Work Order #</ion-label>
        <ion-input placeholder="Enter Work Order #"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Dispatcher</ion-label>
        <ion-input placeholder="Enter Dispatcher"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Customer</ion-label>
        <ion-input placeholder="Enter Customer Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Farm</ion-label>
        <ion-input placeholder="Enter Farm Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Field</ion-label>
        <ion-input placeholder="Enter Field Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Service</ion-label>
        <ion-input placeholder="Enter Service"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tractor Driver</ion-label>
        <ion-input placeholder="Enter Tractor Driver"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Field Address (if known)</ion-label>
        <ion-input placeholder="Enter Field Address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Customer Phone</ion-label>
        <ion-input placeholder="Enter Customer Phone"></ion-input>
      </ion-item>

    </div>
    <ion-button expand="block" class="mt-5 font-Lato text-white" [routerLink]="['ticket-generated']">Generate
      Ticket
    </ion-button>
  </div>
</ion-content>