<app-header [title]="['Pre-Trip Check Form Truck']" [color]="'preTripForm'"></app-header>

<ion-content>
  <app-timer [value]="'12-12-2020'"></app-timer>
  <div class="p-4 pb-0">

    <div class="mx-4 my-2">
      <ion-progress-bar class="mb-2" [buffer]="buffer" [value]="progress"></ion-progress-bar>
      <ion-text class="text-lg justify-start flex font-Lato text-black ml-2">{{progress * 5}} of 5
        Completed</ion-text>
    </div>

  </div>

  <div class="p-4 pt-0">
    <ion-text>
      <h2 class="font-semibold ml-4">Engine / Compartment</h2>
      <p class="ml-4">Please select items that needs M&R attention:</p>
    </ion-text>

    <form [formGroup]="engineCheckForm">
      <ion-item>
        <div class="mt-4 mb-6">
          <label class="font-bold">Air Compressor Engine</label>
          <ion-radio-group formControlName="airCompressorEngine" value="true" class="radio">
            <div class="flex">
              <ion-item class="h-10" lines="none">
                <ion-radio mode="md" value="true"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">Satisfactory</ion-label>
              </ion-item>
              <ion-item class="h-10 " lines="none">
                <ion-radio mode="md" class="unsatisfactory" value="false"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">UnSatisfactory</ion-label>
              </ion-item>
            </div>
          </ion-radio-group>
          <div
            [ngClass]="this.engineCheckForm.get('airCompressorEngine').value ==='true' ? 'hidden':'flex bg-slate-200 px-4 mt-4'">
            <ion-textarea formControlName="airCompressorEngineNotes" placeholder=" Add Comments"
              [autocapitalize]="true">
            </ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="mt-4 mb-6">
          <label class="font-bold">Belts & Hoses</label>
          <ion-radio-group formControlName="beltsHoses" value="true" class="radio">
            <div class="flex">
              <ion-item class="h-10" lines="none">
                <ion-radio mode="md" value="true"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">Satisfactory</ion-label>
              </ion-item>
              <ion-item class="h-10 " lines="none">
                <ion-radio mode="md" class="unsatisfactory" value="false"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">UnSatisfactory</ion-label>
              </ion-item>
            </div>
          </ion-radio-group>
          <div
            [ngClass]="this.engineCheckForm.get('beltsHoses').value ==='true' ? 'hidden':'flex bg-slate-200 px-4 mt-4'">
            <ion-textarea formControlName="beltsHosesNotes" placeholder=" Add Comments" [autocapitalize]="true">
            </ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="mt-4 mb-6">
          <label class="font-bold">Radiator</label>
          <ion-radio-group formControlName="radiator" value="true" class="radio">
            <div class="flex">
              <ion-item class="h-10" lines="none">
                <ion-radio mode="md" value="true"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">Satisfactory</ion-label>
              </ion-item>
              <ion-item class="h-10 " lines="none">
                <ion-radio mode="md" class="unsatisfactory" value="false"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">UnSatisfactory</ion-label>
              </ion-item>
            </div>
          </ion-radio-group>
          <div
            [ngClass]="this.engineCheckForm.get('radiator').value ==='true' ? 'hidden':'flex bg-slate-200 px-4 mt-4'">
            <ion-textarea formControlName="radiatorNotes" placeholder=" Add Comments" [autocapitalize]="true">
            </ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="mt-4 mb-6">
          <label class="font-bold">Steering</label>
          <ion-radio-group formControlName="steering" value="true" class="radio">
            <div class="flex">
              <ion-item class="h-10" lines="none">
                <ion-radio mode="md" value="true"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">Satisfactory</ion-label>
              </ion-item>
              <ion-item class="h-10 " lines="none">
                <ion-radio mode="md" class="unsatisfactory" value="false"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">UnSatisfactory</ion-label>
              </ion-item>
            </div>
          </ion-radio-group>
          <div
            [ngClass]="this.engineCheckForm.get('steering').value ==='true' ? 'hidden':'flex bg-slate-200 px-4 mt-4'">
            <ion-textarea formControlName="steeringNotes" placeholder=" Add Comments" [autocapitalize]="true">
            </ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="mt-4 mb-6">
          <label class="font-bold">Oil Level</label>
          <ion-radio-group formControlName="oilLvl" value="true" class="radio">
            <div class="flex">
              <ion-item class="h-10" lines="none">
                <ion-radio mode="md" value="true"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">Satisfactory</ion-label>
              </ion-item>
              <ion-item class="h-10 " lines="none">
                <ion-radio mode="md" class="unsatisfactory" value="false"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">UnSatisfactory</ion-label>
              </ion-item>
            </div>
          </ion-radio-group>
          <div [ngClass]="this.engineCheckForm.get('oilLvl').value ==='true' ? 'hidden':'flex bg-slate-200 px-4 mt-4'">
            <ion-textarea formControlName="oilLvlNotes" placeholder=" Add Comments" [autocapitalize]="true">
            </ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="mt-4 mb-6">
          <label class="font-bold">Fluid Levels</label>
          <ion-radio-group formControlName="fluidLvl" value="true" class="radio">
            <div class="flex">
              <ion-item class="h-10" lines="none">
                <ion-radio mode="md" value="true"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">Satisfactory</ion-label>
              </ion-item>
              <ion-item class="h-10 " lines="none">
                <ion-radio mode="md" class="unsatisfactory" value="false"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">UnSatisfactory</ion-label>
              </ion-item>
            </div>
          </ion-radio-group>
          <div
            [ngClass]="this.engineCheckForm.get('fluidLvl').value ==='true' ? 'hidden':'flex bg-slate-200 px-4 mt-4'">
            <ion-textarea formControlName="fluidLvlNotes" placeholder=" Add Comments" [autocapitalize]="true">
            </ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="mt-4 mb-6">
          <label class="font-bold">Clutch Condition</label>
          <ion-radio-group formControlName="clutchCondition" value="true" class="radio">
            <div class="flex">
              <ion-item class="h-10" lines="none">
                <ion-radio mode="md" value="true"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">Satisfactory</ion-label>
              </ion-item>
              <ion-item class="h-10 " lines="none">
                <ion-radio mode="md" class="unsatisfactory" value="false"></ion-radio>
                <ion-label class="font-Lato ml-2 text-sm">UnSatisfactory</ion-label>
              </ion-item>
            </div>
          </ion-radio-group>
          <div
            [ngClass]="this.engineCheckForm.get('clutchCondition').value ==='true' ? 'hidden':'flex bg-slate-200 px-4 mt-4'">
            <ion-textarea formControlName="clutchConditionNotes" placeholder=" Add Comments" [autocapitalize]="true">
            </ion-textarea>
          </div>
        </div>
      </ion-item>
    </form>

    <ion-button expand="block" class="mt-5 font-Lato  text-white" (click)="submitForm()">Next
    </ion-button>
  </div>
</ion-content>
