
<app-header
  [title]="role ==='crew-chief'? 'Enter Begining of Day Work Data' : '' ||
role === 'combine-operator'? 'Enter Begining of Day Work Data': '' ||
role ==='kart-operator'? 'Enter Begining of Day Work Data' : '' ||
role ==='truck-driver'? 'Enter Begining of Day Work Data' : ''"
[color]="'harvesting'"
></app-header>


<!-- Crew-Chief -->
<ion-content *ngIf="role === 'crew-chief'">
  <app-timer [value]="'22:31:13'"></app-timer>
<div class="p-4">
  <div>
  <form  [formGroup]="startJobFormCrew">
   <ion-list>
      <div class="px-2">

        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Enter Machine ID <span *ngIf="this.startJobFormCrew.get('machine_id').hasError('required')" class="text-red-400">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="machine_id"  placeholder="Enter Machine ID">
        </div>

        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Confirm Begining Separator Hours <span *ngIf="this.startJobFormCrew.get('separator_hours').hasError('required')" class="text-red-400">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="separator_hours" type="number" placeholder="Confirm Begining Separator Hours">
        </div>


        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Confirm Begining Engine Hours <span *ngIf="this.startJobFormCrew.get('engine_hours').hasError('required')" class="text-red-400">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="engine_hours" type="number" placeholder="Confirm Begining Engine Hours">
        </div>

        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Confirm Field <span *ngIf="this.startJobFormCrew.get('confirm_field').hasError('required')" class="text-red-400">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="confirm_field" placeholder="Confirm Field">
        </div>
                  <ion-button expand="block" class="mt-5 font-Lato text-white" [disabled]="startJobFormCrew.invalid" (click)="submit()">Save </ion-button>
      </div>
    </ion-list>
  </form>
  </div>
</div>
</ion-content>

<!-- Combine-Operator -->
<ion-content *ngIf="role === 'combine-operator'">
  <app-timer [value]="'23:11:43'"></app-timer>
  <div class="p-4">
<ion-card class="m-0 mb-2">
  <ion-card-header>
    <ion-card-title class="font-Lato">Customer Profile</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Customer Name</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato ">Mike Allen</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">State</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Arizona</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Farm</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Dakota </ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crop</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Corn</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<form [formGroup]="startJobFormCombine">
  <div class="px-2">

    <div class="col-span-12 mb-4">
      <label class="block text-sm font-medium text-gray-700">Enter Machine ID <span *ngIf="this.startJobFormCombine.get('machine_id').hasError('required')" class="text-red-400">*</span></label>
      <input
        class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
        formControlName="machine_id" placeholder="Enter Machine ID">
    </div>

    <div class="col-span-12 mb-4">
      <label class="block text-sm font-medium text-gray-700">Confirm Begining Separator Hours <span *ngIf="this.startJobFormCombine.get('separator_hours').hasError('required')" class="text-red-400">*</span></label>
      <input
        class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
        formControlName="separator_hours" placeholder="Confirm Begining Separator Hours">
    </div>

    <div class="col-span-12 mb-4">
      <label class="block text-sm font-medium text-gray-700">Confirm Begining Engine Hours <span *ngIf="this.startJobFormCombine.get('engine_hours').hasError('required')" class="text-red-400">*</span></label>
      <input
        class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
        formControlName="engine_hours" placeholder="Confirm Begining Engine Hours">
    </div>

    <div class="col-span-12 mb-4">
      <label class="block text-sm font-medium text-gray-700">Confirm Field <span *ngIf="this.startJobFormCombine.get('confirm_field').hasError('required')" class="text-red-400">*</span></label>
      <input
        class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
        formControlName="confirm_field" placeholder="Confirm Field">
    </div>
    <ion-button expand="block" class="mt-5 font-Lato text-white" [disabled]="startJobFormCombine.invalid" (click)="submit()">Save </ion-button>
  </div>
</form>
</div>
</ion-content>

<!-- Kart-Operator -->
<ion-content *ngIf="role === 'kart-operator'">
  <app-timer [value]="'12:02:11'"></app-timer>
  <div class="p-4">
<ion-card class="m-0 mb-2">
  <ion-card-header>
    <ion-card-title class="font-Lato">Customer Profile</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Customer Name</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Mike Allen</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">State</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Arizona</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Farm</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Dakota </ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crop</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Corn</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<p class="text-xl font-bold font-Lato mt-8 ml-2 mb-2">Job Set-up</p>
<form [formGroup]="startJobFormKart">
  <div class="px-2">
    <div class="col-span-12 mb-4">
      <label class="block text-sm font-medium text-gray-700">Enter Machine ID <span *ngIf="this.startJobFormKart.get('machine_id').hasError('required')" class="text-red-400">*</span></label>
      <input
        class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
        formControlName="machine_id" placeholder="Enter Machine ID">
    </div>
    <div class="col-span-12 mb-4">
      <label class="block text-sm font-medium text-gray-700">Confirm Begining Engine Hours <span *ngIf="this.startJobFormKart.get('engine_hours').hasError('required')" class="text-red-400">*</span></label>
      <input
        class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
        formControlName="engine_hours" placeholder="Confirm Begining Engine Hours">
    </div>
        <ion-button expand="block" class="mt-5 font-Lato text-white" (click)="submit()" [disabled]="startJobFormKart.invalid">Save</ion-button>
  </div>
</form>
</div>
</ion-content>

<!-- Truck-Operator -->
<ion-content *ngIf="role === 'truck-driver'">
  <app-timer [value]="'23:00:12'"></app-timer>
  <div class="p-4">
<ion-card class="m-0 mb-2">
  <ion-card-header>
    <ion-card-title class="font-Lato">Customer Profile</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Customer Name</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Mike Allen</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">State</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Arizona</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Farm</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Dakota </ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crop</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Corn</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<p class="text-xl font-bold font-Lato mt-8 ml-2 mb-2">Job Set-up</p>
<form [formGroup]="startJobFormTruck">
  <div class="px-2">
    <div class="col-span-12 mb-4">
      <label class="block text-sm font-medium text-gray-700">Truck ID <span *ngIf="this.startJobFormTruck.get('truck_id').hasError('required')" class="text-red-400">*</span></label>
      <input
        class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
        formControlName="truck_id" placeholder="Truck ID">
    </div>

  <div class="col-span-12 mb-4">
    <label class="block text-sm font-medium text-gray-700">Crew Chief <span *ngIf="this.startJobFormTruck.get('crew_chief').hasError('required')" class="text-red-400">*</span></label>
    <input
      class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
      formControlName="crew_chief" placeholder="Crew Chief">
  </div>

  <div class="col-span-12 mb-4">
    <label class="block text-sm font-medium text-gray-700">Truck Company <span *ngIf="this.startJobFormTruck.get('truck_company').hasError('required')" class="text-red-400">*</span></label>
    <input
      class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
      formControlName="truck_company" placeholder="Truck Company">
  </div>

  <div class="col-span-12 mb-4">
    <label class="block text-sm font-medium text-gray-700">Confirm Begining Odometer Miles <span *ngIf="this.startJobFormTruck.get('begining_odometer_miles').hasError('required')" class="text-red-400">*</span></label>
    <input
      class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
      formControlName="begining_odometer_miles" placeholder="Confirm Begining Odometer Miles">
  </div>
    <ion-button expand="block" class="mt-5 font-Lato text-white" (click)="submit()" [disabled]="startJobFormTruck.invalid">Save</ion-button>
</div>
</form>
</div>
</ion-content>

<div *ngIf="showAlert" class="fixed z-999 pointer-events-none top-0 left-0 w-full h-full">
  <div class="flex z-999 absolute justify-end items-end w-full h-full">
      <div class="static pointer-events-auto box-border z-999 flex flex-col justify-end max-w-full max-h-full">
          <div >
              <div class="mb-2 mr-2 shadow-2xl">
                  <span>{{alertInfo.title}}</span>
                  <span>{{alertInfo.message}}</span>
              </div>
          </div>
      </div>
  </div>
</div>
