
<app-header
  [title]="role ==='crew-chief'? 'Enter Begining of Day Work Data' : '' ||
role === 'combine-operator'? 'Enter Begining of Day Work Data': '' ||
role ==='kart-operator'? 'Enter Begining of Day Work Data' : '' ||
role ==='truck-driver'? 'Enter Begining of Day Work Data' : ''"
[color]="'harvesting'"
></app-header>


<!-- Crew-Chief -->
<ion-content *ngIf="role === 'crew-chief'">
  <app-timer [value]="'22:31:13'"></app-timer>
<div class="p-4">
  <div>
    <form  [formGroup]="startJobForm">
   <ion-list>
      <div>
        <ion-item>
          <ion-label position="floating" class="font">Enter Machine ID</ion-label>
          <ion-input  placeholder="Enter Machine ID" formControlName="machineId"></ion-input>
          <ion-text *ngIf="this.startJobForm.get('machineId').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Machine ID required</ion-text>

        </ion-item>
        <ion-item>
          <ion-label position="floating" class="font">Confirm Begining Separator Hours</ion-label>
          <ion-input  placeholder="Enter begining separator hours" formControlName="separatorHours"></ion-input>
          <ion-text *ngIf="this.startJobForm.get('separatorHours').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Begining Separator Hours required</ion-text>

        </ion-item>
        <ion-item>
          <ion-label position="floating" class="font">Confirm Begining Engine Hours</ion-label>
          <ion-input  placeholder="Enter begining engine hours" formControlName="engineHours"></ion-input>
          <ion-text *ngIf="this.startJobForm.get('engineHours').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Begining Engine Hours required</ion-text>

        </ion-item>
        <ion-item>
          <ion-label position="floating" class="font">Confirm Field</ion-label>
          <ion-input  placeholder="Enter Confirm field" formControlName="confirmField"></ion-input>
          <ion-text *ngIf="this.startJobForm.get('confirmField').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Confirm Field required</ion-text>
        </ion-item>
          <ion-button expand="block" class="mt-5 font-Lato text-white" [disabled]="startJobForm.invalid" (click)="submit()">Save </ion-button>
      </div>
    </ion-list>
  </form>
  </div>
</div>
</ion-content>

<!-- Combine-Operator -->
<ion-content *ngIf="role === 'combine-operator'">
  <app-timer [value]="'23:11:43'"></app-timer>
  <div class="p-4">
<ion-card class="m-0 mb-2">
  <ion-card-header>
    <ion-card-title class="font-Lato">Customer Profile</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Customer Name</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato ">Mike Allen</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">State</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Arizona</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Farm</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Dakota </ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crop</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Corn</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<form [formGroup]="startJobForm">
  <div>
    <ion-item>
      <ion-label position="floating" class="font">Enter Machine ID</ion-label>
      <ion-input  placeholder="Enter Machine ID" formControlName="machineId"></ion-input>
      <ion-text *ngIf="this.startJobForm.get('machineId').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Machine ID required</ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="floating" class="font">Confirm Begining Separator Hours</ion-label>
      <ion-input  placeholder="Enter begining separator hours" formControlName="separatorHours"></ion-input>
      <ion-text *ngIf="this.startJobForm.get('separatorHours').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Begining Separator Hours required</ion-text>

    </ion-item>
    <ion-item>
      <ion-label position="floating" class="font">Confirm Begining Engine Hours</ion-label>
      <ion-input  placeholder="Enter begining engine hours" formControlName="engineHours"></ion-input>
      <ion-text *ngIf="this.startJobForm.get('engineHours').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Begining Engine Hours required</ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="floating" class="font">Confirm Field</ion-label>
      <ion-input  placeholder="Enter Confirm field" formControlName="confirmField"></ion-input>
      <ion-text *ngIf="this.startJobForm.get('confirmField').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Confirm Field required</ion-text>
    </ion-item>
      <ion-button expand="block" class="mt-5 font-Lato text-white" [disabled]="startJobForm.invalid" (click)="submit()">Save </ion-button>
  </div>
</form>
</div>
</ion-content>

<!-- Kart-Operator -->
<ion-content *ngIf="role === 'kart-operator'">
  <app-timer [value]="'12:02:11'"></app-timer>
  <div class="p-4">
<ion-card class="m-0 mb-2">
  <ion-card-header>
    <ion-card-title class="font-Lato">Customer Profile</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Customer Name</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Mike Allen</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">State</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Arizona</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Farm</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Dakota </ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crop</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Corn</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<p class="text-xl font-bold font-Lato mt-8">Job Set-up</p>
<form [formGroup]="startJobFormKart">
  <div class="">
    <ion-item>
      <ion-label position="floating" class="font">Enter Machine ID</ion-label>
      <ion-input  placeholder="Enter Machine ID" formControlName="machineId"></ion-input>
      <ion-text *ngIf="this.startJobForm.get('machineId').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Machine ID required</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="floating" class="font">Confirm Begining Engine Hours</ion-label>
      <ion-input  placeholder="Enter begining engine hours" formControlName="engineHours"></ion-input>
      <ion-text *ngIf="this.startJobForm.get('engineHours').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Begining Engine Hours required</ion-text>
    </ion-item>
  </div>
  <ion-button expand="block" class="mt-5 font-Lato text-white" (click)="submit()">Save</ion-button>
</form>
</div>
</ion-content>

<!-- Truck-Operator -->
<ion-content *ngIf="role === 'truck-driver'">
  <app-timer [value]="'23:00:12'"></app-timer>
  <div class="p-4">
<ion-card class="m-0 mb-2">
  <ion-card-header>
    <ion-card-title class="font-Lato">Customer Profile</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Customer Name</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Mike Allen</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">State</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Arizona</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Farm</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Dakota </ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crop</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Corn</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<p class="text-xl font-bold font-Lato mt-8">Job Set-up</p>
<div class="">
  <ion-item>
    <ion-label position="floating" class="font">Truck ID</ion-label>
    <ion-input placeholder="Enter Truck ID"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="font">Crew Chief</ion-label>
    <ion-input placeholder="Enter Crew Chief"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" class="font">Truck Company</ion-label>
    <ion-input placeholder="Enter Truck Company"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" class="font">Confirm Begining Odometer Miles</ion-label>
    <ion-input placeholder="Enter Confirm Begining Odometer Miles"></ion-input>
  </ion-item>
</div>
<ion-button expand="block" class="mt-5 font-Lato text-white">Save</ion-button>
</div>
</ion-content>
