
// ion-checkbox {
//   --size: 24px;
//   --background-checked: #3D8AA4;
//   --checkmark-color: rgb(255, 255, 255);
// }

// ion-checkbox::part(container) {
//   border-radius: 6px;
//   border: 1px solid #3D8AA4;
// }

// ion-progress-bar {
//   --background: #F2F3F5;
//   --progress-background: #3D8AA4;
//   height: 7px;
//   border-radius: 10px;
// }
.upload-button{
  --background:none;
    --color: #3D8AA4;
    --border-radius: 10px;
    --border-color: #3D8AA4;
    --border-style: solid;
    --border-width: 1px;
    margin-top: 20px;
    // margin-left: 9px;
    ion-icon{
      color: #3D8AA4;
    }
}
.close-out-button{
  --background:none;
    --color: #3D8AA4;
    --border-radius: 10px;
    --border-color: #3D8AA4;
    --border-style: solid;
    --border-width: 1px;
    // margin-top: 20px;
    // margin-left: 19px;
}
ion-segment {
  --background: none;
  ion-segment-button {
    min-width: 10px;
    color: #aaaaaa;
    --border-color: none;
    --indicator-color: none;
    --indicator-box-shadow: 0;
    ion-icon {
      zoom: 1;
    }
  }
}
#box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--ion-background-color, rgb(255, 255, 255));
  width: 90%;
  height: 100px;
  border-radius: 10px;
}
ion-backdrop {
  opacity: 0.9;
  background: #afafaf;
}
// MODEL CSS
ion-modal {
  --height: 20%;
  --width:70%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}
ion-spinner {
  --color: #ffffff;
}
