<ion-app>
  <ion-router-outlet *ngIf="isMobileDevice"></ion-router-outlet>
  <ion-split-pane *ngIf="!isMobileDevice" contentId="main">
    <ion-menu type="overlay" contentId="main">
      
      <div class="bg-navbar-background h-full w-[280px]">
        <div class="w-full px-4 py-8">
          <!-- HEADER BAR -->
  
          <!-- HEADER BAR -->
      
          <!-- NAVIGATION AREA -->
          <div>
            <nav class="mt-5 flex-1 px-2 space-y-1">
              <div *ngFor="let p of pages$ | async">
                <a (click)="navigateToPage(p.url)" [ngClass]="p.selected ? 'bg-primary text-white':'text-gray-300 hover:bg-gray-700 hover:text-white'"  class="flex gap-x-3 items-center px-2 py-2 text-sm font-medium rounded-md cursor-pointer">
                  <div [innerHtml]="p.icon | domSanitizer"></div>
                  <span>{{p.title}}</span>
                </a>
              </div>
            </nav>
          </div>
      
          <!-- NAVIGATION AREA -->
        </div>
      </div>
      
      
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
