<app-header [title]="'Complete Delivery Ticket'" [color]="'harvesting'"></app-header><ion-content
  *ngIf="role.includes('Cart Operator')">
  <ion-card>
    <ion-card-header class="bg-3D8AA4">
      <ion-card-title *ngIf="ticket?.split_load_check"
        class="flex justify-center text-2xl font-Lato text-white">Delivery Ticket# {{ticket.delivery_ticket_name}} - SL</ion-card-title>

      <ion-card-title *ngIf="!ticket?.split_load_check"
        class="flex justify-center text-2xl font-Lato text-white">Delivery Ticket# {{ticket.delivery_ticket_name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="flex justify-end">
        <ion-button class="w-1/3 mt-5 font-Lato text-white" (click)="openModal()">Edit</ion-button>
      </div>
      <ion-grid>
        <!-- First Row -->
        <ion-row class="mb-1 h-16">
          <ion-col size="6" class="flex flex-col justify-evenly items-baseline ion-text-center">
            <p class="font-Lato text-black font-bold font-14">DHT Date</p>
            <span class="font-Lato font-14">{{ticket.date | date:'MM-dd-YYYY'}}</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col justify-evenly items-start ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Customer</p>
            <span class="font-Lato font-14">{{ticket.customerName}}</span>
          </ion-col>
        </ion-row>

        <!-- Second Row -->
        <ion-row class="mb-1 h-16">
          <ion-col size="6" class="flex flex-col justify-evenly items-baseline ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Farm</p>
            <span class="font-Lato font-14">{{ticket.farm_name}}</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col justify-evenly items-start ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Crop</p>
            <span class="font-Lato font-14 text-left">{{ticket.crop_name}}</span>
          </ion-col>
        </ion-row>

        <!-- Third Row -->
        <ion-row class="mb-1 h-16">
          <ion-col size="6" class="flex flex-col justify-evenly items-baseline ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Field/Pivot</p>
            <span class="font-Lato font-14">{{ticket.field_name}}</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col justify-evenly items-start ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Field/Pivot-SL</p>
            <span *ngIf="ticket.sl_field_name" class="font-Lato font-14">{{ticket.sl_field_name }}</span>
            <span *ngIf="!ticket.sl_field_name" class="font-Lato font-14">0</span>
          </ion-col>
        </ion-row>

        <!-- Fourth Row -->
        <ion-row class="mb-1 h-16">
          <ion-col size="6" class="flex flex-col justify-evenly items-baseline ion-text-center">
            <p class="font-Lato text-black font-bold font-14">
              Truck Driver
            </p>
            <span class="font-Lato font-14 text-left">{{ticket.truck_driver_name}}</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col justify-evenly items-start ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Destination</p>
            <span class="font-Lato font-14 text-left">{{ticket.destination}}</span>
          </ion-col>
        </ion-row>

        <!-- Fifth Row -->
        <ion-row class="mb-1 h-16">
          <ion-col size="6" class="flex flex-col justify-evenly items-baseline ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Loaded Miles</p>
            <span class="font-Lato font-14">{{ticket.loaded_miles}}</span>
          </ion-col>

          <ion-col size="6" class="flex flex-col justify-evenly items-baseline ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Scale Ticket</p>
            <span class="font-Lato font-14">{{ticket?.scale_ticket_number}}</span>
          </ion-col>
        </ion-row>

        <ion-row class="mb-1 h-16">
          <ion-col size="6" class="flex flex-col justify-evenly items-start ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Cart Operator</p>
            <span class="font-Lato font-14">{{ticket.kart_operator_name}}</span>
          </ion-col>

          <ion-col size="6" class="flex flex-col justify-evenly items-baseline ion-text-center">
            <p class="font-Lato text-black font-bold font-14 text-left">
              Farmers Bin Cart Weight (lbs.)
            </p>
            <span *ngIf="ticket.farmers_bin_weight" class="font-Lato font-14">{{ticket.farmers_bin_weight}} lbs</span>
            <span *ngIf="!ticket.farmers_bin_weight" class="font-Lato font-14">0 lbs</span>
          </ion-col>
        </ion-row>

        <ion-row class="mb-1 h-16">
          <ion-col size="6" class="flex flex-col justify-evenly items-start ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Loaded Weight-SL</p>
            <span *ngIf="ticket.scale_ticket_net_weight && ticket.cart_scale_weight" class="font-Lato font-14">{{ticket?.scale_ticket_net_weight - ticket?.cart_scale_weight}}</span>
            <span *ngIf="!ticket.scale_ticket_net_weight || !ticket.cart_scale_weight" class="font-Lato font-14">{{ticket?.scale_ticket_net_weight - ticket?.cart_scale_weight}}</span>
          </ion-col>

          <ion-col size="6" class="flex flex-col justify-evenly items-start ion-text-center">
            <p class="font-Lato text-black font-bold font-14">
              Cart Scale Weight
            </p>
            <span *ngIf="ticket.cart_scale_weight" class="font-Lato font-14">{{ticket.cart_scale_weight}}</span>
            <span *ngIf="!ticket.cart_scale_weight" class="font-Lato font-14">0</span>
          </ion-col>
        </ion-row>

        <ion-row class="mb-1 h-16">
          <ion-col size="6" class="flex flex-col justify-evenly items-baseline ion-text-center">
            <p class="font-Lato text-black font-bold font-14 text-left">
              Scale Ticket "Net" Weight(lb)
            </p>
            <span class="font-Lato font-14">{{ticket?.scale_ticket_net_weight}}</span>
          </ion-col>

          <ion-col size="6" class="flex flex-col justify-evenly items-start ion-text-center">
            <p class="font-Lato text-black font-bold font-14 text-left">Test Weight(lbs./bu)</p>
            <span class="font-Lato font-14">{{ticket?.test_weight}}</span>
          </ion-col>
        </ion-row>

        <ion-row class="mb-1 h-16">
          <ion-col size="6" class="flex flex-col justify-evenly items-baseline ion-text-center">
            <p class="font-Lato text-black font-bold font-14">
              Moisture Content
            </p>
            <span class="font-Lato font-14">{{ticket?.moisture_content}}</span>
          </ion-col>

          <ion-col size="6" class="flex flex-col justify-evenly items-start ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Protein content</p>
            <span class="font-Lato font-14">{{ticket?.protein_content}}</span>
          </ion-col>
        </ion-row>

        <ion-row class="mb-1 h-16">
          <ion-col size="6" class="flex flex-col justify-evenly items-start ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Truck</p>
            <span class="font-Lato font-14">{{ticket?.machinery_name}}</span>
          </ion-col>

          <ion-col size="6" class="flex flex-col justify-evenly items-start ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Truck Company</p>
            <span class="font-Lato font-14">{{ticket?.machinery_company_name}}</span>
          </ion-col>
        </ion-row>

      </ion-grid>
      <ion-button [disabled]="(loadingSpinner | async)" expand="block" class="mt-5 font-Lato text-white" (click)="submit()">
        <ion-spinner [hidden]="!(loadingSpinner | async)" name="crescent" mode="indeterminate"></ion-spinner>
        <span [hidden]="(loadingSpinner | async)" class="text-white">Verify</span>
        </ion-button>
    </ion-card-content>

    <ion-card-content *ngIf="(isLoadingTicket$ | async) === true">
      <ion-grid>
        <!-- First Row -->
        <ion-row class="mb-1 h-16">
          <ion-col size="6" class="flex flex-col justify-evenly items-baseline ion-text-center">
            <p class="font-Lato text-black font-bold font-14">DHT Date</p>
            <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
          </ion-col>
          <ion-col size="6" class="flex flex-col justify-evenly items-start ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Customer</p>
            <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
          </ion-col>
        </ion-row>
        <!-- Second Row -->
        <ion-row class="mb-1 h-16">
          <ion-col size="6" class="flex flex-col justify-evenly items-baseline ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Farm</p>
            <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
          </ion-col>
          <ion-col size="6" class="flex flex-col justify-evenly items-start ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Crop</p>
            <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
          </ion-col>
        </ion-row>
        <!-- Third Row -->
        <ion-row class="mb-1 h-16">
          <ion-col size="6" class="flex flex-col justify-evenly items-baseline ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Field</p>
            <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
          </ion-col>
          <ion-col size="6" class="flex flex-col justify-evenly items-start ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Truck ID</p>
            <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
          </ion-col>
        </ion-row>
        <!-- Fourth Row -->
        <ion-row class="mb-1 h-16">
          <ion-col size="6" class="flex flex-col justify-evenly items-baseline ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Truck Company</p>
            <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
          </ion-col>
          <ion-col size="6" class="flex flex-col justify-evenly items-start ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Destination</p>
            <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
          </ion-col>
        </ion-row>
        <!-- Fifth Row -->
        <ion-row class="mb-1 h-16">
          <ion-col size="6" class="flex flex-col justify-evenly items-baseline ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Loaded Miles</p>
            <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
          </ion-col>
          <ion-col size="6" class="flex flex-col justify-evenly items-start ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Cart Operator</p>
            <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
          </ion-col>
        </ion-row>
        <ion-row class="mb-1 h-16">
          <ion-col size="6" class="flex flex-col justify-evenly items-baseline ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Driver</p>
            <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
          </ion-col>
          <ion-col size="6" class="flex flex-col justify-evenly items-start ion-text-center">
            <p class="font-Lato text-black font-bold font-14">
              Scale Ticket Weight
            </p>
            <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
          </ion-col>
        </ion-row>
        <ion-row class="mb-1 h-16">
          <ion-col size="6" class="flex flex-col justify-evenly items-baseline ion-text-center">
            <p class="font-Lato text-black font-bold font-14">
              Moisture Content
            </p>
            <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
          </ion-col>
          <ion-col size="6" class="flex flex-col justify-evenly items-start ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Scale Ticket</p>
            <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
          </ion-col>
        </ion-row>
        <ion-row class="mb-1 h-16">
          <ion-col size="6" class="flex flex-col justify-evenly items-baseline ion-text-center">
            <p class="font-Lato text-black font-bold font-14">
              Cart Scale Weight
            </p>
            <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content> </ion-card></ion-content>

<ion-content *ngIf="role.includes('Truck Driver')">
  <ion-card>
    <ion-card-header class="bg-3D8AA4">
      <ion-card-title *ngIf="!slCheck" class="font-Lato flex justify-center text-2xl text-white">Delivery Ticket#
        {{ticketName}}</ion-card-title>
        <ion-card-title *ngIf="slCheck" class="font-Lato flex justify-center text-2xl text-white">Delivery Ticket#
          {{ticketName}} - SL</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card class="m-0 mb-4 mt-4">
        <ion-card-header>
          <ion-card-title class="font-Lato">Job Profile</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="(isLoadingTicket$ | async) === false">
          <ion-grid>
            <ion-row>
              <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Customer</ion-col>
              <ion-col size="6" class="text-sm flex font-Lato ">{{this.ticket?.customerName}}</ion-col>
              <ion-col size="6" class="text-sm text-black font-Lato font-semibold">State</ion-col>
              <ion-col size="6" class="text-sm flex font-Lato">{{this?.ticket?.state}}</ion-col>
              <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Farm</ion-col>
              <ion-col size="6" class="text-sm flex font-Lato">{{this?.ticket?.farm_name}}
              </ion-col>
              <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crop</ion-col>
              <ion-col size="6" class="text-sm flex font-Lato">{{this?.ticket?.crop_name}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <form [formGroup]="generateTicketFormTruck">

        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Scale Ticket Number
            <span *ngIf="this.generateTicketFormTruck.get('scaleTicket').hasError('required')"
              class="text-red-400">*</span></label>
          <input
          type="number"
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="scaleTicket" placeholder="Scale Ticket" />
        </div>

        <label class="block text-sm font-medium text-gray-700">Add Photo of Delivery/Scale Ticket<span
            *ngIf="this.generateTicketFormTruck.get('image_2').hasError('required')"
            class="text-red-400">*</span></label>
        <div class="w-16 h-16 mr-2 mb-2 mt-2">
          <ion-card
            [ngClass]="!upload_2 ? ' shadow-none m-0 border-2 border-aaaaaa bg-e9e6e6' : 'shadow-none m-0 border-2 border-3D8AA4 bg-white'"
            (click)="upload__2.click()">
            <ion-card-content class="p-0 w-16 h-16 flex justify-center items-center">
              <ion-segment scrollable value="done" class="bg-none">
                <ion-segment-button value="upload" *ngIf="!upload_2">
                  <ion-icon [ngStyle]="{'color' : !upload_2 ? '#aaaaaa' : ''}" name="cloud-upload-outline">
                  </ion-icon>
                </ion-segment-button>
                <ion-segment-button value="done" *ngIf="upload_2">
                  <ion-icon [ngStyle]="{'color' : upload_2 ? '#3D8AA4' : ''}" name="cloud-done-outline">
                  </ion-icon>
                </ion-segment-button>
                <input #upload__2 type="file" class="invisible hidden" (change)="onSelectedFiles($event, 'upload_2')" />
              </ion-segment>
            </ion-card-content>
          </ion-card>
        </div>

        <div class="col-span-12 mb-2">
          <label class="block text-sm font-medium text-gray-700">Farmers Bin Cart Weight (lbs.)
          </label>
          <input type="number"
            class="mt-1 block w-full pointer-events-none  rounded-md border border-gray-300  text-gray-400 focus:text-gray-700
            bg-gray-200 py-2 px-3 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="farmers_bin_weight" placeholder="Farmers Bin Weight" />
        </div>

        <div class="col-span-12 mb-2">
          <label class="block text-sm font-medium text-gray-700">Delivery/Scale Ticket 'Net' Weight (lbs.)
            <span *ngIf="this.generateTicketFormTruck.get('NetWeight').hasError('required')"
              class="text-red-400">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="NetWeight" placeholder="Enter Weight" />
        </div>
        <ion-text *ngIf="this.generateTicketFormTruck.get('NetWeight').hasError('mustMatch')" class="text-sm text-red-500">
          Scale ticket weight should be equal to
          <span *ngIf="this.generateTicketFormTruck.get('farmers_bin_weight').value != ''">{{this.generateTicketFormTruck.get('farmers_bin_weight').value}}</span>
          <span *ngIf="this.generateTicketFormTruck.get('farmers_bin_weight').value == ''">Farmers Bin Weight</span>
        </ion-text>

        <div class="col-span-12 mb-2">
          <label class="block text-sm font-medium text-gray-700">Delivery/Scale Ticket 'Net' Weight (lbs.)
            <span *ngIf="this.generateTicketFormTruck.get('NetWeight2').hasError('required')"
              class="text-red-400">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="NetWeight2" placeholder="Enter Weight" />
        </div>
        <ion-text *ngIf="this.generateTicketFormTruck.get('NetWeight2').hasError('mustMatch')" class="text-sm text-red-500">
          Scale ticket weight should be equal to
          <span *ngIf="this.generateTicketFormTruck.get('farmers_bin_weight').value != ''">{{this.generateTicketFormTruck.get('farmers_bin_weight').value}}</span>
          <span *ngIf="this.generateTicketFormTruck.get('farmers_bin_weight').value == ''">Farmers Bin Weight</span>
        </ion-text>

        <!-- Machinery -->
          <div
          class="opacity-100 visible ease-in duration-200"
          role="dialog" aria-modal="true">

          <div
            class="opacity-100 visible scale-100 ease-in duration-200"
            class="mb-4 relative z-30">
            <div class="mx-auto max-w-full transform rounded-xl px-0 transition-all">
              <label class="block text-sm font-medium text-gray-700 mb-1">Machinery ID: <span *ngIf="isMachineSelected"
                  class="text-red-400">*</span></label>
              <div class="flex items-center justify-between gap-x-2 rounded-md">
                <input (keyup)="machine_search$.next($event.target.value)" (click)="inputClickedMachinery()"
                  [value]="machine_name" #machineryInput
                  class="w-full px-4 py-2 text-gray-900 placeholder:text-base rounded-md border border-gray-300 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500"
                  placeholder="Select Machiery" role="" aria-expanded="false" aria-controls="options">
              </div>

              <div *ngIf="allMachinery | withLoading | async as allMachinery">
                <div class="flex justify-center items-center">
                  <ion-spinner *ngIf="allMachinery?.loading" name="crescent" mode="indeterminate"
                    color="primary"></ion-spinner>
                </div>
                <ul *ngIf="allMachinery?.value && machineUL"
                  class="-mb-2 max-h-48 scroll-py-2 overflow-y-auto py-2 text-sm text-gray-800 bg-white absolute w-full"
                  id="options" role="listbox">
                  <li *ngFor="let machinery of (allMachinery?.value.machinery)" (click)="listClickedMachiney(machinery)"
                    class="cursor-pointer select-none rounded-md px-4 py-2 hover:bg-gray-200" role="option"
                    tabindex="-1">
                    <div class="flex items-center p-2">
                      {{machinery.name}}
                    </div>
                  </li>
                </ul>
                <div *ngIf="allMachinery?.value?.machinery?.length === 0">
                  <p disabled
                    class="cursor-pointer select-none rounded-md px-4 py-2 hover:bg-gray-200 text-gray-500 hover:text-gray-700 hover:font-semibold">
                    No Machinery(s) found </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Machinery -->
        <!-- <div class="col-span-12 mb-2">
          <label class="block text-sm font-medium text-gray-700">Farmers Bin Cart Weight (lbs.)
            <span
              class="text-red-400" *ngIf="this.generateTicketFormTruck.get('farmers_bin_weight').hasError('required')">*</span></label>
          <input type="number"
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm
            disabled:bg-gray-200"
            formControlName="farmers_bin_weight" placeholder="Farmers Bin Weight" />
        </div>
        <ion-text *ngIf="this.generateTicketFormTruck.get('farmers_bin_weight_initial').value != this.generateTicketFormTruck.get('farmers_bin_weight').value" class="text-sm text-red-500">
          Farmers Bin Weight should be equal to {{this.generateTicketFormTruck.get('farmers_bin_weight_initial').value}}
        </ion-text> -->

        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Field/Pivot
          </label>
          <input class="mt-1 block w-full pointer-events-none  rounded-md border border-gray-300  text-gray-400 focus:text-gray-700
          bg-gray-200 py-2 px-3 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            [value]="fieldPivot" />
        </div>
        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Field/Pivot -SL
          </label>
          <input class="mt-1 block w-full pointer-events-none  rounded-md border border-gray-300  text-gray-400 focus:text-gray-700
          bg-gray-200 py-2 px-3 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            [value]="fieldPivotSL" />
        </div>

        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Protein Content
            <span *ngIf="this.generateTicketFormTruck.get('proteinContent').hasError('required')"
              class="text-red-400">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="proteinContent" placeholder="Protein Content" />
        </div>

        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Moisture Content
            <span *ngIf="this.generateTicketFormTruck.get('moistureContent').hasError('required')"
              class="text-red-400">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="moistureContent" placeholder="Moisture Content" />
        </div>

        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Test Weight
            <span *ngIf="this.generateTicketFormTruck.get('testWeight').hasError('required')"
              class="text-red-400">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="testWeight" placeholder="Test Weight" />
        </div>

        <ion-button expand="block" class="font-Lato mt-5 text-white" (click)="submit()"
          [disabled]="generateTicketFormTruck.invalid || (loadingSpinner | async)">
          <ion-spinner [hidden]="!(loadingSpinner | async)" name="crescent" mode="indeterminate"></ion-spinner>
          <span [hidden]="(loadingSpinner | async)" class="text-white"> Save and Send to Cart Operator</span>
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card></ion-content>


  <!-- MODAL -->
  <ion-modal class="supervisorModal" #modelToReassign [isOpen]="isEditModalOpen" (ionModalDidDismiss)="ionModalDidDismiss()">
    <ng-template>
      <ion-header>
        <div class="bg-3D8AA4">
          <ion-grid>
            <ion-row>
              <ion-col size="3" class=" flex justify-center">
                <div></div>
              </ion-col>
              <ion-col size="6" class="flex justify-center text-white">Edit Ticket</ion-col>
              <ion-col size="3" class="flex justify-end">
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-header>
      <div class="overflow-y-auto px-1">
        <form [formGroup]="editTicketForm">
          <div class="ml-2">

          <div class="col-span-12 mb-4 mt-2" id="day">
            <label class="block text-sm font-medium text-gray-700">Scale Ticket</label>
            <ion-input placeholder="Enter Value" formControlName="scale_ticket"></ion-input>

          </div>

          <div class="col-span-12 mb-4 mt-2" id="day">
            <label class="block text-sm font-medium text-gray-700">Scale Ticket "Net" Weight(lbs.)</label>
            <ion-input placeholder="Enter Value" formControlName="net_weight"></ion-input>

          </div>

          <div class="col-span-12 mb-4 mt-2" id="day">
            <label class="block text-sm font-medium text-gray-700">Moisture Content</label>
            <ion-input placeholder="Enter Value" formControlName="moisture_content"></ion-input>

          </div>

          <div class="col-span-12 mb-4 mt-2" id="day">
            <label class="block text-sm font-medium text-gray-700">Protein Content</label>
            <ion-input placeholder="Enter Value" formControlName="protein_content"></ion-input>

          </div>
          <div class="col-span-12 mb-4 mt-2" id="day">
            <label class="block text-sm font-medium text-gray-700">Test Weight</label>
            <ion-input placeholder="Enter Value" formControlName="test_weight"></ion-input>

          </div>
        </div>

          <ion-button [disabled]="(loadingSpinner | async)" expand="block" class="font-Lato text-white w-full mt-2 mr-2 mb-5"
            (click)="updateTicketInfo()">
            <div *ngIf="(loadingSpinner | async) === false">Update</div>
            <ion-spinner name="crescent" *ngIf="(loadingSpinner | async)"></ion-spinner>
          </ion-button>
        </form>
      </div>
    </ng-template>
  </ion-modal>
  <!-- MODAL -->
