
<app-header [title]="'Verify Delivery Tickets'" [color]="'harvesting'"></app-header>


<ion-content *ngIf="role === 'kart-operator'">
  <app-timer [value]="'12:32:11'"></app-timer>
<ion-card>
  <ion-card-header>
    <ion-card-title class="flex justify-center text-2xl font-Lato">DHT Delivery Ticket</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <!-- First Row -->
      <ion-row class="mb-6 h-20">
        <ion-col size="4" class="flex flex-col justify-between items-center border-r-2 ion-text-center">
          <p class="font-Lato text-black font-bold font-14">DHT Rate</p>
          <span class="font-Lato font-14">Sun 5, 2022</span>
        </ion-col>
        <ion-col size="4" class="flex flex-col justify-between items-center border-r-2 ion-text-center">
          <p class="font-Lato text-black font-bold font-14">Customer Name</p>
          <span class="font-Lato font-14">Mike Allen</span>
        </ion-col>
        <ion-col size="4" class="flex flex-col justify-between items-center ion-text-center">
          <p class="font-Lato text-black font-bold font-14">Farm</p>
          <span class="font-Lato font-14">98077</span>
        </ion-col>
      </ion-row>

      <!-- Second Row -->
      <ion-row class="mb-6 h-20">
        <ion-col size="4" class="flex flex-col justify-between items-center border-r-2 ion-text-center">
        <p class="font-Lato text-black font-bold font-14">Crop Name</p>
        <span class="font-Lato font-14">DHT</span>
        </ion-col>
        <ion-col size="4" class="flex flex-col justify-between items-center border-r-2 ion-text-center">
          <p class="font-Lato text-black font-bold font-14">Field</p>
          <span class="font-Lato font-14">23232323</span>
        </ion-col>
        <ion-col size="4" class="flex flex-col justify-between items-center ion-text-center">
          <p class="font-Lato text-black font-bold font-14">Scale Ticket</p>
          <span class="font-Lato font-14">12343123</span>
        </ion-col>
      </ion-row>

        <!-- Third Row -->
        <ion-row class="mb-6 h-20">
          <ion-col size="4" class="flex flex-col justify-between items-center border-r-2 ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Truck Company</p>
            <span class="font-Lato font-14">DHT</span>
          </ion-col>
          <ion-col size="4" class="flex flex-col justify-between items-center border-r-2 ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Destination</p>
            <span class="font-Lato font-14">Michigan</span>
          </ion-col>
          <ion-col size="4" class="flex flex-col justify-between items-center ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Loaded Miles</p>
            <span class="font-Lato font-14">33</span>
          </ion-col>
        </ion-row>

        <!-- Fourth Row -->
        <ion-row class="mb-6 h-20">
          <ion-col size="4" class="flex flex-col justify-between items-center border-r-2 ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Kart Operaor</p>
            <span class="font-Lato font-14">John Trevor</span>
          </ion-col>
          <ion-col size="4" class="flex flex-col justify-between items-center border-r-2 ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Driver</p>
            <span class="font-Lato font-14">Mike John</span>
          </ion-col>
          <ion-col size="4" class="flex flex-col justify-between items-center ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Scale Ticket Weight</p>
            <span class="font-Lato font-14">4356 lb</span>
          </ion-col>
        </ion-row>

        <!-- Fifth Row -->
        <ion-row class="mb-6 h-20">
          <ion-col size="4" class="flex flex-col justify-between items-center border-r-2 ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Moisture Content</p>
            <span class="font-Lato font-14">20%</span>
          </ion-col>
          <ion-col size="4" class="flex flex-col justify-between items-center border-r-2 ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Truck ID</p>
            <span class="font-Lato font-14">3343</span>
          </ion-col>
          <ion-col size="4" class="flex flex-col justify-between items-center ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Kart Scale Weight</p>
            <span class="font-Lato font-14">3333</span>
          </ion-col>
        </ion-row>
    </ion-grid>
    <ion-button expand="block" class="mt-5 font-Lato text-white">Verify</ion-button>
  </ion-card-content>
</ion-card>
</ion-content>

<ion-content *ngIf="role === 'truck-driver'">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="flex justify-center text-2xl font-Lato">Ticket #39089890</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="mb-5 h-10">
          <ion-col size="6" class="flex flex-col justify-center items-start ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Field</p>
            <span class="font-Lato font-14">Bonita Beans</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col justify-center items-start ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Destination</p>
            <span class="font-Lato font-14">Coronado feed Center</span>
          </ion-col>
        </ion-row>
        <ion-row class="mb-5 h-10">
          <ion-col size="6" class="flex flex-col justify-center items-start ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Farms</p>
            <span class="font-Lato font-14">Farmer's Bin</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col justify-center items-start ion-text-center">
            <p class="font-Lato text-black font-bold font-14">Corn</p>
            <span class="font-Lato font-14">Corn</span>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item>
        <ion-label position="floating">Scale Ticket</ion-label>
        <ion-input placeholder="Enter Scale Ticket"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Scale Ticket Weight</ion-label>
        <ion-input placeholder="Enter Scale Ticket Weight"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Test Weight</ion-label>
        <ion-input placeholder="Enter Test Weight"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Protein Content</ion-label>
        <ion-input placeholder="Enter Protein Content"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Moisture Content</ion-label>
        <ion-input placeholder="Enter Moisture Content"></ion-input>
      </ion-item>
      <ion-button expand="block" class="mt-5 font-Lato text-white">Save and Close-out job</ion-button>
    </ion-card-content>
  </ion-card>
 </ion-content>
