ion-header{
  ion-toolbar{
    --background: #5BBE62;
    color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 6px 0px;
    ion-icon{
      zoom: 1.8;
    }
  }
}
ion-checkbox {
  --size: 24px;
  --background-checked: #264f3a;
  --checkmark-color: rgb(255, 255, 255);
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 1px solid #264f3a;
}
