<app-header
  [title]="role === 'kart-operator' && !isReassign? 'Create Delivery Ticket' : '' ||
  role === 'kart-operator' && isReassign? 'Rassign Delivery Ticket': ''"
></app-header>

<!-- Kart-Operator -->
<ion-content *ngIf="role === 'kart-operator'">
  <app-timer [value]="'12:11:19'"></app-timer>
  <div class="p-4">
<ion-card class="m-0 mb-2">
  <ion-card-header>
    <ion-card-title class="font-Lato">Customer Profile</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Customer Name</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Mike Allen</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">State</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Arizona</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Farm</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Dakota </ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crop</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Corn</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<div class="">
  <ion-item>
    <ion-label position="floating" class="font">Truck Driver</ion-label>
    <ion-input placeholder="Enter Truck Driver"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="font">Destination</ion-label>
    <ion-input placeholder="Enter Destination"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" class="font">Loaded Miles</ion-label>
    <ion-input placeholder="Enter Loaded Miles"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" class="font">Field</ion-label>
    <ion-input placeholder="Enter Field"></ion-input>
  </ion-item>
  <ion-item>
    <ion-checkbox slot="start" (ionChange)="buttton()"></ion-checkbox>
    <ion-label class="font">Split Load</ion-label>
  </ion-item>
  <div *ngIf="!isSplitTrue">
  <ion-item>
    <ion-label position="floating" class="font">Kart Scale Weight (optional)</ion-label>
    <ion-input placeholder="Enter Kart Scale Weight (optional)"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" class="font">Delivery Ticket Number</ion-label>
    <ion-input placeholder="Delivery Ticket Number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" class="font">Truck Driver Company</ion-label>
    <ion-input placeholder="Truck Driver Company"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" class="font">Truck#</ion-label>
    <ion-input placeholder="Enter Truck Number"></ion-input>
  </ion-item>
</div>
<div *ngIf="isSplitTrue">
  <ion-item>
    <ion-input value="123123lb"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" class="font">Kart Scale Weight (Split Load)</ion-label>
    <ion-input placeholder="Enter Kart Scale Weight (Split Load)"></ion-input>
  </ion-item>
    <ion-item>
      <ion-label position="floating" class="font">Kart Scale Weight (optional)</ion-label>
      <ion-input placeholder="Enter Kart Scale Weight (optional)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" class="font">Field (Split Load)</ion-label>
      <ion-input placeholder="Enter Field (Split Load)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" class="font">Delivery Ticket Number</ion-label>
      <ion-input placeholder="Enter Delivery Ticket Number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" class="font">Kart Operator Name</ion-label>
      <ion-input placeholder="Enter Kart Operator Name"></ion-input>
    </ion-item>
  <ion-item>
    <ion-label position="floating" class="font">Truck Driver Company</ion-label>
    <ion-input placeholder="Truck Driver Company"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" class="font">Truck#</ion-label>
    <ion-input placeholder="Enter Truck Number"></ion-input>
  </ion-item>
</div>
</div>
<ion-button expand="block" class="mt-5 font-Lato text-white" *ngIf="!isReassign">Generate and Send</ion-button>
<ion-button expand="block" class="mt-5 font-Lato text-white" *ngIf="isReassign">Reassign Delivery Ticket</ion-button>
</div>
</ion-content>
