<app-header
  [title]="role === 'kart-operator' && !isReassign? 'Create Delivery Ticket' : '' ||
  role === 'kart-operator' && isReassign? 'Rassign Delivery Ticket': ''"
  [color]="'harvesting'"
></app-header>

<!-- Kart-Operator -->
<ion-content *ngIf="role === 'kart-operator'">
  <app-timer [value]="'12:11:19'"></app-timer>
  <div class="p-4">
<ion-card class="m-0 mb-2">
  <ion-card-header>
    <ion-card-title class="font-Lato">Customer Profile</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Customer Name</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Mike Allen</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">State</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Arizona</ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Farm</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Dakota </ion-col>
        <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crop</ion-col>
        <ion-col size="6" class="text-sm flex justify-end font-Lato">Corn</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<form [formGroup]="deliveryTicketForm">

<div class="">
  <ion-item>
    <ion-label position="floating" class="font">Truck Driver</ion-label>
    <ion-input placeholder="Enter Truck Driver" formControlName="truckDriver"></ion-input>
    <ion-text *ngIf="this.deliveryTicketForm.get('truckDriver').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Truck Driver required</ion-text>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="font">Destination</ion-label>
    <ion-input placeholder="Enter Destination" formControlName="destination"></ion-input>
    <ion-text *ngIf="this.deliveryTicketForm.get('destination').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Destination required</ion-text>

  </ion-item>
  <ion-item>
    <ion-label position="floating" class="font">Loaded Miles</ion-label>
    <ion-input placeholder="Enter Loaded Miles" formControlName="loadedMiles"></ion-input>
    <ion-text *ngIf="this.deliveryTicketForm.get('loadedMiles').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Loaded Miles required</ion-text>

  </ion-item>
  <ion-item>
    <ion-label position="floating" class="font">Field</ion-label>
    <ion-input placeholder="Enter Field" formControlName="field"></ion-input>
    <ion-text *ngIf="this.deliveryTicketForm.get('field').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Field required</ion-text>
  </ion-item>
  <ion-item>
    <ion-checkbox slot="start" (ionChange)="buttton()" formControlName="splitLoadCheck"></ion-checkbox>
    <ion-label class="font">Split Load</ion-label>
  </ion-item>
  <div *ngIf="!isSplitTrue">
  <ion-item>
    <ion-label position="floating" class="font">Kart Scale Weight (optional)</ion-label>
    <ion-input placeholder="Enter Kart Scale Weight (optional)" formControlName="kartScaleWeight"></ion-input>
    <ion-text *ngIf="this.deliveryTicketForm.get('kartScaleWeight').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Kart Scale Weight (optional) required</ion-text>

  </ion-item>
  <ion-item>
    <ion-label position="floating" class="font">Delivery Ticket Number</ion-label>
    <ion-input placeholder="Delivery Ticket Number" formControlName="deliveryTicketNumber"></ion-input>
    <ion-text *ngIf="this.deliveryTicketForm.get('deliveryTicketNumber').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Delivery Ticket Number required</ion-text>

  </ion-item>
  <ion-item>
    <ion-label position="floating" class="font">Truck Driver Company</ion-label>
    <ion-input placeholder="Truck Driver Company" formControlName="truckDriverCompany"></ion-input>
    <ion-text *ngIf="this.deliveryTicketForm.get('truckDriverCompany').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Truck Driver Company required</ion-text>

  </ion-item>
  <ion-item>
    <ion-label position="floating" class="font">Truck#</ion-label>
    <ion-input placeholder="Enter Truck Number" formControlName="truck"></ion-input>
    <ion-text *ngIf="this.deliveryTicketForm.get('truck').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Truck# required</ion-text>

  </ion-item>
</div>
<div *ngIf="isSplitTrue">
  <ion-item>
    <ion-label position="floating" class="font">SplitLoad</ion-label>
    <ion-input value="123123lb" formControlName="splitLoad"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" class="font">Kart Scale Weight (Split Load)</ion-label>
    <ion-input placeholder="Enter Kart Scale Weight (Split Load)" formControlName="kartScaleWeightSplit"></ion-input>
    <ion-text *ngIf="this.deliveryTicketForm.get('kartScaleWeightSplit').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Kart Scale Weight (Split Load) required</ion-text>

  </ion-item>
    <ion-item>
      <ion-label position="floating" class="font">Kart Scale Weight (optional)</ion-label>
      <ion-input placeholder="Enter Kart Scale Weight (optional)" formControlName="kartScaleWeightOptionalSplit"></ion-input>
      <ion-text *ngIf="this.deliveryTicketForm.get('kartScaleWeightOptionalSplit').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Kart Scale Weight (optional) required</ion-text>

    </ion-item>
    <ion-item>
      <ion-label position="floating" class="font">Field (Split Load)</ion-label>
      <ion-input placeholder="Enter Field (Split Load)" formControlName="fieldLoadSplit"></ion-input>
      <ion-text *ngIf="this.deliveryTicketForm.get('fieldLoadSplit').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Field (Split Load) required</ion-text>

    </ion-item>
    <ion-item>
      <ion-label position="floating" class="font">Delivery Ticket Number</ion-label>
      <ion-input placeholder="Enter Delivery Ticket Number" formControlName="deliveryTicketNumberSplit"></ion-input>
      <ion-text *ngIf="this.deliveryTicketForm.get('deliveryTicketNumberSplit').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Begining Engine Hours required</ion-text>

    </ion-item>
    <ion-item>
      <ion-label position="floating" class="font">Kart Operator Name</ion-label>
      <ion-input placeholder="Enter Kart Operator Name" formControlName="kartoperatorNameSplit"></ion-input>
      <ion-text *ngIf="this.deliveryTicketForm.get('kartoperatorNameSplit').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Kart Operator Name required</ion-text>

    </ion-item>
  <ion-item>
    <ion-label position="floating" class="font">Truck Driver Company</ion-label>
    <ion-input placeholder="Truck Driver Company" formControlName="truckDriverCompanySplit"></ion-input>
    <ion-text *ngIf="this.deliveryTicketForm.get('truckDriverCompanySplit').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Truck Driver Company required</ion-text>

  </ion-item>
  <ion-item>
    <ion-label position="floating" class="font">Truck#</ion-label>
    <ion-input placeholder="Enter Truck Number" formControlName="truckSplit"></ion-input>
    <ion-text *ngIf="this.deliveryTicketForm.get('truckSplit').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Truck# required</ion-text>

  </ion-item>
</div>
</div>
<ion-button expand="block" class="mt-5 font-Lato text-white" *ngIf="!isReassign" (click)="submit()" [disabled]="deliveryTicketForm.invalid">Generate and Send</ion-button>
<ion-button expand="block" class="mt-5 font-Lato text-white" *ngIf="isReassign" (click)="submit()" [disabled]="deliveryTicketForm.invalid">Reassign Delivery Ticket</ion-button>
</form>

</div>
</ion-content>
