
<app-header [title]="'Verify DWRs'" [color]="'dwr'"></app-header>

<ion-content>
  <app-timer [value]="'21:22:23'"></app-timer>

  <p class="font-semibold text-lg font-Lato ml-6 my-3">Outstanding DWRs</p>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['verify-dwr']">
          <ion-card-content>
            <div class="flex justify-center items-center">
              <p class="font-15px font-bold font-Lato">October 25th, 2022</p>
              <span class="text-white font-semibold ml-2 bg-3D8AA4 w-7 h-7 rounded-full flex justify-center items-center">3</span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['']">
          <ion-card-content>
            <div class="flex justify-center items-center">
              <p class="font-15px font-bold font-Lato">October 25th, 2022</p>
              <span class="text-white font-semibold ml-2 bg-3D8AA4 w-7 h-7 rounded-full flex justify-center items-center">1</span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['']">
          <ion-card-content class="flex justify-between items-center">
            <div class="flex justify-center items-center">
              <p class="font-15px font-bold font-Lato">October 25th, 2022</p>
              <span class="text-white font-semibold ml-2 bg-E64646 w-7 h-7 rounded-full flex justify-center items-center">3</span>
            </div>
          <ion-text class="font-Lato text-sm text-e64646 bg-E64646 bg-opacity-20 rounded-full px-2 py-1">Overdue</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="card" [routerLink]="['']">
          <ion-card-content class="flex justify-between items-center">
            <div class="flex justify-center items-center">
              <p class="font-15px font-bold font-Lato">October 26th, 2022</p>
              <span class="text-white font-semibold ml-2 bg-E64646 w-7 h-7 rounded-full flex justify-center items-center">3</span>
            </div>
          <ion-text class="font-Lato text-sm text-e64646 bg-E64646 bg-opacity-20 rounded-full px-2 py-1">Overdue</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  </ion-content>
