<app-header [title]="'Submit End of Day Work Data'" [color]="'farming'"></app-header>

<ion-content>
  <app-timer [value]="'12-10-2022'"> </app-timer>

  <form [formGroup]="closeOutWorkOrder">
    <div class="p-4">
      <div>

        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Customer Name<span class="text-red-600"
              *ngIf="this.closeOutWorkOrder.get('customerName').hasError('required')">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="customerName" placeholder="Enter Customer Name">
        </div>

        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Total Acres by Service<span class="text-red-600"
              *ngIf="this.closeOutWorkOrder.get('acresByService').hasError('required')">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="acresByService" placeholder="Enter Acres by service">
        </div>

        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Ending Engine Hours<span class="text-red-600"
              *ngIf="this.closeOutWorkOrder.get('endingEngineHours').hasError('required')">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="endingEngineHours" placeholder="Enter Engine Hours">
        </div>

        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Total GPS Acres by Service<span class="text-red-600"
              *ngIf="this.closeOutWorkOrder.get('gpsAcresByService').hasError('required')">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="gpsAcresByService" placeholder="Enter GPS Acres by service">
        </div>

      </div>
      <ion-button [disabled]="this.closeOutWorkOrder.invalid" expand="block" class="mt-5 font-Lato text-white"
        (click)="navigateTo()">Close-Out Customer Work Order
      </ion-button>
    </div>
  </form>
</ion-content>
