
<app-header [title]="'Daily Work Records'" [color]="'dwr'"></app-header>

<ion-content>
  <!-- <app-timer [value]="'23:11:43'"></app-timer> -->
<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-card class="card" [routerLink]="['work-history']">
        <ion-card-content>
           <p class="font-15px font-bold font-Lato ion-text-center">View Work History</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12">
      <ion-card class="card" [routerLink]="['verify-dwrs']">
        <ion-card-content>
           <div class="flex justify-center items-center">
            <p class="font-15px font-bold font-Lato">Verify DWR's</p>
            <!-- <span class="text-white font-semibold ml-2 bg-3D8AA4 w-7 h-7 rounded-full flex justify-center items-center">6</span> -->
          </div>
          </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
