
<app-header [title]="'Change Farm'" [color]="'harvesting'"></app-header>

<ion-content>
  <app-timer [value]="'13:02:344'"></app-timer>

  <div class="p-4">
    <div>
      <form [formGroup]="changeFarmForm">
     <ion-list>
        <div>
          <ion-item class="mt-9">
            <ion-select placeholder="Select State" interface="alert" formControlName="state" >
              <ion-select-option *ngFor="let state of states" [value]="state">{{state}}</ion-select-option>
            </ion-select>
            <ion-text *ngIf="this.changeFarmForm.get('state').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">State is required</ion-text>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Customer Name</ion-label>
            <ion-input formControlName="customerName" placeholder="Customer Name"></ion-input>
            <ion-text *ngIf="this.changeFarmForm.get('customerName').hasError('required')" class="text-xs font-semibold font-Lato text-red-500">Customer Name is required</ion-text>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Farm</ion-label>
            <ion-input formControlName="farm" placeholder="Farm"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Crop</ion-label>
            <ion-input formControlName="crop" placeholder="Crop"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Initial Field</ion-label>
            <ion-input formControlName="initailField" placeholder="Initial Field"></ion-input>
          </ion-item>
            <ion-button expand="block" class="mt-5 font-Lato text-white" (click)="submit()" [disabled]="changeFarmForm.invalid">Save</ion-button>
        </div>
      </ion-list>
    </form>
    </div>
  </div>
</ion-content>
