
<app-header [title]="'Change Farm'" [color]="'harvesting'"></app-header>

<ion-content>
  <app-timer [value]="'13:02:344'"></app-timer>

  <div class="p-4">
    <div>
      <form>
     <ion-list>
        <div>
          <ion-item>
            <ion-label position="floating">State</ion-label>
            <ion-input placeholder="State"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Customer Name</ion-label>
            <ion-input placeholder="Customer Name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Farm</ion-label>
            <ion-input placeholder="Farm"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Crop</ion-label>
            <ion-input  placeholder="Crop"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Initial Field</ion-label>
            <ion-input placeholder="Initial Field"></ion-input>
          </ion-item>
            <ion-button expand="block" class="mt-5 font-Lato text-white">Save</ion-button>
        </div>
      </ion-list>
    </form>
    </div>
  </div>
</ion-content>
