<app-header [title]="'Change Farm/Crop'" [color]="'harvesting'"></app-header>

<ion-content>
  <!-- <app-timer [value]="'23:02:344'"></app-timer> -->
  <div class="p-4">
    <div>
      <form [formGroup]="jobSetupForm">
        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Job ID</label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="jobId" readonly>
        </div>

        <div>
          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">State</label>
            <ion-select
              class="{{isDisabled? 'pointer-events-none bg-gray-200 w-full px-4 py-2.5 text-gray-900  placeholder-gray-500 rounded-md border border-gray-300 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500': 'w-full px-4 py-2.5 text-gray-900  placeholder-gray-500 rounded-md border border-gray-300 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500'}}"
              formControlName="state" placeholder="Select State">
              <ion-select-option *ngFor="let state of states" [value]="state">{{state}}</ion-select-option>
            </ion-select>
          </div>
        </div>

        <!-- Customer -->
        <div role="dialog" aria-modal="true">
          <div class="mb-4 relative z-50">
            <div class="mx-auto max-w-full transform rounded-xl px-0  transition-all">
              <label class="block text-sm font-medium text-gray-700 mb-1">Customer</label>
              <div class="flex items-center justify-between gap-x-2 rounded-md">
                <input (keyup)="customer_search$.next($event.target.value)" [value]="customer_name "
                  (click)="inputClickedCustomer()" #customerInput
                  class="{{isDisabled? 'pointer-events-none bg-gray-200 w-full px-4 py-2.5 text-gray-900  placeholder-gray-500 rounded-md border border-gray-300 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500': 'w-full px-4 py-2.5 text-gray-900  placeholder-gray-500 rounded-md border border-gray-300 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500'}}"
                  placeholder="Select Customer" role="" aria-expanded="false" aria-controls="options">
              </div>

              <div *ngIf="allCustomers | withLoading | async as allCustomers">
                <div class="flex justify-center items-center">
                  <ion-spinner *ngIf="allCustomers?.loading" name="crescent" mode="indeterminate"
                    color="primary"></ion-spinner>
                </div>
                <ul *ngIf="allCustomers?.value && customerUL"
                  class="-mb-2 max-h-44 scroll-py-2 overflow-y-auto py-2 text-sm text-gray-800 bg-white drop-shadow-lg absolute w-full"
                  id="options" role="listbox">
                  <li *ngFor="let customer of (allCustomers?.value.customers)" (click)="listClickedCustomer(customer)"
                    class="cursor-pointer select-none rounded-md px-4 py-2 hover:bg-gray-200" role="option"
                    tabindex="-1">
                    <div class="flex items-center p-2">
                      {{customer.customer_name}}
                    </div>
                  </li>
                </ul>
                <div *ngIf="allCustomers?.value?.customers?.length === 0" (onclick)="disableFields()">
                  <div
                    class="cursor-pointer select-none rounded-md px-4 py-2 hover:bg-gray-200 text-gray-500 hover:text-gray-700 hover:font-semibold"
                    disabled role="option" tabindex="-1"> No Customer(s) found </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- FARM -->
        <div
          [ngClass]="add_location_overlay ? 'opacity-100 visible ease-in duration-200' : 'opacity-0 invisible ease-out duration-300'"
          role="dialog" aria-modal="true">

          <div
            [ngClass]="add_location_overlay ? 'opacity-100 visible scale-100 ease-in duration-200' : 'opacity-0 invisible scale-95 ease-out duration-300'"
            class="mb-4 relative z-40">
            <div class="mx-auto max-w-full transform rounded-xl px-0 transition-all">
              <label class="block text-sm font-medium text-gray-700 mb-1">Farm Name <span *ngIf="isFarmCropSelected"
                  class="text-red-400">*</span></label>
              <div class="flex items-center justify-between gap-x-2 rounded-md">
                <input (keyup)="farm_search$.next($event.target.value)" (click)="inputClickedFarm()" [value]="farm_name"
                  #farmInput
                  class="w-full px-4 py-2.5 text-gray-900  placeholder-gray-500 rounded-md border border-gray-300 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500"
                  placeholder="Select Farm" role="" aria-expanded="false" aria-controls="options">
              </div>

              <div *ngIf="allFarmsClicked | withLoading | async as allFarmsClicked">
                <div class="flex justify-center items-center">
                  <ion-spinner *ngIf="allFarmsClicked?.loading" name="crescent" mode="indeterminate"
                    color="primary"></ion-spinner>
                </div>
                <ul *ngIf="allFarmsClicked?.value && farmUL"
                  class="-mb-2 max-h-44 scroll-py-2 overflow-y-auto py-2 text-sm text-gray-800 bg-white drop-shadow-lg absolute w-full"
                  id="options" role="listbox">
                  <li *ngFor="let farm of (allFarmsClicked?.value.customer_farms)" (click)="listClickedFarm(farm)"
                    class="cursor-pointer select-none rounded-md px-4 py-2 hover:bg-gray-200" role="option"
                    tabindex="-1">
                    <div class="flex items-center p-2">
                      {{farm.name}}
                    </div>
                  </li>
                </ul>
                <div *ngIf="allFarmsClicked?.value?.customer_farms?.length === 0">
                  <p disabled
                    class="cursor-pointer select-none rounded-md px-4 py-2 hover:bg-gray-200 text-gray-500 hover:text-gray-700 hover:font-semibold">
                    No Farm(s) found</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- CROP -->
        <div
          [ngClass]="add_location_overlay ? 'opacity-100 visible ease-in duration-200' : 'opacity-0 invisible ease-out duration-300'"
          role="dialog" aria-modal="true">

          <div
            [ngClass]="add_location_overlay ? 'opacity-100 visible scale-100 ease-in duration-200' : 'opacity-0 invisible scale-95 ease-out duration-300'"
            class="mb-4 relative z-30">
            <div class="mx-auto max-w-full transform rounded-xl px-0 transition-all">
              <label class="block text-sm font-medium text-gray-700 mb-1">Crop Name <span *ngIf="isFarmCropSelected"
                  class="text-red-400">*</span></label>
              <div class="flex items-center justify-between gap-x-2 rounded-md">
                <input (keyup)="crop_search$.next($event.target.value)" (click)="inputClickedCrop()" [value]="crop_name"
                  #cropInput
                  class="w-full px-4 py-2.5 text-gray-900  placeholder-gray-500 rounded-md border border-gray-300 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500"
                  placeholder="Select Crop" role="" aria-expanded="false" aria-controls="options">
              </div>

              <div *ngIf="allCropsClicked | withLoading | async as allCropsClicked">
                <div class="flex justify-center items-center">
                  <ion-spinner *ngIf="allCropsClicked?.loading" name="crescent" mode="indeterminate"
                    color="primary"></ion-spinner>
                </div>
                <ul *ngIf="allCropsClicked?.value && cropUL"
                  class="-mb-2 max-h-44 scroll-py-2 overflow-y-auto py-2 text-sm text-gray-800 bg-white drop-shadow-lg absolute w-full"
                  id="options" role="listbox">
                  <li *ngFor="let crop of (allCropsClicked?.value.customer_crops)" (click)="listClickedCrop(crop)"
                    class="cursor-pointer select-none rounded-md px-4 py-2 hover:bg-gray-200" role="option"
                    tabindex="-1">
                    <div class="flex items-center p-2">
                      {{crop.name}}
                    </div>
                  </li>
                </ul>
                <div *ngIf="allCropsClicked?.value?.customer_crops?.length === 0">
                  <p disabled
                    class="cursor-pointer select-none rounded-md px-4 py-2 hover:bg-gray-200 text-gray-500 hover:text-gray-700 hover:font-semibold">
                    No Crop(s) found </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- CROP -->

        <!-- Initial Field -->
        <div
          [ngClass]="add_location_overlay ? 'opacity-100 visible ease-in duration-200' : 'opacity-0 invisible ease-out duration-300'"
          role="dialog" aria-modal="true">

          <div
            [ngClass]="add_location_overlay ? 'opacity-100 visible scale-100 ease-in duration-200' : 'opacity-0 invisible scale-95 ease-out duration-300'"
            class="mb-4 relative z-20">
            <div class="mx-auto max-w-full transform rounded-xl px-0 transition-all">
              <label class="block text-sm font-medium text-gray-700 mb-1">Field Name</label>
              <div class="flex items-center justify-between gap-x-2 rounded-md">
                <input (keyup)="field_search$.next($event.target.value)" (click)="inputClickedField()"
                  [value]="field_name" #fieldInput
                  class="{{isDisabled? 'pointer-events-none bg-gray-200 w-full px-4 py-2.5 text-gray-900  placeholder-gray-500 rounded-md border border-gray-300 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500': 'w-full px-4 py-2.5 text-gray-900  placeholder-gray-500 rounded-md border border-gray-300 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500'}}"
                  placeholder="Select Field" role="" aria-expanded="false" aria-controls="options">
              </div>

              <div *ngIf="allFields | withLoading | async as allFields">
                <div class="flex justify-center items-center">
                  <ion-spinner *ngIf="allFields?.loading" name="crescent" mode="indeterminate"
                    color="primary"></ion-spinner>
                </div>
                <ul *ngIf="allFields?.value && fieldUL"
                  class="-mb-2 max-h-44 scroll-py-2 overflow-y-auto py-2 text-sm text-gray-800 bg-white drop-shadow-lg absolute w-full"
                  id="options" role="listbox">
                  <li *ngFor="let field of (allFields?.value.customer_fields)" (click)="listClickedField(field)"
                    class="cursor-pointer select-none rounded-md px-4 py-2 hover:bg-gray-200" role="option"
                    tabindex="-1">
                    <div class="flex items-center p-2">
                      {{field.field_name}}
                    </div>
                  </li>
                </ul>
                <div *ngIf="allFields?.value?.customer_fields?.length === 0">
                  <p disabled
                    class="cursor-pointer select-none rounded-md px-4 py-2 hover:bg-gray-200 text-gray-500 hover:text-gray-700 hover:font-semibold">
                    No Fields(s) found </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Initial Field -->

        <div class="fixed bottom-2 w-full p-5 -ml-5">
          <ion-button expand="block" class="mt-5 font-Lato text-white w-full" (click)="submit()"
            [disabled]="isFarmCropSelected || (loadingSpinner | async)">
            <div *ngIf="(loadingSpinner | async) === false">Save</div>
            <ion-spinner name="crescent" *ngIf="(loadingSpinner | async)"></ion-spinner>
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
