ion-header{
  ion-toolbar{
    --background: #264f3a;
    color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 6px 0px;
    ion-icon{
      zoom: 1.8;
    }
  }
}

.size-32{
  font-size: 32px;
  color: black;
}
.card{
  box-shadow: none;
  // margin: 20px 20px !important;
  // border: 2px solid #aaaaaa;
  background: #F2F1F1;
  text-align: center;
//   width: 140px;
height: 135px;
margin: 0px;

  ion-card-content{
    // background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ion-icon{
      // font-size: 64px;
      width: 30px;
      height: 30px;
    }
  }
  ion-text{
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
margin-top: 20px;
  }
}
.card-bottom{
  // background: #F2F1F1;
  box-shadow: 0px 4px 25px #E7E7E7;
  text-align: center;
// height: 135px;
margin: 0px;
ion-button{
  --background: #888B8D;
  color: #FFFFFF;
}
ion-text{
  font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.0015em;
color: #7D9181;
}

}
