<!-- ===================== Dashboard Starts =========================== -->
<!-- <app-header [title]="'Dashboard'"></app-header> -->

<ion-content>
  <!-- =============================== Header =============================== -->

  <div class="grid-background">
    <ion-grid>
      <ion-row>
        <ion-col size="10" class="flex flex-row	items-center">
          <ion-avatar>
            <img src="../../../assets/images//Oval.png" alt="">
          </ion-avatar>
          <div class="flex flex-col ml-2">
            <ion-text class="font-semibold font-Lato">Wade Warren</ion-text>
            <span class=" text-xs font-medium font-Lato text-gray-400" *ngIf="role ==='crew-chief'">Crew Chief</span>
            <span class="text-xs font-medium font-Lato text-gray-400" *ngIf="role ==='combine-operator'">Combine
              Operator</span>
            <span class="text-xs font-medium font-Lato text-gray-400" *ngIf="role ==='kart-operator'">Kart
              Operator</span>
            <span class="text-xs font-medium font-Lato text-gray-400" *ngIf="role ==='truck-driver'">Truck Driver</span>
          </div>
        </ion-col>
        <ion-col size="2" class="flex justify-center items-center">
          <ion-tab-button class="relative">
            <img src="../../../assets/icon/bell_notification.png" alt="" class="w-8 h-8 object-contain">
            <ion-badge class="text-white absolute left-6 top-1">6</ion-badge>
          </ion-tab-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="w-5/12 ml-4">
      <form [formGroup]="selectform">
        <ion-select formControlName="select" placeholder="Select Role" class="border-2 border-project-green rounded-lg"
          (ionChange)="onSelect($event)">
          <ion-select-option value="crew-chief" class="font-Lato">Crew Chief</ion-select-option>
          <ion-select-option value="combine-operator" class="font-Lato">Combine Operator</ion-select-option>
          <ion-select-option value="kart-operator" class="font-Lato">Kart Operator</ion-select-option>
          <ion-select-option value="truck-driver" class="font-Lato">Truck Driver</ion-select-option>
          <ion-select-option value="tractor-driver" class="font-Lato">Tractor Driver</ion-select-option>
          <ion-select-option value="dispatcher" class="font-Lato">Dispatcher</ion-select-option>
        </ion-select>
      </form>
    </div>
  </div>

  <!-- =============================== Top Cards =============================== -->
  <ion-grid class="p-2.5">
    <ion-row>
      <ion-col size="4"
      class="flex flex-col"
        *ngIf="role === 'crew-chief' || role === 'kart-operator' || role === 'combine-operator' || role === 'truck-driver'">
        <div class="h-28 flex justify-center items-center">
          <ion-card class="card" [routerLink]="['harvesting']" [ngStyle]="{'background-color':'#129476'}">
            <ion-card-content>
                <img src="../../../assets/images/harvest.svg" alt="" class="">
            </ion-card-content>
          </ion-card>
        </div>
        <div class="ion-text-center flex flex-col">
          <ion-text class="font-Lato">Harvesting</ion-text>
        </div>
      </ion-col>


      <ion-col
      class="flex flex-col"
       size="4" *ngIf="role === 'dispatcher' || role === 'tractor-driver' ">
       <div class="h-28 flex justify-center items-center">
         <ion-card class="card" [routerLink]="['farming']" [ngStyle]="{'background-color':'#8BC741'}">
           <ion-card-content>
             <img src="../../../assets/images/farming.svg" alt="" class="w-12 h-12 object-contain">
           </ion-card-content>
         </ion-card>
       </div>
        <div class="ion-text-center flex flex-col">
          <ion-text class="font-Lato">Farming</ion-text>
        </div>
      </ion-col>


      <ion-col
      size="4" *ngIf="role === 'dispatcher' || role === 'truck-driver'"
      class="flex flex-col"
      >
      <div class="h-28 flex justify-center items-center">
        <ion-card class="card" [routerLink]="['trucking']" [ngStyle]="{'background-color':'#4256F9'}">
          <ion-card-content>
            <img src="../../../assets/images/truck.png" alt="" class="w-12 h-12 object-contain">
          </ion-card-content>
        </ion-card>
      </div>
        <div class="ion-text-center flex flex-col">
          <ion-text class="font-Lato">Trucking</ion-text>
        </div>
      </ion-col>
      <ion-col size="4" class="flex flex-col">
        <div class="h-28 flex justify-center items-center">
          <ion-card class="card " [routerLink]="['maintenance-repair']" [ngStyle]="{'background-color':'#FF7272'}">
            <ion-card-content>
              <img src="../../../assets/images/m and r.svg" alt="" class="w-12 h-12 object-contain">
            </ion-card-content>
          </ion-card>
        </div>
        <div class="ion-text-center flex flex-col">
          <ion-text class="font-Lato">Maintenance & Repair</ion-text>
        </div>
      </ion-col>

      <ion-col size="4" class="flex flex-col">
        <div class="h-28 flex justify-center items-center">
          <ion-card class="card" [routerLink]="['training']" [ngStyle]="{'background-color':'#0CA3C7'}">
            <ion-card-content>
              <img src="../../../assets/images/training.svg" alt="" class="w-12 h-12 object-contain">
            </ion-card-content>
          </ion-card>
        </div>
        <div class="ion-text-center">
          <ion-text class="font-Lato ">Training</ion-text>
        </div>
      </ion-col>

      <ion-col size="4" class="flex flex-col">
        <div class="h-28 flex justify-center items-center">
          <ion-card class="card" [routerLink]="['others']" [ngStyle]="{'background-color':'#455769'}">
            <ion-card-content>
              <img src="../../../assets/images/other.svg" alt="" class="w-12 h-12 object-contain">
            </ion-card-content>
          </ion-card>
        </div>
        <div class="flex flex-col items-center">
          <ion-text class="font-Lato ">Other Paid</ion-text>
        </div>
      </ion-col>
      <ion-col size="4" class="flex flex-col justify-center items-center">
        <div class="h-28 flex justify-center items-center">
          <ion-card class="card" [ngStyle]="{'background-color':'#D33F3F'}">
            <ion-card-content>
              <img src="../../../assets/images/purchasing.svg" alt="" class="w-12 h-12 object-contain">
            </ion-card-content>
          </ion-card>
        </div>
        <div class="flex flex-col items-center">
          <ion-text class="font-Lato ">Purchasing</ion-text>
          <ion-text class="font-Lato text-sm">(Coming 2024)</ion-text>
        </div>
      </ion-col>
      <ion-col size="4" class="flex flex-col justify-center items-center">
        <div class="h-28 flex justify-center items-center">
          <ion-card class="card" [ngStyle]="{'background-color':'#9F58E7'}">
            <ion-card-content>
              <img src="../../../assets/images/inventory.svg" alt="" class="w-12 h-12 object-contain">
            </ion-card-content>
          </ion-card>
        </div>
        <div class="flex flex-col items-center">
          <ion-text class="font-Lato ">Inventory</ion-text>
          <ion-text class="font-Lato text-sm">(Coming 2024)</ion-text>
        </div>
      </ion-col>
      <ion-col size="4" class="flex flex-col justify-center items-center">
        <div class="h-28 flex justify-center items-center">
          <ion-card class="card" [ngStyle]="{'background-color':'#9393F4'}">
            <ion-card-content>
              <img src="../../../assets/images/leasing.svg" alt="" class="w-12 h-12 object-contain">
            </ion-card-content>
          </ion-card>
        </div>
        <div class="flex flex-col items-center">
          <ion-text class="font-Lato ">Leasing</ion-text>
          <ion-text class="font-Lato text-sm">(Coming 2024)</ion-text>
        </div>
      </ion-col>
    </ion-row>


    <!-- ===================== Bottom Card Check-in =========================== -->
    <!-- <ion-row>
      <ion-col size="12">
        <ion-button expand="block" class="font-Lato text-white">Clock-in</ion-button>
        <div class="ion-text-center">
          <ion-text class="font-Lato">Log your work hours to begin tasks for the day!</ion-text>
        </div>
      </ion-col>
    </ion-row> -->

  </ion-grid>
</ion-content>
<!-- ===================== Dashboard Ends =========================== -->
