.size-32 {
  font-size: 32px;
  color: black;
}

.card {
  box-shadow: none;
  text-align: center;
  height: 100px;
  width: 110px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ion-text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-top: 5px;
    color: white;
  }
}

ion-select {
  --placeholder-color: #5BBE62;
  --placeholder-opacity: 1;
  font-size: 18px;
  font-family: 'Lato';
  width: fit-content;
  height: 36px;
}

ion-select::part(placeholder) {
  font-weight: 500;
  color: #5BBE62;
}

ion-select::part(icon) {
  color: #5BBE62;
  opacity: 1;
}

// MODEL CSS
ion-modal {
  --height: 35%;
  --width: 80%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}

ion-icon {
  color: black;
  font-size: 32px;
}

ion-spinner {
  --color: rgb(14 116 144);
}

