<!-- ===================== Dashboard Starts =========================== -->

<ion-header class="ion-no-border">
  <ion-toolbar class="header-background-color">
    <div>
      <div>
        <ion-title class="ion-text-center title-style  font-Lato">Dashboard</ion-title>
      </div>
      <div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- =============================== Header =============================== -->

  <div class="grid-background">
    <ion-grid>
      <ion-row>
        <ion-col size="10" class="flex flex-row	items-center">
          <ion-avatar>
            <img src="../../../assets/images//Oval.png" alt="">
          </ion-avatar>
          <div class="flex flex-col ml-2">
            <ion-text class="font-semibold font-Lato">Wade Warren</ion-text>
            <span class=" text-xs font-semibold font-Lato" *ngIf="role ==='crew-chief'">Crew Chief</span>
            <span class="text-xs font-semibold font-Lato" *ngIf="role ==='combine-operator'">Combine Operator</span>
            <span class="text-xs font-semibold font-Lato" *ngIf="role ==='kart-operator'">Kart Operator</span>
            <span class="text-xs font-semibold font-Lato" *ngIf="role ==='truck-driver'">Truck Driver</span>
          </div>
        </ion-col>
        <ion-col size="2" class="flex justify-center items-center">
          <ion-icon name="notifications-outline" class="size-32"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- =============================== Top Cards =============================== -->
  <ion-grid class="p-2.5">
    <ion-row>

      <ion-col size="6">
        <ion-card class="card" [routerLink]="['harvesting']">
          <ion-card-content>
            <ion-icon name="image-outline"></ion-icon>
            <ion-text class="font-Lato">Harvesting</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>


      <!-- Role: Farming Dispatcher -->
      <ion-col size="6">
        <ion-card class="card" [routerLink]="['farming']">
          <ion-card-content>
            <ion-icon name="image-outline"></ion-icon>
            <ion-text class="font-Lato">Farming</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="card" [routerLink]="['trucking']">
          <ion-card-content>
            <ion-icon name="image-outline"></ion-icon>
            <ion-text class="font-Lato">Trucking</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card">
          <ion-card-content>
            <ion-icon name="image-outline"></ion-icon>
            <ion-text class="font-Lato">Maintenance & Repair</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="card">
          <ion-card-content>
            <ion-icon name="image-outline"></ion-icon>
            <ion-text class="font-Lato">Training</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card" [routerLink]="['others']">
          <ion-card-content>
            <ion-icon name="image-outline"></ion-icon>
            <ion-text class="font-Lato">Other</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <!-- ===================== Bottom Card Check-in =========================== -->
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" class="font-Lato">Clock-in</ion-button>
        <ion-text class="font-Lato flex justify-center">Log your work hours to begin tasks for the day!</ion-text>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
<!-- ===================== Dashboard Ends =========================== -->