<app-header [title]="'Others'" [color]="'others'"></app-header>

<ion-content>
  <app-timer [value]="'10-5-2022'"></app-timer>
  <form [formGroup]="otherForm">
    <div class="p-4">
      <div>
        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Employee Name<span class="text-red-600"
              *ngIf="this.otherForm.get('empId').hasError('required')">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="empId" placeholder="Enter Employee Name">
        </div>

        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Supervisor<span class="text-red-600"
              *ngIf="this.otherForm.get('supervisorId').hasError('required')">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="supervisorId" placeholder="Enter Supervisor Name">
        </div>

        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Location (City)<span class="text-red-600"
              *ngIf="this.otherForm.get('city').hasError('required')">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="city" placeholder="Enter City Name">
        </div>

        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Location (State)<span class="text-red-600"
              *ngIf="this.otherForm.get('state').hasError('required')">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="state" placeholder="Enter State Name">
        </div>
      </div>

      <div class="pb-4">
        <ion-radio-group formControlName="apprTaskId">
          <ion-text class="font-semibold">Select Appropriate Task<span class="text-red-600"
              *ngIf="this.otherForm.get('apprTaskId').hasError('required')">*</span></ion-text>
          <ion-item class="h-10" lines="none">
            <ion-radio mode="md" value="1"></ion-radio>
            <label class="block text-sm ml-2 text-gray-700">Drive Company Vehicle</label>
          </ion-item>
          <ion-item class="h-10" lines="none">
            <ion-radio mode="md" value="2"></ion-radio>
            <label class="block text-sm ml-2 text-gray-700">Customer Activities</label>
          </ion-item>
          <ion-item class="h-10" lines="none">
            <ion-radio mode="md" value="3"></ion-radio>
            <label class="block text-sm ml-2 text-gray-700">Company Activities</label>
          </ion-item>
          <ion-item class="h-10" lines="none">
            <ion-radio mode="md" value="4"></ion-radio>
            <label class="block text-sm ml-2 text-gray-700">Other</label>
          </ion-item>
        </ion-radio-group>
      </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Write Here<span class="text-red-600"
            *ngIf="this.otherForm.get('notes').hasError('required')">*</span></label>
        <textarea
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="notes" placeholder="Write Here..."></textarea>
      </div>

      <ion-button [disabled]="this.otherForm.invalid" expand="block" class="mt-5 font-Lato text-white"
        (click)="navigateTo()">Save</ion-button>
    </div>
  </form>
</ion-content>
