<app-header [title]="'Others'" [color]="'others'"></app-header>

<ion-content>
  <app-timer [value]="'10-5-2022'"></app-timer>
  <div class="p-4">
    <div>
      <ion-item>
        <ion-label position="floating">Employee Name</ion-label>
        <ion-input placeholder="Enter Employee Name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Supervisor</ion-label>
        <ion-input placeholder="Enter Supervisor Name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Location (City)</ion-label>
        <ion-input placeholder="Enter City Name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Location (State)</ion-label>
        <ion-input placeholder="Enter State Name"></ion-input>
      </ion-item>
    </div>

    <div class="mt-6 p-4">
      <label class="font-15px font-bold">Select Appropriate Task</label>
      <label class="radio mt-4 block mb-4">
        <input class="satisfactory" name="radio" type="radio" checked>
        <span>Drive Company Vehicle</span>
      </label>
      <label class="radio  block  mb-4">
        <input class="satisfactory"name="radio" type="radio">
        <span>Customer Activities</span>
      </label>
      <label class="radio block mb-4">
        <input class="satisfactory"name="radio" type="radio">
        <span>Company Activities</span>
      </label>
      <label class="radio block mb-4">
        <input class="satisfactory"name="radio" type="radio">
        <span>Other</span>
      </label>
    </div>

    <ion-row>
      <ion-col size="12">
        <ion-item class="mt-2">
          <ion-label position="floating">Write Here</ion-label>
          <ion-input placeholder="Write Here..."></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-button expand="block" class="mt-5 font-Lato text-white" (click)="navigateTo()">Save</ion-button>
  </div>
</ion-content>