<app-header [title]="'Ticket Generated'" [color]="'trucking'"></app-header>

<ion-content>
  <div *ngIf="(loadingSpinner | async) === true" class="h-64 flex justify-center items-center">
    <ion-spinner name="crescent" class="w-20 h-20"></ion-spinner>
  </div>
  <ion-card *ngIf="(loadingSpinner | async) === false">
    <ion-card-header>
      <ion-card-title class="flex justify-center text-xl font-Lato">Commercial Delivery Ticket</ion-card-title>

    </ion-card-header>
    <ion-card-content >
      <ion-grid>

        <!-- First Row -->
        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col">
            <p class="font-Lato text-black font-bold font-14">Delivery Ticket #</p>
            <span class="font-Lato font-14">{{this.data?.ticket?.delivery_ticket_name}}</span>
          </ion-col>

          <ion-col size="6" class="flex flex-col">
            <p class="font-Lato text-black font-bold font-14">Dispatcher Name</p>
            <span class="font-Lato font-14">{{this.data?.ticket?.dispatcherName}}</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col">
            <p class="font-Lato text-black font-bold font-14">Customer/Broker</p>
            <span class="font-Lato font-14">{{this.data?.ticket?.customerName}}</span>
          </ion-col>


          <ion-col size="6" class="flex flex-col">
            <p class="font-Lato text-black font-bold font-14">Load Date</p>
            <span class="font-Lato font-14">{{moment(this.data?.ticket?.load_date).format('MM-DD-YYYY')}}</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col">
            <p class="font-Lato text-black font-bold font-14">Drivers Name</p>
            <span class="font-Lato font-14">{{this.data?.ticket?.truckDriverName}}</span>
          </ion-col>

          <ion-col size="6" class="flex flex-col">
            <p class="font-Lato text-black font-bold font-14">Load #</p>
            <span class="font-Lato font-14">{{this.data?.ticket?.load}}</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col">
            <p class="font-Lato text-black font-bold font-14">Rate Type</p>
            <span class="font-Lato font-14">{{this.data?.ticket?.rate_type}}</span>
          </ion-col>

          <ion-col size="6" class="flex flex-col">
            <p class="font-Lato text-black font-bold font-14">Rate</p>
            <span class="font-Lato font-14">{{this.data?.ticket?.rate}}</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col">
            <p class="font-Lato text-black font-bold font-14">Cargo</p>
            <span class="font-Lato font-14">{{this.data?.ticket?.cargo}}</span>
          </ion-col>

          <ion-col size="6" class="flex flex-col">
            <p class="font-Lato text-black font-bold font-14">Origin City</p>
            <span class="font-Lato font-14">{{this.data?.ticket?.origincity}}</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col">
            <p class="font-Lato text-black font-bold font-14">Origin State</p>
            <span class="font-Lato font-14">{{this.data?.ticket?.origin_state}}</span>
          </ion-col>

          <ion-col size="6" class="flex flex-col">
            <p class="font-Lato text-black font-bold font-14">Destination City</p>
            <span class="font-Lato font-14">{{this.data?.ticket?.destinationcity}}</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col">
            <p class="font-Lato text-black font-bold font-14">Destination State</p>
            <span class="font-Lato font-14">{{this.data?.ticket?.destinationstate}}</span>
          </ion-col>
        </ion-row>

        <ion-label class="font-Lato text-gray-500 ml-5 font-bold font-14">Load Rate Sheets</ion-label>

        <ion-card class="p-3">
          <ion-card-content class="m-0 p-0">
            <div class="mt-4" >
              <img [src]="this.data?.ticket?.image_1" class="h-48 w-full object-contain">
            </div>
            <div class="mt-4" >
              <img [src]="this.data?.ticket?.image_2" class="h-48 w-full object-contain">
            </div>
            <div class="mt-4" >
              <img [src]="this.data?.ticket?.image_3" class="h-48 w-full object-contain">
            </div>
          </ion-card-content>
        </ion-card>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col">
            <p class="font-Lato text-black font-bold font-14">Dispatcher Notes</p>
            <span class="font-Lato font-14">{{this.data?.ticket?.dispatcher_notes}}</span>
          </ion-col>
        </ion-row>

      </ion-grid>
      <ion-button expand="block" class="w-4/5 flex ml-auto mr-auto mt-5 font-Lato  text-white" (click)="navigateTo('/tabs/home/trucking/commercial')">Send To Driver
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
