<!-- Start Daily Combining Job /Data Collection Start -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" (click)="goBack()"></ion-icon>
    <ion-title class="text-center">Start Daily Combining Job/Data collection</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="p-4">
  <ion-grid class="mt-2">
    <ion-row>
      <ion-col size="6" class="">
      <div class="flex justify-start items-center">
        <ion-icon name="time-outline" class="w-6 h-6" [ngStyle]="{'color':'#888B8D'}"></ion-icon>
        <span class="ml-2 text-lg" [ngStyle]="{'color':'#888B8D'}">09:00 AM</span>
      </div>
      </ion-col>
      <ion-col size="6" class="">
        <div class="flex justify-center items-center">
          <ion-icon name="calendar-outline" class="w-6 h-6" [ngStyle]="{'color':'#888B8D'}"></ion-icon>
          <span class="ml-2 text-lg" [ngStyle]="{'color':'#888B8D'}">Oct 08, 2022</span>
        </div>
        </ion-col>
    </ion-row>
  </ion-grid>
  <div>
    <form [formGroup]="customerSetupForm" novalidate>
   <ion-list>
      <div>
        <ion-item>
          <ion-label position="floating">State</ion-label>
          <ion-input formControlName="state" placeholder="State"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Customer Name</ion-label>
          <ion-input formControlName="customer_name" placeholder="Customer Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Farm</ion-label>
          <ion-input formControlName="farm" placeholder="Farm"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Crop</ion-label>
          <ion-input formControlName="crop" placeholder="Crop"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Initial Field</ion-label>
          <ion-input formControlName="initial_field" placeholder="Initial Field"></ion-input>
        </ion-item>
          <ion-button expand="block" class="mt-5">Add</ion-button>
      </div>
    </ion-list>
  </form>
  </div>
</div>
</ion-content>
<!-- Start Daily Combining Job /Data Collection End -->
