<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" (click)="goBack()"></ion-icon>
    <ion-title>Assign Roles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="main">
<ion-item>
  <ion-label position="floating">Enter Name</ion-label>
  <ion-input placeholder="Enter name"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Enter Name</ion-label>
  <ion-input placeholder="Enter name"></ion-input>
</ion-item>
<ion-button expand="block">Add</ion-button>
<ion-card class="card">
  <ion-grid >
    <ion-row>
      <ion-col size="6" style="display: flex;justify-content: center;">
        <div class="card_inner">
          <h1>Combine Operator</h1>
          <span>10</span>
        </div>
      </ion-col>
      <ion-col size="6" style="display: flex;justify-content: center;">
        <div class="card_inner">
          <h1>Kart Operator</h1>
          <span>10</span>
        </div>
        </ion-col>
    </ion-row>

  <ion-row class="">
    <ion-col size="6">
      <div>Harris </div>
    </ion-col>
    <ion-col size="6">
      <div>Mahmood</div>
    </ion-col>
    <ion-col size="6">
      <div>Harris </div>
    </ion-col>
    <ion-col size="6">
      <div>Mahmood</div>
    </ion-col>
    <ion-col size="6">
      <div>Harris </div>
    </ion-col>
    <ion-col size="6">
      <div>Mahmood</div>
    </ion-col>
    <ion-col size="6">
      <div>Harris </div>
    </ion-col>
    <ion-col size="6">
      <div>Mahmood</div>
    </ion-col>
    <ion-col size="6">
      <div>Harris </div>
    </ion-col>
    <ion-col size="6">
      <div>Mahmood</div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-card>
</div>
</ion-content>
