<app-header [title]="'Verify In-House Ticket'" [color]="'trucking'" *ngIf="role === 'dispatcher'"></app-header>

<ion-content *ngIf="role === 'dispatcher'">
  <app-timer [value]="'12-12-2022'"></app-timer>

  <!------ Role Dispatcher-->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="flex justify-center text-xl font-Lato">In House Delivery Ticket</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>

        <!-- First Row -->
        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Ticket #</p>
            <span class="font-Lato font-14">12345</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col   ">
            <p class="font-Lato text-black font-bold font-14">Dispatcher</p>
            <span class="font-Lato font-14">Mike Allen</span>
          </ion-col>
        </ion-row>

        <!-- Second Row -->
        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Driver</p>
            <span class="font-Lato font-14">Mike</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col   ">
            <p class="font-Lato text-black font-bold font-14">Cargo</p>
            <span class="font-Lato font-14">Bags</span>
          </ion-col>
        </ion-row>

        <!-- Third Row -->
        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col   ">
            <p class="font-Lato text-black font-bold font-14">Origin (City)</p>
            <span class="font-Lato font-14">Alaska</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Destination</p>
            <span class="font-Lato font-14">Alaska</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Destination State</p>
            <span class="font-Lato font-14">Dakota</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Load</p>
            <span class="font-Lato font-14">Bags</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Truck #</p>
            <span class="font-Lato font-14">33</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Home BOR</p>
            <span class="font-Lato font-14">56232</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Origin Beginning OR</p>
            <span class="font-Lato font-14">245666</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Destination Ending OR</p>
            <span class="font-Lato font-14">3345</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Total Trip Miles </p>
            <span class="font-Lato font-14">100</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Dead-Head Miles</p>
            <span class="font-Lato font-14">100</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Driver Notes</p>
            <span class="font-Lato font-14">N/A</span>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button expand="block" class="mt-5 font-Lato  text-white"
        (click)="navigateTo('/tabs/home/trucking/in-house')">Verify
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>

<!-------- Role Truck Driver-->
<app-header [title]="'Existing Delivery Ticket'" [color]="'trucking'" *ngIf="role === 'truck-driver'"></app-header>

<ion-content *ngIf="role === 'truck-driver'">
  <app-timer [value]="'12-12-2022'"></app-timer>
  <form class="p-4" [formGroup]="verifyFormInHouseTruck">
    <ion-list>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Truck# <span class="text-red-600"
            *ngIf="this.verifyFormInHouseTruck.get('truckNo').hasError('required')">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="truckNo" placeholder="Truck#">
      </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700"> DHT Delivery Ticket # <span class="text-red-600"
            *ngIf="this.verifyFormInHouseTruck.get('ticketNo').hasError('required')">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="ticketNo" placeholder="State">
      </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Home Base (Beginning) Odometer Reading <span
            class="text-red-600"
            *ngIf="this.verifyFormInHouseTruck.get('homeBeginingOdometerReading').hasError('required')">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="homeBeginingOdometerReading" placeholder="Home Base (Beginning) Odometer Reading">
      </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Origin (Begining) Odometer Reading <span
            class="text-red-600"
            *ngIf="this.verifyFormInHouseTruck.get('originBeginingOdometerReading').hasError('required')">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="originBeginingOdometerReading" placeholder="Origin (Begining) Odometer Reading">
      </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Destination (Ending) Odometer Reading <span
            class="text-red-600"
            *ngIf="this.verifyFormInHouseTruck.get('destinationEndingOdometerReading').hasError('required')">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="destinationEndingOdometerReading" placeholder="Destination (Ending) Odometer Reading">
      </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Total trip Miles <span class="text-red-600"
            *ngIf="this.verifyFormInHouseTruck.get('totalTripMiles').hasError('required')">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="totalTripMiles" placeholder="Total trip Miles">
      </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Dead Head Miles <span class="text-red-600"
            *ngIf="this.verifyFormInHouseTruck.get('deadHeadMiles').hasError('required')">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="deadHeadMiles" placeholder="Dead Head Miles">
      </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Total Job Miles <span class="text-red-600"
            *ngIf="this.verifyFormInHouseTruck.get('totalJobMiles').hasError('required')">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="totalJobMiles" placeholder="total Job Miles">
      </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Driver Notes (Optional) <span class="text-red-600"
            *ngIf="this.verifyFormInHouseTruck.get('notes').hasError('required')">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="notes" placeholder="Notes">
      </div>

      <ion-button expand="block" class="mt-5 font-Lato text-white" (click)="navigateTruck()"
        [disabled]="this.verifyFormInHouseTruck.invalid">Save and Submit
      </ion-button>
    </ion-list>
  </form>

</ion-content>
