<app-header [title]="'Verify Ticket'" [color]="'trucking'"></app-header>

<ion-content>
  <app-timer [value]="'12-12-2022'"></app-timer>

  <!------ Role Dispatcher-->
  <ion-card *ngIf="role === 'dispatcher'">
    <ion-card-header>
      <ion-card-title class="flex justify-center text-xl font-Lato">In House Delivery Ticket</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>

        <!-- First Row -->
        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Ticket #</p>
            <span class="font-Lato font-14">12345</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col   ">
            <p class="font-Lato text-black font-bold font-14">Dispatcher</p>
            <span class="font-Lato font-14">Mike Allen</span>
          </ion-col>
        </ion-row>

        <!-- Second Row -->
        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Driver</p>
            <span class="font-Lato font-14">Mike</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col   ">
            <p class="font-Lato text-black font-bold font-14">Cargo</p>
            <span class="font-Lato font-14">Bags</span>
          </ion-col>
        </ion-row>

        <!-- Third Row -->
        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col   ">
            <p class="font-Lato text-black font-bold font-14">Origin (City)</p>
            <span class="font-Lato font-14">Alaska</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Destination</p>
            <span class="font-Lato font-14">Alaska</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Destination State</p>
            <span class="font-Lato font-14">Dakota</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Load</p>
            <span class="font-Lato font-14">Bags</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Truck #</p>
            <span class="font-Lato font-14">33</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Home BOR</p>
            <span class="font-Lato font-14">56232</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Origin Beginning OR</p>
            <span class="font-Lato font-14">245666</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Destination Ending OR</p>
            <span class="font-Lato font-14">3345</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Total Trip Miles </p>
            <span class="font-Lato font-14">100</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Dead-Head Miles</p>
            <span class="font-Lato font-14">100</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Driver Notes</p>
            <span class="font-Lato font-14">N/A</span>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button expand="block" class="mt-5 font-Lato  text-white"
        (click)="navigateTo('/tabs/home/trucking/in-house')">Verify
      </ion-button>

    </ion-card-content>
  </ion-card>

  <!-------- Role Truck Driver-->

  <form [formGroup]="verifyFormInHouseTruck" *ngIf="role === 'truck-driver'">
    <ion-list>
      <ion-item>
        <ion-label position="floating"> Ticket #</ion-label>
        <ion-input formControlName="ticketNo" placeholder="State"></ion-input>
      </ion-item>
      <ion-text *ngIf="this.verifyFormInHouseTruck.get('ticketNo').hasError('required')"
        class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Ticket No. required</ion-text>

      <ion-item>
        <ion-label position="floating">Truck#</ion-label>
        <ion-input formControlName="truckNo" placeholder="Truck#"></ion-input>
      </ion-item>
      <ion-text *ngIf="this.verifyFormInHouseTruck.get('truckNo').hasError('required')"
        class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Truck No. required</ion-text>

      <ion-item>
        <ion-label position="floating">Home Base (Beginning) Odometer Reading</ion-label>
        <ion-input formControlName="homeBeginingOdometerReading" placeholder="Home Base (Beginning) Odometer Reading">
        </ion-input>
      </ion-item>
      <ion-text *ngIf="this.verifyFormInHouseTruck.get('homeBeginingOdometerReading').hasError('required')"
        class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Home base (begining) odometer reading required
      </ion-text>

      <ion-item>
        <ion-label position="floating">Origin (Begining) Odometer Reading</ion-label>
        <ion-input formControlName="originBeginingOdometerReading" placeholder="Origin (Begining) Odometer Reading">
        </ion-input>
      </ion-item>
      <ion-text *ngIf="this.verifyFormInHouseTruck.get('originBeginingOdometerReading').hasError('required')"
        class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Origin (begining) odometer reading required
      </ion-text>

      <ion-item>
        <ion-label position="floating">Destination (Ending) Odometer Reading</ion-label>
        <ion-input formControlName="destinationEndingOdometerReading"
          placeholder="Destination (Ending) Odometer Reading"></ion-input>
      </ion-item>
      <ion-text *ngIf="this.verifyFormInHouseTruck.get('destinationEndingOdometerReading').hasError('required')"
        class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Destination (ending) odometer reading required
      </ion-text>

      <ion-item>
        <ion-label position="floating">Total trip Miles</ion-label>
        <ion-input formControlName="totalTripMiles" placeholder="Total trip Miles"></ion-input>
      </ion-item>
      <ion-text *ngIf="this.verifyFormInHouseTruck.get('totalTripMiles').hasError('required')"
        class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Total trip miles required</ion-text>

      <ion-item>
        <ion-label position="floating">Dead Head Miles</ion-label>
        <ion-input formControlName="deadHeadMiles" placeholder="Dead Head Miles"></ion-input>
      </ion-item>
      <ion-text *ngIf="this.verifyFormInHouseTruck.get('deadHeadMiles').hasError('required')"
        class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Dead head miles required</ion-text>

      <ion-item>
        <ion-label position="floating">Total Job Miles</ion-label>
        <ion-input formControlName="totalJobMiles" placeholder="total Job Miles"></ion-input>
      </ion-item>
      <ion-text *ngIf="this.verifyFormInHouseTruck.get('totalJobMiles').hasError('required')"
        class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">total job miles required</ion-text>

      <ion-item>
        <ion-label position="floating">Driver Notes</ion-label>
        <ion-input formControlName="notes" placeholder="Notes"></ion-input>
      </ion-item>
      <ion-text *ngIf="this.verifyFormInHouseTruck.get('notes').hasError('required')"
        class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Driver Notes required</ion-text>

      <ion-button expand="block" class="mt-5 font-Lato text-white" (click)="navigateTruck()"
        [disabled]="this.verifyFormInHouseTruck.invalid">Generate Ticket
      </ion-button>
    </ion-list>
  </form>

</ion-content>
