<app-header [title]="'Create Delivery Ticket'" [color]="'trucking'"></app-header>

<ion-content>
  <app-timer [value]="'12-12-2022'"></app-timer>
  <div class="p-4">
    <div *ngIf="role === 'dispatcher'">
      <form [formGroup]="createTicketFormDispatcherInHouse">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Delivery Ticket #</ion-label>
            <ion-input formControlName="ticketNo" placeholder="State"></ion-input>
          </ion-item>
          <ion-text *ngIf="this.createTicketFormDispatcherInHouse.get('ticketNo').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Delivery ticket required</ion-text>
          <ion-item>
            <ion-label position="floating">Dispatcher Name</ion-label>
            <ion-input formControlName="dispatcherName" placeholder="Dispatcher Name"></ion-input>
          </ion-item>
          <ion-text *ngIf="this.createTicketFormDispatcherInHouse.get('dispatcherName').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Dispatcher name required</ion-text>
          <ion-item>
            <ion-label position="floating">Driver Name</ion-label>
            <ion-input formControlName="driverName" placeholder="Driver Name"></ion-input>
          </ion-item>
          <ion-text *ngIf="this.createTicketFormDispatcherInHouse.get('driverName').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Driver name required</ion-text>
          <ion-item>
            <ion-label position="floating">Cargo</ion-label>
            <ion-input formControlName="cargo" placeholder="Cargo"></ion-input>
          </ion-item>
          <ion-text *ngIf="this.createTicketFormDispatcherInHouse.get('cargo').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Cargo required</ion-text>
          <ion-item>
            <ion-label position="floating">Origin City</ion-label>
            <ion-input formControlName="originCity" placeholder="Origin City"></ion-input>
          </ion-item>
          <ion-text *ngIf="this.createTicketFormDispatcherInHouse.get('originCity').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Origin city required</ion-text>
          <ion-item>
            <ion-label position="floating">Destination City</ion-label>
            <ion-input formControlName="destinationCity" placeholder="Destination City"></ion-input>
          </ion-item>
          <ion-text *ngIf="this.createTicketFormDispatcherInHouse.get('destinationCity').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Destination city required</ion-text>
          <ion-item>
            <ion-label position="floating">Destination State</ion-label>
            <ion-input formControlName="destinationState" placeholder="Destination State"></ion-input>
          </ion-item>
          <ion-text *ngIf="this.createTicketFormDispatcherInHouse.get('destinationState').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Destination state required</ion-text>
          <ion-item>
            <ion-label position="floating">Dispatcher Notes(optional)</ion-label>
            <ion-input formControlName="dispatcherNotes" placeholder="Dispatcher Notes"></ion-input>
          </ion-item>
          <ion-button expand="block" class="mt-5 font-Lato text-white"
             (click)="navigatedispatcher()"
             [disabled]="this.createTicketFormDispatcherInHouse.invalid"
             >Generate Ticket
          </ion-button>
        </ion-list>
      </form>
    </div>

    <div *ngIf="role === 'truck-driver'">
      <form [formGroup]="createTicketFormTruckDriverInHouse">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Delivery Ticket #</ion-label>
            <ion-input placeholder="Delivery Ticket #" formControlName="ticketNo"></ion-input>
          </ion-item>
          <ion-text *ngIf="this.createTicketFormDispatcherInHouse.get('ticketNo').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Delivery ticket required</ion-text>
          <ion-item>
            <ion-label position="floating">Supervisor Name</ion-label>
            <ion-input placeholder="Supervisor Name" formControlName="supervisorName"></ion-input>
          </ion-item>
          <ion-text *ngIf="this.createTicketFormDispatcherInHouse.get('supervisorName').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Supervisor name required</ion-text>

          <ion-item>
            <ion-label position="floating">Driver Name</ion-label>
            <ion-input placeholder="Driver Name" formControlName="driverName"></ion-input>
          </ion-item>
          <ion-text *ngIf="this.createTicketFormDispatcherInHouse.get('driverName').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Driver name required</ion-text>

          <ion-item>
            <ion-label position="floating">Load Date</ion-label>
            <ion-input placeholder="Load Date" formControlName="loadDate"></ion-input>
          </ion-item>
          <ion-text *ngIf="this.createTicketFormDispatcherInHouse.get('loadDate').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Load date required</ion-text>

          <ion-item>
            <ion-label position="floating">Cargo</ion-label>
            <ion-input placeholder="Cargo" formControlName="cargo"></ion-input>
          </ion-item>
          <ion-text *ngIf="this.createTicketFormDispatcherInHouse.get('cargo').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Cargo required</ion-text>
          <ion-item>
            <ion-label position="floating">Origin City</ion-label>
            <ion-input placeholder="Origin City" formControlName="originCity"></ion-input>
          </ion-item>
          <ion-text *ngIf="this.createTicketFormDispatcherInHouse.get('originCity').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Origin cityrequired</ion-text>
          <ion-item>
            <ion-label position="floating">Destination City</ion-label>
            <ion-input placeholder="Destination City" formControlName="destinationCity"></ion-input>
          </ion-item>
          <ion-text *ngIf="this.createTicketFormDispatcherInHouse.get('destinationCity').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Destination city required</ion-text>
          <ion-item>
            <ion-label position="floating">Destination State</ion-label>
            <ion-input placeholder="Destination State" formControlName="destinationState"></ion-input>
          </ion-item>
          <ion-text *ngIf="this.createTicketFormDispatcherInHouse.get('destinationState').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Destination state required</ion-text>
          <ion-item>
            <ion-label position="floating">Truck #</ion-label>
            <ion-input placeholder="Truck #" formControlName="truckNo"></ion-input>
          </ion-item>
          <ion-text *ngIf="this.createTicketFormDispatcherInHouse.get('truckNo').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Truck required</ion-text>
          <ion-item>
            <ion-label position="floating">Home Base (Beginning) Odometer Reading</ion-label>
            <ion-input placeholder="Odometer Reading" formControlName="homeBeginingOdometerReading"></ion-input>
          </ion-item>
          <ion-text *ngIf="this.createTicketFormDispatcherInHouse.get('homeBeginingOdometerReading').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Home base (begining) odometer reading required</ion-text>
          <ion-item>
            <ion-label position="floating">Destination (Ending) Odometer Reading</ion-label>
            <ion-input placeholder="Odometer Reading" formControlName="destinationEndingnOdometerReading"></ion-input>
          </ion-item>
          <ion-text *ngIf="this.createTicketFormDispatcherInHouse.get('destinationEndingnOdometerReading').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Destination (ending) odometer reading required</ion-text>
          <ion-item>
            <ion-label position="floating">Total Trip Miles</ion-label>
            <ion-input placeholder="Trip Miles" formControlName="tripMiles"></ion-input>
          </ion-item>
          <ion-text *ngIf="this.createTicketFormDispatcherInHouse.get('tripMiles').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Total trip miles required</ion-text>
          <ion-item>
            <ion-label position="floating">Dead-Head Miles</ion-label>
            <ion-input placeholder="Dead-Head Miles" formControlName="deadHeadMiles"></ion-input>
          </ion-item>
          <ion-text *ngIf="this.createTicketFormDispatcherInHouse.get('deadHeadMiles').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Dead head miles required</ion-text>
          <ion-item>
            <ion-label position="floating">Total Job Miles</ion-label>
            <ion-input placeholder="Job Miles" formControlName="totalJobMiles"></ion-input>

          </ion-item>
          <ion-text *ngIf="this.createTicketFormDispatcherInHouse.get('totalJobMiles').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Total job miles required</ion-text>
          <ion-item>
            <ion-label position="floating">Driver Notes(optional)</ion-label>
            <ion-input placeholder="Notes" formControlName="driverNotes"></ion-input>
          </ion-item>
          <ion-button expand="block" class="mt-5 font-Lato text-white"
            (click)="navigateTruckDriver()">Generate Ticket
          </ion-button>
        </ion-list>
      </form>
    </div>
  </div>
</ion-content>
