<app-header [title]="['Pre-Trip Check Form Truck']"></app-header>

<ion-content>
  <div class="p-4">
    <ion-label>Category:</ion-label>
    <ion-text class="font-bold flex" *ngIf="currentPage === 'engine'">Engine / Compartment</ion-text>
    <ion-text class="font-bold flex" *ngIf="currentPage === 'cab'">In Cab</ion-text>
    <ion-text class="font-bold flex" *ngIf="currentPage === 'vehicle'">Vehicle / External</ion-text>
    <ion-text class="font-bold flex" *ngIf="currentPage === 'brakes'">Coupling / Suspension and Miscellaneous</ion-text>
    <ion-text class="font-bold flex" *ngIf="currentPage === 'trailer'">Trailer</ion-text>
  </div>

  <div class="p-4" *ngIf="currentPage === 'engine'">
    <ion-item>
      <ion-text class="font-bold"> Select Items need M&R</ion-text>
    </ion-item>

    <ion-item>
      <div class="mt-4 mb-6">
        <label>Air Compressor Engine</label>
        <div class="flex">
          <div class="h-full">
            <label class="radio mt-4 flex">
              <input name="radio" type="radio" checked>
              <span>Satisfactory</span>
            </label>
          </div>
          <label class="radio mt-4 ml-8">
            <input name="radio" type="radio">
            <span>Unsatisfactory</span>
          </label>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div class="mt-4 mb-6">
        <label>Belts & Hoses</label>
        <div class="flex">
          <div class="h-full">
            <label class="radio mt-4 flex">
              <input name="radio" type="radio" checked>
              <span>Satisfactory</span>
            </label>
          </div>
          <label class="radio mt-4 ml-8">
            <input name="radio" type="radio">
            <span>Unsatisfactory</span>
          </label>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div class="mt-4 mb-6">
        <label>Radiator</label>
        <div class="flex">
          <div class="h-full">
            <label class="radio mt-4 flex">
              <input name="radio" type="radio" checked>
              <span>Satisfactory</span>
            </label>
          </div>
          <label class="radio mt-4 ml-8">
            <input name="radio" type="radio">
            <span>Unsatisfactory</span>
          </label>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div class="mt-4 mb-6">
        <label>Steering</label>
        <div class="flex">
          <div class="h-full">
            <label class="radio mt-4 flex">
              <input name="radio" type="radio" checked>
              <span>Satisfactory</span>
            </label>
          </div>
          <label class="radio mt-4 ml-8">
            <input name="radio" type="radio">
            <span>Unsatisfactory</span>
          </label>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div class="mt-4 mb-6">
        <label>Oil Level</label>
        <div class="flex">
          <div class="h-full">
            <label class="radio mt-4 flex">
              <input name="radio" type="radio" checked>
              <span>Satisfactory</span>
            </label>
          </div>
          <label class="radio mt-4 ml-8">
            <input name="radio" type="radio">
            <span>Unsatisfactory</span>
          </label>
        </div>
      </div>
    </ion-item>
  </div>
</ion-content>