<!-- Ticket Generation of Commercial-->
<app-header [title]="'Create Commercial Delivery Ticket'" [color]="'trucking'" *ngIf="role === 'dispatcher'">
</app-header>

<ion-content *ngIf="role === 'dispatcher'">
  <app-timer [value]="'22-22-2022'"></app-timer>
  <div class="p-4">

    <!-------- Role Dispatcher ------------>
    <div *ngIf="role === 'dispatcher'">
      <form [formGroup]="createTicketFormDispatcher">
        <ion-list>
          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Delivery Ticket # <span class="text-red-600"
                *ngIf="this.createTicketFormDispatcher.get('ticketNo').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="ticketNo" placeholder="Ticket #">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Dispatcher Name <span class="text-red-600"
                *ngIf="this.createTicketFormDispatcher.get('dispatcherName').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="dispatcherName" placeholder="Dispatcher Name">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Customer Name <span class="text-red-600"
                *ngIf="this.createTicketFormDispatcher.get('customerName').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="customerName" placeholder="Customer Name">
          </div>

          <div class="custom-file-upload">
            <label>
              <input
                class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                name="rateSheet" type="file" (change)="chooseImage($event)" multiple formControlName="uploadFile"
                accept="image/png, image/jpeg" />
              Upload Rate Sheet
            </label>
          </div>

          <ion-card class="mb-1" *ngIf="rateSheetImg.length > 0">
            <ion-grid>
              <ion-row class="flex justify-around">
                <ion-col size="6" *ngFor="let item of rateSheetImg">
                  <ion-img class="border-2" [ngStyle]="{'border-color':'#5BBE62'}" src="{{item}}"></ion-img>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Load Date <span class="text-red-600"
                *ngIf="this.createTicketFormDispatcher.get('loadDate').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="loadDate" placeholder="Load Date">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Driver Name <span class="text-red-600"
                *ngIf="this.createTicketFormDispatcher.get('driverName').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="driverName" placeholder="Driver Name">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Load # <span class="text-red-600"
                *ngIf="this.createTicketFormDispatcher.get('load').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="load" placeholder="Load #">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Rate Type <span class="text-red-600"
                *ngIf="this.createTicketFormDispatcher.get('rateType').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="rateType" placeholder="Rate Type">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Cargo <span class="text-red-600"
                *ngIf="this.createTicketFormDispatcher.get('cargo').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="cargo" placeholder="Cargo">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Origin City <span class="text-red-600"
                *ngIf="this.createTicketFormDispatcher.get('originCity').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="originCity" placeholder="Origin City">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Destination City <span class="text-red-600"
                *ngIf="this.createTicketFormDispatcher.get('destinationCity').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="destinationCity" placeholder="Destination City">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Destination State <span class="text-red-600"
                *ngIf="this.createTicketFormDispatcher.get('destinationState').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="destinationState" placeholder="Destination State">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Dispatcher Notes <span class="text-red-600"
                *ngIf="this.createTicketFormDispatcher.get('dispatcherNotes').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="dispatcherNotes" placeholder="N/A">
          </div>

          <ion-button expand="block" class="mt-5 font-Lato text-white"
            [disabled]="this.createTicketFormDispatcher.invalid" (click)="navigateDispatcher()">Generate
            Ticket
          </ion-button>
        </ion-list>
      </form>
    </div>
  </div>
</ion-content>

<!------- Role Truck Driver --------->
<app-header [title]="'Create Commercial Delivery Ticket'" [color]="'trucking'" *ngIf="role === 'truck-driver'">
</app-header>

<ion-content *ngIf="role === 'truck-driver'">
  <app-timer [value]="'22-22-2022'"></app-timer>
  <div class="p-4">
    <div>
      <form [formGroup]="createTicketFormTruckDriver">
        <ion-list>
          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Delivery Ticket #<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('deliveryTicket').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="deliveryTicket" placeholder="Ticket #">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Supervisor Name<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('supervisorName').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="supervisorName" placeholder="Supervisor Name">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Truck Driver<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('truckDriver').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="truckDriver" placeholder="Truck Driver">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Customer/Broker<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('customerName').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="customerName" placeholder="Customer Name">
          </div>

          <div class="custom-file-upload">
            <label>
              <input formControlName="rateSheetUpload" type="file" name="rateSheet" (change)="chooseImage($event)"
                multiple accept="image/png, image/jpeg" />
              Upload Rate Sheet
            </label>
          </div>

          <ion-card class="mb-1" *ngIf="rateSheetImg.length > 0">
            <ion-grid>
              <ion-row class="flex justify-around">
                <ion-col size="6" *ngFor="let item of rateSheetImg">
                  <ion-img class="border-2" [ngStyle]="{'border-color':'#5BBE62'}" src="{{item}}"></ion-img>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Load #<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('load').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="load" placeholder="Load #">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Rate Type<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('rateType').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="rateType" placeholder="Rate Type">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Rate<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('rate').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="rate" placeholder="Rate">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Cargo<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('cargo').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="cargo" placeholder="Cargo">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Origin City<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('originCity').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="originCity" placeholder="Origin City">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Destination City<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('destinationCity').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="destinationCity" placeholder="Destination City">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Destination State<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('destinationState').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="destinationState" placeholder="Destination State">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Truck #<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('truck').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="truck" placeholder="Truck #">
          </div>
          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">DHT Delivery Ticket #<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('ticket').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="ticket" placeholder="Ticket #">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Home Base (Beginning)
              Odometer Reading<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('homeBeginingOdometerReading').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="homeBeginingOdometerReading" placeholder="Odometer Reading">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Origin (Beginning)
              Odometer Reading<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('originBeginingOdometerReading').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="originBeginingOdometerReading" placeholder="Origin (Beginning) Odometer Reading">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Origin Empty
              Weight<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('originEmptyWeight').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="originEmptyWeight" placeholder="Origin Empty Weight">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Origin Loaded
              Weight<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('originLoadedWeight').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="originLoadedWeight" placeholder="Origin Loaded Weight">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Origin Weight of
              Load<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('originWeightLoad1').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="originWeightLoad1" placeholder="Origin Weight of Load">
          </div>
          <!-- Origin DOcs-->

          <div class="custom-file-upload">
            <label>
              <input
                class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                formControlName="originalDocsUpload" type="file" name="originDocs" (change)="chooseImage($event)"
                multiple accept="image/png, image/jpeg" />
              Origin Documents
            </label>
          </div>

          <ion-card class="mb-1" *ngIf="originDocs.length > 0">
            <ion-grid>
              <ion-row class="flex justify-around">
                <ion-col size="6" *ngFor="let item of originDocs">
                  <ion-img class="border-2" [ngStyle]="{'border-color':'#5BBE62'}" src="{{item}}"></ion-img>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Destination
              Ending Odometer Reading<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('destinationEndingnOdometerReading').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="destinationEndingnOdometerReading" placeholder="Destination Ending Odometer Reading">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Destination
              Loaded Weight<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('destinationLoadedWeight').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="destinationLoadedWeight" placeholder="Destination Loaded Weight">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Destination
              Empty Weight<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('destinationEmptyWeight').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="destinationEmptyWeight" placeholder="Destination Empty Weight">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Origin
              Weight of Load<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('originWeightLoad2').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="originWeightLoad2" placeholder="Origin Weight of Load">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Weight of
              Load<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('weightLoad').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="weightLoad" placeholder="Weight of Load">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Scale
              Ticket #/BOL #<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('scaleTicket').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="scaleTicket" placeholder="Scale Ticket #/BOL #">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Destination
              (Delivery Load)<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('destinationDeliveryLoad').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="destinationDeliveryLoad" placeholder="Destination (Delivery Load)">
          </div>
          <!--pics-->

          <div class="custom-file-upload">
            <label>
              <input formControlName="documentsUpload" type="file" name="customDocs" (change)="chooseImage($event)"
                multiple accept="image/png, image/jpeg" />
              Upload Documents
            </label>
          </div>

          <ion-card class="mb-1" *ngIf="customDocs.length > 0">
            <ion-grid>
              <ion-row class="flex justify-around">
                <ion-col size="6" *ngFor="let item of customDocs">
                  <ion-img class="border-2" [ngStyle]="{'border-color':'#5BBE62'}" src="{{item}}"></ion-img>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Total Trip Miles</label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              readonly placeholder="12345">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Dead-Head Miles</label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              readonly placeholder="12345">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Total Job Miles</label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              readonly placeholder="12345">
          </div>

          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Driver
              Notes<span class="text-red-600"
                *ngIf="this.createTicketFormTruckDriver.get('driverNotes').hasError('required')">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="driverNotes" placeholder="Driver Notes">
          </div>

          <ion-button expand="block" class="mt-5 font-Lato text-white"
            [disabled]="this.createTicketFormTruckDriver.invalid" (click)="navigateTruckDriver()">Save and
            Submit
          </ion-button>
        </ion-list>
      </form>
    </div>
  </div>
</ion-content>
