<app-header [title]="role.includes('Crew Chief')? 'Submit End of Day Work Data' : '' ||
  role.includes('Combine Operator')? 'Submit End of Day/Job Work Data': '' ||
  role.includes('Cart Operator')? 'Submit End of Day/Job Work Data' : '' ||
role.includes('Truck Driver')? 'Submit End of Day/Job Work Data' : ''" [color]="'harvesting'"></app-header>

<!-- Crew Chief -->
<ion-content *ngIf="role === 'Crew Chief'">
  <!-- <app-timer [value]="'22:32:43'"></app-timer> -->
  <div class="p-4">
    <div>
      <form [formGroup]="closeJobFormCrew">
        <ion-list>
          <div class="px-2">
            <div class="col-span-12 mb-4">
              <label class="block text-sm font-medium text-gray-700">Separator Hours (Ending) <span
                  *ngIf="this.closeJobFormCrew.get('ending_separator_hours').hasError('required')"
                  class="text-red-400">*</span></label>
              <input type="number"
                class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                formControlName="ending_separator_hours" placeholder="Separator Hours(Ending)">
            </div>


            <div class="col-span-12 mb-4">
              <label class="block text-sm font-medium text-gray-700">Engine Hours (Ending) <span
                  *ngIf="this.closeJobFormCrew.get('endingEngineHours').hasError('required')"
                  class="text-red-400">*</span></label>
              <input type="number"
                class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                formControlName="endingEngineHours" placeholder="Engine Hours(Ending)">
            </div>
            <ion-button expand="block" class="mt-5 font-Lato text-white"
              [disabled]="closeJobFormCrew.invalid || (loadingSpinner | async)" (click)="submit()">
              <div *ngIf="(loadingSpinner | async) === false">Save</div>
              <ion-spinner name="crescent" *ngIf="(loadingSpinner | async)"></ion-spinner>
            </ion-button>
          </div>
        </ion-list>
      </form>
    </div>
  </div>
</ion-content>

<!-- Combine-Operator -->
<ion-content *ngIf="role.includes('Combine Operator')">
  <!-- <app-timer [value]="'22:32:43'"></app-timer> -->
  <div class="p-4">

    <ion-card class="m-0 mb-2">
      <ion-card-header>
        <ion-card-title class="font-Lato">Job Profile</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="(isLoadingCustomer$ | async) === false">
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Created at</ion-col>
            <ion-col size="6" class="text-sm font-Lato">{{date | date:'MM-dd-YYYY'}}</ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Customer</ion-col>
            <ion-col size="6" class="text-sm flex font-Lato ">{{customerName}}</ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">State</ion-col>
            <ion-col size="6" class="text-sm flex font-Lato">{{state}}</ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Farm</ion-col>
            <ion-col size="6" class="text-sm flex font-Lato">{{farm}} </ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crop</ion-col>
            <ion-col size="6" class="text-sm flex font-Lato">{{crop}}</ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crew Chief</ion-col>
            <ion-col size="6" class="text-sm font-Lato">{{crewChiefName}} </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      <ion-card-content *ngIf="(isLoadingCustomer$ | async) === true">
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Customer</ion-col>
            <ion-col size="6" class="text-sm flex justify-end font-Lato ">
              <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">State</ion-col>
            <ion-col size="6" class="text-sm flex justify-end font-Lato">
              <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Farm</ion-col>
            <ion-col size="6" class="text-sm flex justify-end font-Lato">
              <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crop</ion-col>
            <ion-col size="6" class="text-sm flex justify-end font-Lato">
              <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <form [formGroup]="closeJobFormCombine">

      <div class="px-2">
        <div class="col-span-12">
          <label class="block text-sm font-medium text-gray-700">Ending Separator Hours <span
              *ngIf="this.closeJobFormCombine.get('ending_separator_hours').hasError('required')"
              class="text-red-400">*</span></label>
          <input
          type="number"
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="ending_separator_hours" placeholder="Ending Separator Hours">
        </div>
        <span *ngIf="showValidationMessage_1" class="font-Lato text-sm text-red-500 ">value should be greater than {{customerData?.workOrders[0]?.separator_hours}}</span>

        <div class="col-span-12 mt-1">
          <label class="block text-sm font-medium text-gray-700">Ending Engine Hours <span
              *ngIf="this.closeJobFormCombine.get('endingEngineHours').hasError('required')"
              class="text-red-400">*</span></label>
          <input
          type="number"
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="endingEngineHours" placeholder="Ending Engine Hours">
        </div>
        <span *ngIf="showValidationMessage_2" class="font-Lato text-sm text-red-500 ">value should be greater than {{customerData?.workOrders[0]?.engine_hours}}</span>

        <ion-button expand="block" class="mt-5 font-Lato text-white"
          [disabled]="closeJobFormCombine.invalid || (loadingSpinner | async) ||showValidationMessage_1 || showValidationMessage_2 " (click)="submit()">
          <div *ngIf="(loadingSpinner | async) === false">Save and Close-out Job</div>
          <ion-spinner name="crescent" *ngIf="(loadingSpinner | async)"></ion-spinner>
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>

<!-- Kart-Operator -->
<ion-content *ngIf="role.includes('Cart Operator')">
  <!-- <app-timer [value]="'23:22:01'"></app-timer> -->
  <div class="p-4">
    <ion-card class="m-0 mb-2">
      <ion-card-header>
        <ion-card-title class="font-Lato">Job Profile</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="(isLoadingCustomer$ | async) === false">
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Created at</ion-col>
            <ion-col size="6" class="text-sm font-Lato">{{date | date:'MM-dd-YYYY'}}</ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Customer</ion-col>
            <ion-col size="6" class="text-sm flex font-Lato ">{{customerName}}</ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">State</ion-col>
            <ion-col size="6" class="text-sm flex font-Lato">{{state}}</ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Farm</ion-col>
            <ion-col size="6" class="text-sm flex font-Lato">{{farm}} </ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crop</ion-col>
            <ion-col size="6" class="text-sm flex font-Lato">{{crop}}</ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crew Chief</ion-col>
            <ion-col size="6" class="text-sm font-Lato">{{crewChiefName}} </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      <ion-card-content *ngIf="(isLoadingCustomer$ | async) === true">
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Customer</ion-col>
            <ion-col size="6" class="text-sm flex justify-end font-Lato ">
              <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">State</ion-col>
            <ion-col size="6" class="text-sm flex justify-end font-Lato">
              <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Farm</ion-col>
            <ion-col size="6" class="text-sm flex justify-end font-Lato">
              <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crop</ion-col>
            <ion-col size="6" class="text-sm flex justify-end font-Lato">
              <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <form [formGroup]="closeJobFormKart">
      <div class="px-2">
        <div class="col-span-12">
          <label class="block text-sm font-medium text-gray-700">Enter Ending Engine Hours <span
              *ngIf="this.closeJobFormKart.get('endingEngineHours').hasError('required')"
              class="text-red-400">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            type="number" formControlName="endingEngineHours" placeholder="Enter Ending Engine Hours">
        </div>
        <span *ngIf="showValidationMessage_1" class="font-Lato text-sm text-red-500 ">value should be greater than {{customerData?.workOrders[0]?.engine_hours}}</span>


        <ion-button expand="block" class="mt-5 font-Lato text-white"
          [disabled]="closeJobFormKart.invalid || (loadingSpinner | async) || showValidationMessage_1" (click)="submit()">
          <div *ngIf="(loadingSpinner | async) === false">Save and Close-out Job</div>
          <ion-spinner name="crescent" *ngIf="(loadingSpinner | async)"></ion-spinner>
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>

<!-- Truck Driver -->
<ion-content *ngIf="role === 'Truck Driver'">
  <!-- <app-timer [value]="'23:14:12'"></app-timer> -->
  <ion-card class="m-0 mb-2">
    <ion-card-header>
      <ion-card-title class="font-Lato">Job Profile</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="(isLoadingCustomer$ | async) === false">
      <ion-grid>
        <ion-row>
          <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Created at</ion-col>
          <ion-col size="6" class="text-sm font-Lato">{{date | date:'MM-dd-YYYY'}}</ion-col>
          <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Customer</ion-col>
          <ion-col size="6" class="text-sm flex font-Lato ">{{customerName}}</ion-col>
          <ion-col size="6" class="text-sm text-black font-Lato font-semibold">State</ion-col>
          <ion-col size="6" class="text-sm flex font-Lato">{{state}}</ion-col>
          <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Farm</ion-col>
          <ion-col size="6" class="text-sm flex font-Lato">{{farm}} </ion-col>
          <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crop</ion-col>
          <ion-col size="6" class="text-sm flex font-Lato">{{crop}}</ion-col>
          <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crew Chief</ion-col>
          <ion-col size="6" class="text-sm font-Lato">{{crewChiefName}} </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-card-content *ngIf="(isLoadingCustomer$ | async) === true">
      <ion-grid>
        <ion-row>
          <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Customer</ion-col>
          <ion-col size="6" class="text-sm flex justify-end font-Lato ">
            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          </ion-col>
          <ion-col size="6" class="text-sm text-black font-Lato font-semibold">State</ion-col>
          <ion-col size="6" class="text-sm flex justify-end font-Lato">
            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          </ion-col>
          <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Farm</ion-col>
          <ion-col size="6" class="text-sm flex justify-end font-Lato">
            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          </ion-col>
          <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crop</ion-col>
          <ion-col size="6" class="text-sm flex justify-end font-Lato">
            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <div class="p-4">
    <form [formGroup]="closeJobFormTruck">
      <div class="px-2">

        <div class="col-span-12">
          <label class="block text-sm font-medium text-gray-700">Enter Ending Odometer Miles <span
              *ngIf="this.closeJobFormTruck.get('ending_odometer_miles').hasError('required')"
              class="text-red-400">*</span></label>
          <input
          type="number"
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="ending_odometer_miles" placeholder="Enter Ending Odometer Miles">
        </div>
        <span *ngIf="showValidationMessage_1" class="font-Lato text-sm text-red-500 ">value should be greater than {{customerData?.workOrders[0]?.odometer_reading_end}}</span>


        <ion-button expand="block" class="mt-5 font-Lato text-white" (click)="submit()"
          [disabled]="closeJobFormTruck.invalid || (loadingSpinner | async) || showValidationMessage_1">
          <div *ngIf="(loadingSpinner | async) === false">Save</div>
          <ion-spinner name="crescent" *ngIf="(loadingSpinner | async)"></ion-spinner>
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
