<app-header
  [title]="role ==='crew-chief'? 'Submit End of Day Work Data' : '' ||
role === 'combine-operator'? 'Submit End of Day Work Data': '' ||
role ==='kart-operator'? 'Submit End of Day Work Data' : '' ||
role ==='truck-driver'? 'Submit End of Day Work Data' : ''"
[color]="'harvesting'"
></app-header>

<!-- Crew Chief -->
<ion-content *ngIf="role === 'crew-chief'">
  <!-- <app-timer [value]="'22:32:43'"></app-timer> -->
  <div class="p-4">
    <div>
      <form [formGroup]="closeJobFormCrew">
        <ion-list>
          <div class="px-2">
            <div class="col-span-12 mb-4">
              <label class="block text-sm font-medium text-gray-700">Separator Hours (Ending) <span *ngIf="this.closeJobFormCrew.get('ending_separator_hours').hasError('required')" class="text-red-400">*</span></label>
              <input
                class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                formControlName="ending_separator_hours" placeholder="Separator Hours(Ending)">
            </div>


            <div class="col-span-12 mb-4">
              <label class="block text-sm font-medium text-gray-700">Engine Hours (Ending) <span *ngIf="this.closeJobFormCrew.get('endingEngineHours').hasError('required')" class="text-red-400">*</span></label>
              <input
                class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                formControlName="endingEngineHours" placeholder="Engine Hours(Ending)">
            </div>
            <ion-button expand="block" class="mt-5 font-Lato text-white"
            [disabled]="closeJobFormCrew.invalid"
            (click)="submit()"
              >Save</ion-button
            >
          </div>
        </ion-list>
      </form>
    </div>
  </div>
</ion-content>

<!-- Combine-Operator -->
<ion-content *ngIf="role === 'combine-operator'">
  <!-- <app-timer [value]="'22:32:43'"></app-timer> -->
  <div class="p-4">

    <ion-card class="m-0 mb-2">
      <ion-card-header>
        <ion-card-title class="font-Lato">Customer Profile</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="(isLoadingCustomer$ | async) === false">
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Customer Name</ion-col>
            <ion-col size="6" class="text-sm flex font-Lato ">{{this.customerData.workOrders[0].customer_name}}</ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">State</ion-col>
            <ion-col size="6" class="text-sm flex font-Lato">{{this.customerData.workOrders[0].state}}</ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Farm</ion-col>
            <ion-col size="6" class="text-sm flex font-Lato">{{this.customerData.workOrders[0].farm_name}} </ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crop</ion-col>
            <ion-col size="6" class="text-sm flex font-Lato">{{this.customerData.workOrders[0].crop_name}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      <ion-card-content *ngIf="(isLoadingCustomer$ | async) === true">
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Customer Name</ion-col>
            <ion-col size="6" class="text-sm flex justify-end font-Lato ">
              <ion-skeleton-text  [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">State</ion-col>
            <ion-col size="6" class="text-sm flex justify-end font-Lato">
              <ion-skeleton-text  [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Farm</ion-col>
            <ion-col size="6" class="text-sm flex justify-end font-Lato">
               <ion-skeleton-text  [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato font-semibold">Crop</ion-col>
            <ion-col size="6" class="text-sm flex justify-end font-Lato">
                     <ion-skeleton-text  [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <form [formGroup]="closeJobFormCombine">
      <div class="px-2">
          <div class="col-span-12 mb-4">
            <label class="block text-sm font-medium text-gray-700">Ending Separator Hours <span *ngIf="this.closeJobFormCombine.get('ending_separator_hours').hasError('required')" class="text-red-400">*</span></label>
            <input
              class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              formControlName="ending_separator_hours" placeholder="Ending Separator Hours">
          </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Ending Engine Hours <span *ngIf="this.closeJobFormCombine.get('endingEngineHours').hasError('required')" class="text-red-400">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="endingEngineHours" placeholder="Ending Engine Hours">
      </div>
      <ion-button expand="block" class="mt-5 font-Lato text-white"
      [disabled]="closeJobFormCombine.invalid"
      (click)="submit()"
      >Save and Close-out Job</ion-button
      >
    </div>
  </form>
  </div>
</ion-content>

<!-- Kart-Operator -->
<ion-content *ngIf="role === 'kart-operator'">
  <!-- <app-timer [value]="'23:22:01'"></app-timer> -->
  <div class="p-4">
    <form [formGroup]="closeJobFormKart">
      <div class="px-2">

        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Enter Ending Engine Hours <span *ngIf="this.closeJobFormKart.get('endingEngineHours').hasError('required')" class="text-red-400">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="endingEngineHours" placeholder="Enter Ending Engine Hours">
        </div>

        <ion-button expand="block" class="mt-5 font-Lato text-white"
        [disabled]="closeJobFormKart.invalid"
         (click)="submit()">Save and Close-out Job</ion-button>
      </div>
    </form>
  </div>
</ion-content>

<!-- Truck Driver -->
<ion-content *ngIf="role === 'truck-driver'">
  <!-- <app-timer [value]="'23:14:12'"></app-timer> -->
  <div class="p-4">
    <form [formGroup]="closeJobFormTruck">
      <div class="px-2">

        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Enter Ending Odometer Miles <span *ngIf="this.closeJobFormTruck.get('ending_odometer_miles').hasError('required')" class="text-red-400">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="ending_odometer_miles" placeholder="Enter Ending Odometer Miles">
        </div>

        <ion-button expand="block" class="mt-5 font-Lato text-white" (click)="submit()" [disabled]="closeJobFormTruck.invalid">Save</ion-button
        >
      </div>
    </form>
  </div>
</ion-content>
