<app-header [title]="'Pre-Trip Check Digital Evaluation Form'" [color]="'training'" [routeValue]="'pre-trip'"></app-header>


<ion-content>
  <!-- <app-timer [value]="'01:23:45'"></app-timer> -->
  <div class="mx-4 my-2">
    <ion-progress-bar class="mb-2" [buffer]="buffer" [value]="progress" ></ion-progress-bar>
    <ion-text class="text-lg font-semibold justify-start flex font-Lato text-black ">{{progress * 5}} of 5 Categories Completed</ion-text>
  </div>
  <div class="mt-2 ml-3">
    <ion-text class="font-semibold font-Lato text-9B9BA4 text-xl">Coupling</ion-text>
</div>
<form [formGroup]="preTripForm">
  <div class="mx-4">
    <div class="flex justify-between items-center my-3">
     <ion-text class="font-Lato font-medium">Air Connectors</ion-text>
      <ion-checkbox slot="start" formControlName="airConditioners"></ion-checkbox>
    </div>
    <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium" >Electric Connectors</ion-text>
       <ion-checkbox slot="start" formControlName="electricConnectors"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Mounting Bolts</ion-text>
       <ion-checkbox slot="start" formControlName="mountingBolts"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Platform Base</ion-text>
       <ion-checkbox slot="start" formControlName="platformBase"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Locking Jaws</ion-text>
       <ion-checkbox slot="start" formControlName="lockingJaws"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Grease</ion-text>
       <ion-checkbox slot="start" formControlName="grease"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Release Arm</ion-text>
       <ion-checkbox slot="start" formControlName="releaseArm"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Skid Plate</ion-text>
       <ion-checkbox slot="start" formControlName="skidPlate"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Sliding Pins</ion-text>
       <ion-checkbox slot="start" formControlName="slidingPins"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">King Pin</ion-text>
       <ion-checkbox slot="start" formControlName="kingPin"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Apron</ion-text>
       <ion-checkbox slot="start" formControlName="apron"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Gap</ion-text>
       <ion-checkbox slot="start" formControlName="gap"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Air Line</ion-text>
       <ion-checkbox slot="start" formControlName="airLine"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Location</ion-text>
       <ion-checkbox slot="start" formControlName="location"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Safety Devices(T)</ion-text>
       <ion-checkbox slot="start" formControlName="safetyDevices"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Print (T)</ion-text>
       <ion-checkbox slot="start" formControlName="print"></ion-checkbox>
     </div>
     <div class="flex justify-between items-center my-3">
      <ion-text class="font-Lato font-medium">Draw Bar (T)</ion-text>
       <ion-checkbox slot="start" formControlName="drawBar"></ion-checkbox>
     </div>
     <ion-text class="text-sm font-semibold font-Lato text-black mt-2">Add Comments</ion-text>
       <ion-textarea [autoGrow]="true"
       formControlName="commentsCoupling"
       class="border-2 rounded-lg my-2 px-1"
       placeholder="Add your comments here">
       </ion-textarea>
  </div>
  <div class="ion-text-center my-5">
    <ion-text class="bg-3D8AA4 bg-opacity-10 text-3D8AA4 font-medium font-Lato border-2 border-opacity-60 rounded-lg border-3D8AA4 px-5 py-2">Score = {{result}}%</ion-text>
   </div>
  <ion-button expand="block"
  [disabled]="loadingSpinner | async"
  class="close-out-button font-Lato mb-4 mt-0 mx-8 bg-opacity-10 text-white"
  (click)="submit()">
  <div *ngIf="(loadingSpinner | async) === false">Next</div>
  <ion-spinner name="crescent" *ngIf="(loadingSpinner | async)"></ion-spinner></ion-button>

</form>
</ion-content>
