ion-card-header {
    background-color: #3D8AA4;

    ion-card-title {
        color: white;
    }
}

ion-card-content {
    display: initial;
}

ion-col {
    display: flex;
    justify-content: space-around;
}

.font-14 {
    font-size: 14px !important;
}
.custom-file-upload {
  border: 1px solid #5BBE62;
  margin-top: 1.5rem;
  margin-left: 1rem;
  height: 3rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}
