<!-- Ticket Generation of Commercial-->
<app-header [title]="'Verify Ticket'" [color]="'trucking'"></app-header>

<ion-content>
  <app-timer [value]="'22-22-2022'"></app-timer>
   <!----------- Role Truck Driver ------------>
   <form [formGroup]="createFormTruckCommercial" *ngIf="role === 'truck-driver'">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Delivery Ticket #</ion-label>
        <ion-input formControlName="deliveryTicket" placeholder="Ticket #" readonly></ion-input>
      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('deliveryTicket').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Delivery ticket required</ion-text>
      <ion-item>
        <ion-label position="floating">Supervisor Name</ion-label>
        <ion-input formControlName="supervisorName" placeholder="Supervisor Name"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('supervisorName').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Supervisor name required</ion-text>
      <ion-item>
        <ion-label position="floating">Truck Driver</ion-label>
        <ion-input formControlName="truckDriver" placeholder="Truck Driver"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('truckDriver').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Truck driver required</ion-text>
      <ion-item>
        <ion-label position="floating">Customer Name</ion-label>
        <ion-input formControlName="customerName" placeholder="Customer Name"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('customerName').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Customer name required</ion-text>

      <div class="custom-file-upload">
        <label>
          <input formControlName="rateSheetUpload" type="file" name="rateSheet" (change)="chooseImage($event)" multiple
            accept="image/png, image/jpeg" />
          Upload Rate Sheet
        </label>
      </div>

      <ion-card class="mb-1" *ngIf="rateSheetImg.length > 0">
        <ion-grid>
          <ion-row class="flex justify-around">
            <ion-col size="6" *ngFor="let item of rateSheetImg">
              <ion-img class="border-2" [ngStyle]="{'border-color':'#5BBE62'}" src="{{item}}"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

      <ion-item>
        <ion-label position="floating">Load #</ion-label>
        <ion-input formControlName="load" placeholder="Load #"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('load').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Load required</ion-text>
      <ion-item>
        <ion-label position="floating">Rate Type</ion-label>
        <ion-input formControlName="rateType" placeholder="Rate Type"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('rateType').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Rate Type required</ion-text>
      <ion-item>
        <ion-label position="floating">Rate</ion-label>
        <ion-input formControlName="rate" placeholder="Rate"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('rate').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Rate is required</ion-text>
      <ion-item>
        <ion-label position="floating">Cargo</ion-label>
        <ion-input formControlName="cargo" placeholder="Cargo"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('cargo').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Cargo required</ion-text>
      <ion-item>
        <ion-label position="floating">Origin City</ion-label>
        <ion-input formControlName="originCity" placeholder="Origin City"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('originCity').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Origin city required</ion-text>
      <ion-item>
        <ion-label position="floating">Destination City</ion-label>
        <ion-input formControlName="destinationCity" placeholder="Destination City"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('destinationCity').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Destination city required</ion-text>
      <ion-item>
        <ion-label position="floating">Destination State</ion-label>
        <ion-input formControlName="destinationState" placeholder="Destination State"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('destinationState').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Destination state required</ion-text>
      <ion-item>
        <ion-label position="floating">Truck #</ion-label>
        <ion-input formControlName="truck" placeholder="Truck #"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('truck').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Truck required</ion-text>
      <ion-item>
        <ion-label position="floating">Ticket #</ion-label>
        <ion-input formControlName="ticket" placeholder="Ticket #"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('ticket').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Ticket required</ion-text>
      <ion-item>
        <ion-label position="floating">Home Base (Beginning) Odometer Reading</ion-label>
        <ion-input formControlName="homeBeginingOdometerReading" placeholder="Odometer Reading"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('homeBeginingOdometerReading').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Home base (begining) odometer reading required</ion-text>
      <ion-item>
        <ion-label position="floating">Origin (Beginning) Odometer Reading</ion-label>
        <ion-input formControlName="originBeginingOdometerReading" placeholder="Origin (Beginning) Odometer Reading"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('originBeginingOdometerReading').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Origin (begining) odometer required</ion-text>
      <ion-item>
        <ion-label position="floating">Origin Empty Weight</ion-label>
        <ion-input formControlName="originEmptyWeight" placeholder="Origin Empty Weight"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('originEmptyWeight').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Origin empty weight required</ion-text>
      <ion-item>
        <ion-label position="floating">Origin Loaded Weight</ion-label>
        <ion-input formControlName="originLoadedWeight" placeholder="Origin Loaded Weight"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('originLoadedWeight').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Origin loaded weight required</ion-text>
      <ion-item>
        <ion-label position="floating">Origin Weight of Load 1</ion-label>
        <ion-input formControlName="originWeightLoad1" placeholder="Origin Weight of Load"></ion-input>
        <ion-text *ngIf="this.createFormTruckCommercial.get('originWeightLoad1').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Origin weight of load 1 required</ion-text>

      </ion-item>
      <!-- Origin DOcs-->

      <div class="custom-file-upload">
        <label>
          <input  formControlName="originalDocsUpload" type="file" name="originDocs" (change)="chooseImage($event)" multiple
            accept="image/png, image/jpeg" />
          Origin Documents
        </label>
      </div>

      <ion-card class="mb-1" *ngIf="originDocs.length > 0">
        <ion-grid>
          <ion-row class="flex justify-around">
            <ion-col size="6" *ngFor="let item of originDocs">
              <ion-img class="border-2" [ngStyle]="{'border-color':'#5BBE62'}" src="{{item}}"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

      <ion-item>
        <ion-label position="floating">Destination Ending Odometer Reading</ion-label>
        <ion-input formControlName="destinationEndingnOdometerReading" placeholder="Destination Ending Odometer Reading"></ion-input>

        <ion-text *ngIf="this.createFormTruckCommercial.get('destinationEndingnOdometerReading').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Destination ending odometer required</ion-text>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Destination Loaded Weight</ion-label>
        <ion-input formControlName="destinationLoadedWeight" placeholder="Destination Loaded Weight"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('destinationLoadedWeight').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Destination loaded weight required</ion-text>
      <ion-item>
        <ion-label position="floating">Destination Empty Weight</ion-label>
        <ion-input formControlName="destinationEmptyWeight" placeholder="Destination Empty Weight"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('destinationEmptyWeight').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Destination empty weight required</ion-text>
      <ion-item>
        <ion-label position="floating">Origin Weight of Load</ion-label>
        <ion-input formControlName="originWeightLoad2" placeholder="Origin Weight of Load"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('originWeightLoad2').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Origin weight of load required</ion-text>
      <ion-item>
        <ion-label position="floating">Weight of Load</ion-label>
        <ion-input formControlName="weightLoad" placeholder="Weight of Load"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('weightLoad').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Weight of load required</ion-text>
      <ion-item>
        <ion-label position="floating">Scale Ticket #/BOL #</ion-label>
        <ion-input formControlName="scaleTicket" placeholder="Scale Ticket #/BOL #"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('scaleTicket').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Scale ticket #/BOL required</ion-text>
      <ion-item>
        <ion-label position="floating">Destination (Delivery Load)</ion-label>
        <ion-input formControlName="destinationDeliveryLoad" placeholder="Destination (Delivery Load)"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('destinationDeliveryLoad').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Destination (delivey load) required</ion-text>
      <!--pics-->
      <div class="custom-file-upload">
        <label>
          <input formControlName="documentsUpload" type="file" name="customDocs" (change)="chooseImage($event)" multiple
            accept="image/png, image/jpeg" />
          Upload Documents
        </label>
      </div>

      <ion-card class="mb-1" *ngIf="customDocs.length > 0">
        <ion-grid>
          <ion-row class="flex justify-around">
            <ion-col size="6" *ngFor="let item of customDocs">
              <ion-img class="border-2" [ngStyle]="{'border-color':'#5BBE62'}" src="{{item}}"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

      <ion-item>
        <ion-label position="floating">Total Trip Miles</ion-label>
        <ion-input formControlName="totalTripMiles" placeholder="Total Trip Miles"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('totalTripMiles').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Total trip miles required</ion-text>
      <ion-item>
        <ion-label position="floating">Dead-Head Miles</ion-label>
        <ion-input formControlName="deadHeadMiles" placeholder="Dead-Head Miles"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('deadHeadMiles').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Dead head miles required</ion-text>
      <ion-item>
        <ion-label position="floating">Total Job Miles</ion-label>
        <ion-input formControlName="totalJobMiles" placeholder="Total Job Miles"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('totalJobMiles').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Total job miles required</ion-text>
      <ion-item>
        <ion-label position="floating">Driver Notes</ion-label>
        <ion-input formControlName="driverNotes" placeholder="Driver Notes"></ion-input>

      </ion-item>
      <ion-text *ngIf="this.createFormTruckCommercial.get('driverNotes').hasError('required')" class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Driver notes required</ion-text>
      <ion-button expand="block" class="mt-5 font-Lato text-white"
      (click)="submit()"
       [disabled]="this.createFormTruckCommercial.invalid">Save and
        Submit
      </ion-button>
    </ion-list>
  </form>


  <ion-card>
    <ion-card-header>
      <ion-card-title class="flex justify-center text-xl font-Lato">Commercial Delivery Ticket</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <!--------Role Dispatcher ------------->
      <ion-grid *ngIf="role === 'dispatcher'">

        <!-- First Row -->
        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Ticket #</p>
            <span class="font-Lato font-14">12345</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Dispatcher</p>
            <span class="font-Lato font-14">Mike Allen</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Customer</p>
            <span class="font-Lato font-14">Mike</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Driver</p>
            <span class="font-Lato font-14">Mike Allen</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Load Date</p>
            <span class="font-Lato font-14">11-12-2022</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Load #</p>
            <span class="font-Lato font-14">12345</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Origin City</p>
            <span class="font-Lato font-14">Mike</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Destination State</p>
            <span class="font-Lato font-14">Mike Allen</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Destination City</p>
            <span class="font-Lato font-14">Mike</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Cargo</p>
            <span class="font-Lato font-14">Mike Allen</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Truck #</p>
            <span class="font-Lato font-14">1234</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Home BOR</p>
            <span class="font-Lato font-14">Mike Allen</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Origin Empty Weight</p>
            <span class="font-Lato font-14">12321</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Rate Type</p>
            <span class="font-Lato font-14">Type</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Desgination BOR</p>
            <span class="font-Lato font-14">Mike</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Origin Loaded Weight</p>
            <span class="font-Lato font-14">123</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Origin Weight of Load</p>
            <span class="font-Lato font-14">12345</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Origin BOR</p>
            <span class="font-Lato font-14">Mike Allen</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Total Trip Miles</p>
            <span class="font-Lato font-14">12355</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Dead Head Miles</p>
            <span class="font-Lato font-14">1234</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Dispatcher Notes</p>
            <span class="font-Lato font-14">N/A</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Total Job Miles</p>
            <span class="font-Lato font-14">1234</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Destination Empty Weight</p>
            <span class="font-Lato font-14">1234</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Destination Loaded Weight</p>
            <span class="font-Lato font-14">123435</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Destination (Delivery Load)</p>
            <span class="font-Lato font-14">12345</span>
          </ion-col>
        </ion-row>

        <!-- Second Row -->

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="12" class="flex flex-col ">
            <span class="font-Lato font-14">Load Rate Sheet (Pictures)</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="4">
            <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"></ion-img>
          </ion-col>
          <ion-col size="4">
            <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"></ion-img>
          </ion-col>
          <ion-col size="4">
            <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button expand="block" class="mt-5 font-Lato  text-white"
        (click)="navigateTo('/tabs/home/trucking/commercial')">Verify
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
