<!-- Ticket Generation of Commercial-->
<app-header [title]="'Verify Commercial Ticket'" [color]="'trucking'" *ngIf="role === 'dispatcher'"></app-header>

<ion-content *ngIf="role === 'dispatcher'">
  <app-timer [value]="'22-22-2022'"></app-timer>

  <!--------Role Dispatcher ------------->
  <ion-grid>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="flex justify-center text-xl font-Lato">Commercial Delivery Ticket</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- First Row -->
        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Ticket #</p>
            <span class="font-Lato font-14">12345</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Dispatcher</p>
            <span class="font-Lato font-14">Mike Allen</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Customer</p>
            <span class="font-Lato font-14">Mike</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Driver</p>
            <span class="font-Lato font-14">Mike Allen</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Load Date</p>
            <span class="font-Lato font-14">11-12-2022</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Load #</p>
            <span class="font-Lato font-14">12345</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Origin City</p>
            <span class="font-Lato font-14">Mike</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Destination State</p>
            <span class="font-Lato font-14">Mike Allen</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Destination City</p>
            <span class="font-Lato font-14">Mike</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Cargo</p>
            <span class="font-Lato font-14">Mike Allen</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Truck #</p>
            <span class="font-Lato font-14">1234</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Home BOR</p>
            <span class="font-Lato font-14">Mike Allen</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Origin Empty Weight</p>
            <span class="font-Lato font-14">12321</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Rate Type</p>
            <span class="font-Lato font-14">Type</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Desgination BOR</p>
            <span class="font-Lato font-14">Mike</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Origin Loaded Weight</p>
            <span class="font-Lato font-14">123</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Origin Weight of Load</p>
            <span class="font-Lato font-14">12345</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Origin BOR</p>
            <span class="font-Lato font-14">Mike Allen</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Total Trip Miles</p>
            <span class="font-Lato font-14">12355</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Dead Head Miles</p>
            <span class="font-Lato font-14">1234</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Dispatcher Notes</p>
            <span class="font-Lato font-14">N/A</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Total Job Miles</p>
            <span class="font-Lato font-14">1234</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Destination Empty Weight</p>
            <span class="font-Lato font-14">1234</span>
          </ion-col>
          <ion-col size="6" class="flex flex-col  ">
            <p class="font-Lato text-black font-bold font-14">Destination Loaded Weight</p>
            <span class="font-Lato font-14">123435</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="6" class="flex flex-col ">
            <p class="font-Lato text-black font-bold font-14">Destination (Delivery Load)</p>
            <span class="font-Lato font-14">12345</span>
          </ion-col>
        </ion-row>

        <!-- Second Row -->

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="12" class="flex flex-col ">
            <span class="font-Lato font-14">Load Rate Sheet (Pictures)</span>
          </ion-col>
        </ion-row>

        <ion-row class="h-20 flex content-center pl-4">
          <ion-col size="4">
            <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"></ion-img>
          </ion-col>
          <ion-col size="4">
            <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"></ion-img>
          </ion-col>
          <ion-col size="4">
            <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"></ion-img>
          </ion-col>
        </ion-row>

        <ion-button expand="block" class="mt-5 font-Lato  text-white"
          (click)="navigateTo('/tabs/home/trucking/commercial')">
          Verify
        </ion-button>

      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>

<!----------- Role Truck Driver ------------>
<app-header [title]="'Existing Delivery Ticket'" [color]="'trucking'" *ngIf="role === 'truck-driver'"></app-header>

<ion-content *ngIf="role === 'truck-driver'">
  <app-timer [value]="'22-22-2022'"></app-timer>
  <form class="p-4" [formGroup]="createFormTruckCommercial">

    <ion-list>
      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Truck #<span class="text-red-600"
            *ngIf="this.createFormTruckCommercial.get('truck').hasError('required')">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="truck" placeholder="Truck #">
      </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Delivery Ticket #<span class="text-red-600"
            *ngIf="this.createFormTruckCommercial.get('ticket').hasError('required')">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="ticket" placeholder="Ticket #">
      </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Home Base (Beginning) Odometer Reading<span
            class="text-red-600"
            *ngIf="this.createFormTruckCommercial.get('homeBeginingOdometerReading').hasError('required')">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="homeBeginingOdometerReading" placeholder="Odometer Reading">
      </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Origin (Beginning) Odometer Reading<span
            class="text-red-600"
            *ngIf="this.createFormTruckCommercial.get('originBeginingOdometerReading').hasError('required')">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="originBeginingOdometerReading" placeholder="Origin (Beginning) Odometer Reading">

      </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Origin Empty Weight<span class="text-red-600"
            *ngIf="this.createFormTruckCommercial.get('originEmptyWeight').hasError('required')">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="originEmptyWeight" placeholder="Origin Empty Weight">
      </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Origin Loaded Weight<span class="text-red-600"
            *ngIf="this.createFormTruckCommercial.get('originLoadedWeight').hasError('required')">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="originLoadedWeight" placeholder="Origin Empty Weight">
      </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Origin Weight of Load<span class="text-red-600"
            *ngIf="this.createFormTruckCommercial.get('originWeightLoad').hasError('required')">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="originWeightLoad" placeholder="Origin Weight of Load">
      </div>

      <!-- Origin Docs Start-->
      <label class="block text-sm font-medium text-gray-700">Origin Documents</label>

      <div class="mt-4 mb-4">
        <ion-row class="h-20 flex content-center p-4">
          <ion-col size="4">
            <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"></ion-img>
          </ion-col>
          <ion-col size="4">
            <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"></ion-img>
          </ion-col>
          <ion-col size="4">
            <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"></ion-img>
          </ion-col>
        </ion-row>
      </div>
      <!-- Origin Docs End-->

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Destination Ending Odometer Reading<span
            class="text-red-600"
            *ngIf="this.createFormTruckCommercial.get('destinationEndingnOdometerReading').hasError('required')">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="destinationEndingnOdometerReading" placeholder="Destination Ending Odometer Reading">
      </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Destination Loaded Weight<span class="text-red-600"
            *ngIf="this.createFormTruckCommercial.get('destinationLoadedWeight').hasError('required')">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="destinationLoadedWeight" placeholder="Destination Loaded Weight">

      </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Destination Empty Weight<span class="text-red-600"
            *ngIf="this.createFormTruckCommercial.get('destinationEmptyWeight').hasError('required')">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="destinationEmptyWeight" placeholder="Destination Empty Weight">

      </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Weight of Load<span class="text-red-600"
            *ngIf="this.createFormTruckCommercial.get('weightLoad').hasError('required')">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="weightLoad" placeholder="Weight of Load">
      </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Scale Ticket #/BOL #<span class="text-red-600"
            *ngIf="this.createFormTruckCommercial.get('scaleTicket').hasError('required')">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="scaleTicket" placeholder="Scale Ticket #/BOL #">
      </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Destination (Delivery Load)<span class="text-red-600"
            *ngIf="this.createFormTruckCommercial.get('destinationDeliveryLoad').hasError('required')">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="destinationDeliveryLoad" placeholder="Destination (Delivery Load)">

      </div>

      <!-- Origin Docs Start-->
      <label class="block text-sm font-medium text-gray-700">Origin Documents</label>

      <div class="mt-4 mb-4">
        <ion-row class="h-20 flex content-center p-4">
          <ion-col size="4">
            <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"></ion-img>
          </ion-col>
          <ion-col size="4">
            <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"></ion-img>
          </ion-col>
          <ion-col size="4">
            <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"></ion-img>
          </ion-col>
        </ion-row>
      </div>
      <!-- Origin Docs End-->

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Total Trip Miles</label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          readonly placeholder="12345">
      </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Dead Head Miles</label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          readonly placeholder="12345">
      </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Total Job Miles</label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          readonly placeholder="12345">
      </div>

      <div class="col-span-12 mb-4">
        <label class="block text-sm font-medium text-gray-700">Driver Notes<span class="text-red-600"
            *ngIf="this.createFormTruckCommercial.get('driverNotes').hasError('required')">*</span></label>
        <input
          class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          formControlName="driverNotes" placeholder="Driver Notes">
      </div>

      <ion-button expand="block" class="mt-5 font-Lato text-white" (click)="submit()"
        [disabled]="this.createFormTruckCommercial.invalid">Save
        and
        Submit
      </ion-button>
    </ion-list>
  </form>
</ion-content>
