ion-card-header {
    background-color: #3D8AA4;

    ion-card-title {
        color: white;
    }
}

ion-card-content {
    display: initial;
}

ion-col {
    display: flex;
    justify-content: space-around;
}

.font-14 {
    font-size: 14px !important;
}

.font-16 {
    font-size: 16px !important;
}
