ion-header {
    ion-toolbar {
        --background: #264f3a;
        color: #fff;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 6px 0px;

        ion-icon {
            zoom: 1.8;
        }
    }
}

.segment-style {
    ion-segment {
        --background: #264f3a;

        ion-segment-button {
            min-width: unset;
            color: #9dceae;
            --border-color: none;
            --indicator-color: none;
            --indicator-box-shadow: 0px 0px 0px 2px #ffffff !important;
            --border-radius: 5px !important;
            font-family: 'Lato';

            ion-label {
                font-size: 12px;
            }
        }
    }

    .segment-button-checked {
        color: #ffffff !important;
    }
}