<app-header [title]="'Change Field'" [color]="'farming'"></app-header>

<ion-content>
  <app-timer [value]="'12-10-2022'"> </app-timer>
  <div class="p-4">
    <ion-card class="m-0 mb-2">
      <ion-card-header>
        <ion-card-title class="font-Lato">Customer Profile</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="text-sm text-black font-Lato">Customer Name</ion-col>
            <ion-col size="6" class="text-sm flex justify-end font-Lato">Mike Allen</ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato">State</ion-col>
            <ion-col size="6" class="text-sm flex justify-end font-Lato">Arizona</ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato">Crop</ion-col>
            <ion-col size="6" class="text-sm flex justify-end font-Lato">Corn</ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato">Farm</ion-col>
            <ion-col size="6" class="text-sm flex justify-end font-Lato">Dakota </ion-col>
            <ion-col size="6" class="text-sm text-black font-Lato">Field</ion-col>
            <ion-col size="6" class="text-sm flex justify-end font-Lato">Field 1 </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <form [formGroup]="changeField">
      <div>
        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Field Name</label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="fieldId" placeholder="Enter Field Name">
          <ion-text *ngIf="this.changeField.get('fieldId').hasError('required')"
            class="mt-2 text-sm text-red-600">Field Name is required</ion-text>
        </div>

        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">GPS Acres Completed (for prior field)</label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="gpsAcresCompleted" placeholder="Enter GPS Acres Completed">
          <ion-text *ngIf="this.changeField.get('gpsAcresCompleted').hasError('required')"
            class="mt-2 text-sm text-red-600">GPS Acres are required</ion-text>
        </div>

      </div>
      <ion-button [disabled]="this.changeField.invalid" expand="block" class="mt-5 font-Lato text-white"
        (click)="navigateTo()">Save</ion-button>
    </form>
  </div>
</ion-content>
