<app-header [title]="'Complete Existing Work Orders'" [color]="'farming'"></app-header>

<ion-content>
  <app-timer [value]="'12-10-2022'"> </app-timer>
  <form [formGroup]="completeExistingWorkOrder">
    <div class="p-4">
      <div>

        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Machinery ID<span class="text-red-600"
              *ngIf="this.completeExistingWorkOrder.get('machineryID').hasError('required')">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="machineryID" placeholder="Enter Machinery ID">
        </div>

        <div class="col-span-12 mb-4">
          <label class="block text-sm font-medium text-gray-700">Confirm Begining Engine Hours<span class="text-red-600"
              *ngIf="this.completeExistingWorkOrder.get('cBeginningEngineHours').hasError('required')">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="cBeginningEngineHours" placeholder="Enter Engine Hours">
        </div>

        <div class="col-span-12 mb-4"> <label class="block text-sm font-medium text-gray-700">Work Order #<span
              class="text-red-600"
              *ngIf="this.completeExistingWorkOrder.get('workOrderId').hasError('required')">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="workOrderId" placeholder="Enter Work Order">
        </div>

        <div class="col-span-12 mb-4"> <label class="block text-sm font-medium text-gray-700">Dispatcher<span
              class="text-red-600"
              *ngIf="this.completeExistingWorkOrder.get('dispatcherId').hasError('required')">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="dispatcherId" placeholder="Enter Dispatcher">
        </div>

        <div class="col-span-12 mb-4"> <label class="block text-sm font-medium text-gray-700">Customer<span
              class="text-red-600"
              *ngIf="this.completeExistingWorkOrder.get('customerId').hasError('required')">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="customerId" placeholder="Enter Customer">
        </div>

        <div class="col-span-12 mb-4"> <label class="block text-sm font-medium text-gray-700">Farm<span
              class="text-red-600"
              *ngIf="this.completeExistingWorkOrder.get('farmId').hasError('required')">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="farmId" placeholder="Enter Farm Name">
        </div>

        <div class="col-span-12 mb-4"> <label class="block text-sm font-medium text-gray-700">Field<span
              class="text-red-600"
              *ngIf="this.completeExistingWorkOrder.get('fieldId').hasError('required')">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="fieldId" placeholder="Enter Field Name">
        </div>

        <div class="col-span-12 mb-4"> <label class="block text-sm font-medium text-gray-700">Service<span
              class="text-red-600"
              *ngIf="this.completeExistingWorkOrder.get('service').hasError('required')">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="service" placeholder="Enter Service">
        </div>

        <div class="col-span-12 mb-4"> <label class="block text-sm font-medium text-gray-700">Tractor Driver<span
              class="text-red-600"
              *ngIf="this.completeExistingWorkOrder.get('tractorDriverId').hasError('required')">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="tractorDriverId" placeholder="Enter Tractor Driver">
        </div>

        <div class="col-span-12 mb-4"> <label class="block text-sm font-medium text-gray-700">Field Address (if
            known)<span class="text-red-600"
              *ngIf="this.completeExistingWorkOrder.get('fieldAddress').hasError('required')">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="fieldAddress" placeholder="Enter Field Address">
        </div>

        <div class="col-span-12 mb-4"> <label class="block text-sm font-medium text-gray-700">Customer Phone<span
              class="text-red-600"
              *ngIf="this.completeExistingWorkOrder.get('phone').hasError('required')">*</span></label>
          <input
            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            formControlName="phone" placeholder="Enter Customer Phone">
        </div>

      </div>
      <ion-button [disabled]="this.completeExistingWorkOrder.invalid" expand="block" class="mt-5 font-Lato text-white"
        (click)="navigateTo('/tabs/home/farming')">Generate Ticket
      </ion-button>
    </div>
  </form>
</ion-content>
