<app-header [title]="'Complete Existing Work Orders'" [color]="'farming'"></app-header>

<ion-content>
  <app-timer [value]="'12-10-2022'"> </app-timer>
  <form [formGroup]="completeExistingWorkOrder">
    <div class="p-4">
      <div>
        <ion-item>
          <ion-label position="floating">Machinery ID</ion-label>
          <ion-input formControlName="machineryID" placeholder="Enter Machinery ID"></ion-input>
        </ion-item>
        <ion-text *ngIf="this.completeExistingWorkOrder.get('machineryID').hasError('required')"
          class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Machinery ID required</ion-text>

        <ion-item>
          <ion-label position="floating">Confirm Begining Engine Hours</ion-label>
          <ion-input formControlName="cBeginningEngineHours" placeholder="Enter Engine Hours"></ion-input>
        </ion-item>
        <ion-text *ngIf="this.completeExistingWorkOrder.get('cBeginningEngineHours').hasError('required')"
          class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Confirm Beginning Engine Hours required
        </ion-text>

        <ion-item>
          <ion-label position="floating">Work Order #</ion-label>
          <ion-input formControlName="workOrderNum" placeholder="Enter Work Order"></ion-input>
        </ion-item>
        <ion-text *ngIf="this.completeExistingWorkOrder.get('workOrderNum').hasError('required')"
          class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Worder Order # required</ion-text>

        <ion-item>
          <ion-label position="floating">Dispatcher</ion-label>
          <ion-input formControlName="dispatcher" placeholder="Enter Dispatcher"></ion-input>
        </ion-item>
        <ion-text *ngIf="this.completeExistingWorkOrder.get('dispatcher').hasError('required')"
          class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Dispatcher required</ion-text>

        <ion-item>
          <ion-label position="floating">Customer</ion-label>
          <ion-input formControlName="customer" placeholder="Enter Customer"></ion-input>
        </ion-item>
        <ion-text *ngIf="this.completeExistingWorkOrder.get('customer').hasError('required')"
          class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Customer required</ion-text>

        <ion-item>
          <ion-label position="floating">Farm</ion-label>
          <ion-input formControlName="farm" placeholder="Enter Farm Name"></ion-input>
        </ion-item>
        <ion-text *ngIf="this.completeExistingWorkOrder.get('farm').hasError('required')"
          class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Farm required</ion-text>

        <ion-item>
          <ion-label position="floating">Field</ion-label>
          <ion-input formControlName="field" placeholder="Enter Field Name"></ion-input>
        </ion-item>
        <ion-text *ngIf="this.completeExistingWorkOrder.get('field').hasError('required')"
          class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Field required</ion-text>

        <ion-item>
          <ion-label position="floating">Service</ion-label>
          <ion-input formControlName="service" placeholder="Enter Service"></ion-input>
        </ion-item>
        <ion-text *ngIf="this.completeExistingWorkOrder.get('service').hasError('required')"
          class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Service required</ion-text>

        <ion-item>
          <ion-label position="floating">Tractor Driver</ion-label>
          <ion-input formControlName="tractorDriver" placeholder="Enter Tractor Driver"></ion-input>
        </ion-item>
        <ion-text *ngIf="this.completeExistingWorkOrder.get('tractorDriver').hasError('required')"
          class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Tractor Driver required</ion-text>

        <ion-item>
          <ion-label position="floating">Field Address (if known)</ion-label>
          <ion-input formControlName="fieldAddress" placeholder="Enter Field Address"></ion-input>
        </ion-item>
        <ion-text *ngIf="this.completeExistingWorkOrder.get('fieldAddress').hasError('required')"
          class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Field Address required</ion-text>

        <ion-item>
          <ion-label position="floating">Customer Phone</ion-label>
          <ion-input formControlName="phone" placeholder="Enter Customer Phone"></ion-input>
        </ion-item>
        <ion-text *ngIf="this.completeExistingWorkOrder.get('phone').hasError('required')"
          class="text-xs font-semibold font-Lato text-red-500 ml-5 mt-1">Phone required</ion-text>

      </div>
      <ion-button [disabled]="this.completeExistingWorkOrder.invalid" expand="block" class="mt-5 font-Lato text-white"
        (click)="navigateTo('/tabs/home/farming')">Generate Ticket
      </ion-button>
    </div>
  </form>
</ion-content>
