
<app-header [title]="'Truck Driver Setup'" [color]="'harvesting'"></app-header>

<ion-content>
  <app-timer [value]="'13:03:344'"></app-timer>

<div class="p-2 px-4">
  <form [formGroup]="driverSetupForm">
<div class="col-span-12 mb-4 mt-3">
  <label class="block text-sm font-medium text-gray-700">Truck Diver <span *ngIf="this.driverSetupForm.get('truck_driver').hasError('required')" class="text-red-400" >*</span></label>
  <input
    class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
    formControlName="truck_driver" placeholder="Truck Driver">
</div>
<ion-button expand="block" class="font-Lato font-white text-white mt-4" (click)="add()" [disabled]="driverSetupForm.invalid">Add</ion-button>
</form>
<ion-card class="card bg-f2f3f5 opacity-100 shadow-none">
  <ion-grid >
    <ion-row class="">
      <ion-col size="12"  class="">
        <div class="flex justify-between items-center px-3 py-2   bg-5bbe62 bg-opacity-20">
          <h1 class="font-Lato text-base text-black font-semibold">Truck Drivers</h1>
          <span class="font-Lato text-base font-semibold text-5bbe62">10</span>
        </div>
      </ion-col>
    </ion-row>

  <ion-row class="m-1">
    <ion-col size="6" class="p-5 border-b-2">
      <div class="font-Lato font-semibold">Mike </div>
    </ion-col>
    <ion-col size="6" class="p-5 border-b-2">
      <div class="font-Lato 	">William</div>
    </ion-col>
    <ion-col size="6" class="p-5 border-b-2">
      <div class="font-Lato font-semibold	">Mike </div>
    </ion-col>
    <ion-col size="6" class="p-5 border-b-2">
      <div class="font-Lato">William</div>
    </ion-col>
    <ion-col size="6" class="p-5 border-b-2">
      <div class="font-Lato font-semibold	">Mike </div>
    </ion-col>
    <ion-col size="6" class="p-5 border-b-2">
      <div class="font-Lato">William</div>
    </ion-col>
    <ion-col size="6" class="p-5 border-b-2">
      <div class="font-Lato font-semibold	">Mike </div>
    </ion-col>
    <ion-col size="6" class="p-5 border-b-2">
      <div class="font-Lato">William</div>
    </ion-col>
    <ion-col size="6" class="p-5">
      <div class="font-Lato font-semibold	">Mike </div>
    </ion-col>
    <ion-col size="6" class="p-5">
      <div class="font-Lato">William</div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-card>
<ion-button expand="block" class="font-Lato font-white text-white mt-4">Save</ion-button>

</div>
</ion-content>
