.disabledLi {
  pointer-events: none; //This makes it not clickable
  opacity: 0.6; //This grays it out to look disabled
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
