<app-header [title]="'Training Records'" [color]="'training'"></app-header>
<ion-content>
  <app-timer [value]="'11:22:00'"></app-timer>
<div class="h-5/6 mx-6">
  <div class="pt-4">
    <ion-text class="font-Lato text-636366">Select trainee and evaluation form to view training records</ion-text>
  </div>
  <form [formGroup]="recordsFrom">
    <ion-item class="mt-5">
      <ion-select formControlName="traineeSelect" placeholder="Select Trainee" interface="alert">
        <ion-select-option value="1">Mike Allen</ion-select-option>
        <ion-select-option value="2">Ben Hehr</ion-select-option>
      <ion-select-option value="2">John wick</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item class="mt-6">
    <ion-select formControlName="evaluationSelect" placeholder="Evaluation Form" interface="alert" (ionChange)="onSelectEvaluation($event)">
      <ion-select-option value="pre-check">Pre-Trip Check</ion-select-option>
      <ion-select-option value="basic-skills">Basic Skills</ion-select-option>
      <ion-select-option value="road-skills">Road Test Skills</ion-select-option>
      <ion-select-option value="summary">Summary</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item class="mt-6" *ngIf="!(evaluationType === 'summary')">
    <ion-select formControlName="evaluationTypeSelect" placeholder="Type of Evaluation Form" interface="alert" (ionChange)="onSelect($event)">
      <ion-select-option value="paper-form">Paper Form</ion-select-option>
      <ion-select-option value="digital-form">Digital Form</ion-select-option>
    </ion-select>
  </ion-item>
</form>
</div>
<div class="">
  <ion-button expand="block" class="close-out-button font-Lato mb-4 mt-0 mx-8 bg-opacity-10 text-white" (click)="navigate()">Search Training Records</ion-button>
</div>
</ion-content>
