<app-header [title]="'Training Records'" [color]="'training'"></app-header>
<ion-content>
  <app-timer [value]="'11:22:00'"></app-timer>
<div class="h-5/6 mx-6">
  <div class="pt-4">
    <ion-text class="font-Lato text-636366">Select trainee and evaluation form to view training records</ion-text>
  </div>
  <form [formGroup]="recordsFrom">

  <div class="col-span-12 mb-4">
    <label class="block text-sm font-medium text-gray-700">Trainee</label>
    <ion-select
      class="mt-1 w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
      formControlName="traineeSelect" placeholder="Select Trainee">
      <ion-select-option value="1">Mike Allen</ion-select-option>
      <ion-select-option value="2">Ben Hehr</ion-select-option>
    <ion-select-option value="2">John wick</ion-select-option>
      </ion-select>
  </div>
  <div class="col-span-12 mb-4">
    <label class="block text-sm font-medium text-gray-700">Evaluaton Form</label>
    <ion-select
      class="mt-1 w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
      formControlName="evaluationSelect" placeholder="Evaluation Form" (ionChange)="onSelect($event)">
      <ion-select-option value="pre-check">Pre-Trip Check</ion-select-option>
      <ion-select-option value="basic-skills">Basic Skills</ion-select-option>
      <ion-select-option value="road-skills">Road Test Skills</ion-select-option>
      <ion-select-option value="summary">Summary</ion-select-option>
      </ion-select>
  </div>

  <div class="col-span-12 mb-4" *ngIf="!(formtype === 'summary')">
    <label class="block text-sm font-medium text-gray-700">Type of Evaluaton Form</label>
    <ion-select
      class="mt-1 w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
      formControlName="evaluationSelect" placeholder="Evaluation Form" (ionChange)="onSelectEvaluation($event)">
      <ion-select-option value="paper-form">Paper Form</ion-select-option>
      <ion-select-option value="digital-form">Digital Form</ion-select-option>
      </ion-select>
  </div>
</form>
</div>
<div class="">
  <ion-button expand="block" class="close-out-button font-Lato mb-4 mt-0 mx-8 bg-opacity-10 text-white" (click)="navigate()">Search Training Records</ion-button>
</div>
</ion-content>
