.emailBtn {
    --background: #1E3A8A;
}

::ng-deep ion-accordion-group {
    ion-accordion {
        ion-item {
            ion-icon {
                color: white;
                background-color: rgb(248 113 113);
                border-radius: 100%;
                margin: 0px;
            }
        }
    }
}

.accordionItem::part(native) {
    padding: 0px;
    color: rgb(120,120,120);
}
