<app-header [title]="['Pre-Trip Check Form Truck/Trailer']" [color]="'preTripForm'"></app-header>

<ion-content>
  <!-- <app-timer [value]="'12-12-2020'"></app-timer> -->

  <div class="p-4">
    <ion-row>
      <ion-col size="4">
        <ion-label class="text-9B9BA4">Date</ion-label>
      </ion-col>
      <ion-col>
        <ion-label class="font-semibold">{{data.created_at |
          date:'MMMM dd, yyyy'}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <ion-label class="text-9B9BA4">Truck Driver</ion-label>
      </ion-col>

      <ion-col>
        <ion-label class="font-semibold">{{data.inspected_by}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-card class="ml-0 mr-0 bg-slate-200">
      <ion-card-content class="p-0">
        <ion-grid>
          <ion-row class="flex items-center">
            <ion-col size="2">
              <div class="bg-white rounded-full flex justify-center items-center w-12 h-12">
                <ion-icon name="mail-outline" class="text-3xl text-blue-900"></ion-icon>
              </div>
            </ion-col>
            <ion-col size="6">
              <label class="font-semibold">Send inspected items list via email</label>
            </ion-col>
            <ion-col size="4">
              <ion-button class="text-white emailBtn float-right	">Send Email</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <div class="flex justify-center items-center h-64" *ngIf="!dataLoaded">
      <ion-spinner name="crescent" mode="indeterminate" color="primary"
        style="height: 70px; width: 70px;"></ion-spinner>
    </div>

    <ion-card class="ml-0 mr-0" *ngIf="dataLoaded">
      <ion-grid class="bg-slate-200">
        <ion-row class="px-0">
          <ion-col size="7">
            <ion-card-title class="float-left flex justify-center text-xl font-Lato ">All Inspected Items
            </ion-card-title>
          </ion-col>
          <ion-col size="5">
            <ion-card-title class=" flex justify-center text-xl font-Lato ">Status</ion-card-title>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-card-content class="p-0">
        <ion-grid>
          <div *ngFor="let item of items;">

            <div *ngIf="item.status === 'Satisfactory'">
              <ion-row class="px-0 py-1">
                <ion-col size="6" class="flex items-center">
                  <label class=" float-left flex justify-center font-Lato ">{{item.value}}
                  </label>
                </ion-col>
                <ion-col class="p-0 flex">
                  <div class="flex justify-center items-center">
                    <span
                      class="font-Lato text-white w-32 ml-1 h-6 bg-project-green rounded-full flex justify-center items-center">
                      {{item.status}}</span>
                  </div>
                </ion-col>
              </ion-row>
            </div>

            <div *ngIf="item.status === 'Unsatisfactory'">
              <ion-accordion-group>
                <ion-accordion value="first">
                  <ion-item class="font-Lato accordionItem" slot="header">
                    <ion-grid>

                      <ion-row class="px-0 py-1">
                        <ion-col size="6" class="flex items-center p-0">
                          <label class="font-Lato float-left flex justify-center">{{item.value}}
                          </label>
                        </ion-col>
                        <ion-col class="p-0 flex justify-end">
                          <div class="flex justify-center items-center">
                            <span
                              class="font-Lato text-white w-32 h-6 bg-red-400 rounded-full flex justify-center items-center">
                              {{item.status}}</span>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>

                  </ion-item>
                  <ion-row class="bg-red-400 mx-2 px-4 py-2 text-white rounded-lg" slot="content">
                    <ion-text>{{item.description}}</ion-text>
                  </ion-row>
                </ion-accordion>
              </ion-accordion-group>
            </div>
          </div>
        </ion-grid>
      </ion-card-content>

      <!-- <ion-button expand="block" class="mt-5 font-Lato text-white" [routerLink]="'/complete-pre-check-form'">
        Close
      </ion-button> -->
    </ion-card>

  </div>
</ion-content>
